{% extends "_templates/page-template.html" %}

{% set pageHeading = "Commissions" %}
{% set backLink = "false" %}
{% set primaryNavActive = "Commissions" %}
{% set pageType = "Account" %}

{% block content %}

  


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-l">{{ caption }} </span>
      <!-- <h1 class="govuk-heading-l">{{ pageHeading }}</h1> -->
    </div>

    <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
    
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">[Unique ID]  KS4 Technical Awards 2024</h2> 
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
              Further documentation<span class="govuk-visually-hidden"> Link to documentation</span>
            </a>
          </li>
          
          <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
              Feedback<span class="govuk-visually-hidden">Feedback</span>
            </a>
          </li>
        </ul>
        
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Background/Context 
            </dt>
            <dd class="govuk-summary-list__value">
              Review of qualification content overlap to support performance table discounting.  The aim of this exercise is to understand whether there is an overlap in the subject content covered by the below qualifications and, if so, the extent of this overlap. This is to support allocation of discount codes to qualifications in performance tables. Discounting ensures that where a pupil has taken two or more qualifications with an overlap in curriculum, the performance tables only give credit once for teaching a single course of study. 
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Subject <br>Qualification type<br>Level<p></p>Subject<br>Qualification type<br>Level<br><p></p>Subject <br>Qualification type<br>Level
            </dt>
            <dd class="govuk-summary-list__value">
              Construction and the Built Environment (Technical Award)<br>Vocational Award<br>WJEC Level 1/2 <p></p>Constructing and Maintaining the Built Environment<br>Technical Award <br>City & Guilds Level 2 <p></p>Construction and the Built Environment <br>Technical Award <br>Pearson BTEC Level 1/Level 2 <p></p>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Start date <br>Completion date 
            </dt>
            <dd class="govuk-summary-list__value">
              December 2023 <br> March 2024
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              PO Number <br>Rate of pay <br>Approx no. of days
            </dt>
            <dd class="govuk-summary-list__value">
              OFQ0020 <br>£255 per day <br>1.5 days
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Ofqual contact 
            </dt>
            <dd class="govuk-summary-list__value">
              Caroline Richards
            </dd>
          </div>

        </dl>
      </div>
    </div>  

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Completed projects
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <!-- <p class='govuk-body'>This is the content for Writing well for the web.</p> -->
          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">[Unique ID]  Review of Technical Qualifications – Health & Science</h2> 
              <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                    Further documentation<span class="govuk-visually-hidden"> Link to documentation</span>
                  </a>
                </li>
                
                <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                    Feedback<span class="govuk-visually-hidden">Feedback</span>
                  </a>
                </li>
              </ul>
              
            </div>
            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Background/Context 
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <p class="govuk-body govuk-!-font-weight-bold"></p>
                    Review and comment on the draft AO assessment materials for Health & Science – Health, Healthcare Science and Science. 
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Subject <br>Qualification type<br>Level
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Technical qualification is Health Care and Science<br>Vocational Award<br>Level 3 
                  </dd>
                </div>
      
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Start date <br>Completion date 
                  </dt>
                  <dd class="govuk-summary-list__value">
                    December 2023 <br> March 2024
                  </dd>
                </div>
      
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    PO Number <br>Rate of pay <br>Approx no. of days
                  </dt>
                  <dd class="govuk-summary-list__value">
                    OFQ0020 <br>£255 per day <br>1.5 days
                  </dd>
                </div>
      
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Ofqual contact 
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Caroline Richards
                  </dd>
                </div>
      
              </dl>
            </div>
          </div> 
        </div>

      </div>

      
    </div>

  

      
    <!--End of cards section-->

    
    </div>
  </div>

{% endblock %}