
{% extends "_templates/form-template.html" %}

{% set formAction = "/application/select-sector-answer" %}

{% set pageHeading = "Select a route" %}

{% block formContent %}

    {# {% for route in data.routes %}
      test
    {% endfor %}

  {% set routeOptions = [] %}
    {% for route in data.routes %}
      {% set routeOptions = routes | push ({
        text: route
      }) %}
  {% endfor %} #}

  {% set routes = []  %}

  {% for route in data.routeData  %}
    {% set routes = routes | push ({ 
      text: route.name
    }) %}
  {% endfor %}

  {{ routes | log }}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: pageHeading,
        classes: "govuk-fieldset__legend--l",
        isPgeHeading: true
      }
    },
    _hint: {
      text: "You will be able to add another sector after you finished telling us about the first one."
    },
   items: routes
  } | decorateAttributes(data, "data.selectedRoute")) }}

  {% set detailsHtml %}
    <p class="govuk-body">
      If you can't find your route choose the closest match.
    </p>
  {% endset %}

  {{ govukDetails({
    summaryText: "I can't find my route",
    text: detailsHtml | safe
  }) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
    <a class="govuk-link" href="/application">Cancel</a>
  </div>

{% endblock %}
