{% extends "_templates/page-template.html" %}

{% set pageHeading = "Your details - Additional application" %}
{% set subHeading = "Additional application" %}
{% set backLink = "false" %}
{% set primaryNavActive = "Your details" %}
{% set pageType = "Account" %}
{% set pageTypeSub = "Application" %}

{% block content %}
  <!-- <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
  {%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
  {{ mojSubNavigation({
    label: 'Sub navigation',
    items: [{
      text: 'Personal details',
      href: '/account/your-details/'
    }, {
      text: 'Detailed application outcomes',
      href: '/account/your-details/subjects'
    }, {
      text: 'Conflict of interest',
      href: '/account/your-details/conflict-of-interest'
    }, {
      text: 'Self declaration',
      href: '/account/your-details/self-declaration'
    }, {
      text: 'Application',
      href: '/account/your-details/application',
      active: true
    }]
  }) }} -->

  {% if data.outcomeOverview1 == "true" %}
  {%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third-from-desktop">
      {{ mojSideNavigation({
        label: 'Side navigation',
        items: [{
          text: 'Application outcomes',
          href: '/account/your-details/outcome-overview'
        }, {
          text: 'Applications',
          href: '/account/your-details/applications-table',
          active: true
        },{
          text: 'Personal information',
          href: '/account/your-details/'
        }, {
          text: 'Education details',
          href: '/account/your-details/education-details'
        },{
          text: 'Work history',
          href: '/account/your-details/work-history'
        },{
          text: 'Professional memberships',
          href: '/account/your-details/professional-memberships'
        },{
          text: 'References',
          href: '/account/your-details/references'
        }, {
          text: 'Conflicts of interest',
          href: '/account/your-details/conflict-of-interest'
        }, {
          text: 'Self declaration',
          href: '/account/your-details/self-declaration'
        }
        ]
      }) }}
    </div>
{% else %}
  {%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third-from-desktop">
      {{ mojSideNavigation({
        label: 'Side navigation',
        items: [{
          text: 'Personal information',
          href: '/account/your-details/'
        }, {
          text: 'Detailed application outcomes',
          href: '/account/your-details/subjects'
        }, {
          text: 'References',
          href: '/account/your-details/references'
        }, {
          text: 'Conflicts of interest',
          href: '/account/your-details/conflict-of-interest'
        }, {
          text: 'Self declaration',
          href: '/account/your-details/self-declaration'
        }, {
          text: 'Application',
          href: '/account/your-details/application',
          active: true
        }
        ]
      }) }}
    </div>
{% endif %}
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/account/your-details/applications-table">Applications</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/account/your-details/application">Additional application</a>
          </li>
        </ol>
      </div>
      <h1 class="govuk-heading-l">{{ subHeading }}</h1>
          {# Include all the application sections #}
          <h2 class="govuk-heading-m">Subjects or occupational areas</h2>
          <section class="x-govuk-summary-card">
            <header class="x-govuk-summary-card__header">
              <h2 class="x-govuk-summary-card__title">
                Asbestos analyst and surveyor (End-point assessment - level 3)
              </h2>
            </header>
            <div class="x-govuk-summary-card__body">
            <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Subject
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Asbestos analyst and surveyor
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Qualification type
                    </dt>
                    <dd class="govuk-summary-list__value">
                      End-Point Assessment
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Qualification level
                    </dt>
                    <dd class="govuk-summary-list__value">
                      3
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      What type(s) of experience do you have for this subject or occupational area?
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <ul class="govuk-list">
                        <li>
                          Teaching, lecturing or training
                        </li>
                    </ul>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Which teaching, lecturing or training activities or responsibilities are you experienced in for this subject or occupational area?
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <ul class="govuk-list">
                        <li>
                          Educational management
                        </li>
                        <li>
                          Training
                        </li>
                        <li>
                          Teacher Training
                        </li>
                    </ul>
                    </dd>
                  </div>
            </dl>
            </div>
          </section>
          <h2 class="govuk-heading-m">Evidence of experience</h2>
          <h3 class="govuk-heading-s">Teaching, lecturing or training experience</h3>
          {% include "_includes/summary-cards/teaching-experience.html" %}
    <div>
  </div>
{% endblock %}