{% extends "_templates/page-template.html" %}

{% set pageHeading = "Application" %}
{% set backLink = "false" %}
{% set primaryNavActive = "Your details" %}
{% set pageType = "Account" %}

{% block content %}
  {%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      {{ mojSideNavigation({
        label: 'Side navigation',
        items: [{
          text: 'Personal details',
          href: '/account/your-details/'
        }, {
          text: 'Subject or occupational areas',
          href: '/account/your-details/subjects'
        }, {
          text: 'Conflict of interest',
          href: '/account/your-details/conflict-of-interest'
        }, {
          text: 'Self declaration',
          href: '/account/your-details/self-declaration'
        }, {
          text: 'Application',
          href: '/account/your-details/application',
          active: true
        }
        ]
      }) }}
    </div>
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
      {% include "_includes/summary-cards/application-status.html" %}
      {# Include all the application sections #}
      {% include "_includes/shared/application-sections.html" %}
    <div>
  </div>
{% endblock %}