{% extends "_templates/page-template.html" %}

{% set pageHeading = "Your details - Application" %}
{% set subHeading = "Application" %}
{% set backLink = "false" %}
{% set primaryNavActive = "Your details" %}
{% set pageType = "Account" %}
{% set pageTypeSub = "Application" %}

{% block content %}
  <!-- <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
  {%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
  {{ mojSubNavigation({
    label: 'Sub navigation',
    items: [{
      text: 'Personal details',
      href: '/account/your-details/'
    }, {
      text: 'Subject or occupational areas',
      href: '/account/your-details/subjects'
    }, {
      text: 'Conflict of interest',
      href: '/account/your-details/conflict-of-interest'
    }, {
      text: 'Self declaration',
      href: '/account/your-details/self-declaration'
    }, {
      text: 'Application',
      href: '/account/your-details/application',
      active: true
    }]
  }) }} -->

  {%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third-from-desktop">
      {{ mojSideNavigation({
        label: 'Side navigation',
          items: [{
            text: 'Personal information',
            href: '/account/your-details/'
          }, {
            text: 'Subject or occupational areas',
            href: '/account/your-details/subjects'
          }, {
            text: 'References',
            href: '/account/your-details/references'
          }, {
            text: 'Conflicts of interest',
            href: '/account/your-details/conflict-of-interest'
          }, {
            text: 'Self declaration',
            href: '/account/your-details/self-declaration'
          }, {
            text: 'Application',
            href: '/account/your-details/application',
            active: true
          }]
      }) }}
    </div>
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">{{ subHeading }}</h1>
      {% include "_includes/summary-cards/application-status.html" %}
      {% if data.applicationStatus == "Accepted" %}
        <section class="govuk-!-margin-bottom-8">
          <h2 id="subject-status" class="govuk-heading-m govuk-!-font-size-27">Status by subject or occupational area</h2>
          {% include "_includes/summary-cards/subject-status.html" %}
        </section>
      {% endif %}

      {# Include all the application sections #}
      {% include "_includes/shared/application-sections.html" %}
    <div>
  </div>
{% endblock %}