{% extends "_templates/page-template.html" %}

{% set pageHeading = "Your details - Applications" %}
{% set subHeading = "Applications" %}
{% set backLink = "false" %}
{% set primaryNavActive = "Your details" %}
{% set pageType = "Account" %}
{% set pageTypeSub = "Application" %}

{% block content %}
  <!-- <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
  {%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
  {{ mojSubNavigation({
    label: 'Sub navigation',
    items: [{
      text: 'Personal details',
      href: '/account/your-details/'
    }, {
      text: 'Detailed application outcomes',
      href: '/account/your-details/subjects'
    }, {
      text: 'Conflict of interest',
      href: '/account/your-details/conflict-of-interest'
    }, {
      text: 'Self declaration',
      href: '/account/your-details/self-declaration'
    }, {
      text: 'Application',
      href: '/account/your-details/application',
      active: true
    }]
  }) }} -->

  {% if data.outcomeOverview1 == "true" %}
  {%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third-from-desktop">
      {{ mojSideNavigation({
        label: 'Side navigation',
        items: [{
          text: 'Application outcomes',
          href: '/account/your-details/outcome-overview'
        }, {
          text: 'Applications',
          href: '/account/your-details/applications-table',
          active: true
        },{
          text: 'Personal information',
          href: '/account/your-details/'
        }, {
          text: 'Education details',
          href: '/account/your-details/education-details'
        },{
          text: 'Work history',
          href: '/account/your-details/work-history'
        },{
          text: 'Professional memberships',
          href: '/account/your-details/professional-memberships'
        },{
          text: 'References',
          href: '/account/your-details/references'
        }, {
          text: 'Conflicts of interest',
          href: '/account/your-details/conflict-of-interest'
        }, {
          text: 'Self declaration',
          href: '/account/your-details/self-declaration'
        }
        ]
      }) }}
    </div>
{% else %}
  {%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third-from-desktop">
      {{ mojSideNavigation({
        label: 'Side navigation',
        items: [{
          text: 'Personal information',
          href: '/account/your-details/'
        }, {
          text: 'Detailed application outcomes',
          href: '/account/your-details/subjects'
        }, {
          text: 'References',
          href: '/account/your-details/references'
        }, {
          text: 'Conflicts of interest',
          href: '/account/your-details/conflict-of-interest'
        }, {
          text: 'Self declaration',
          href: '/account/your-details/self-declaration'
        }, {
          text: 'Application',
          href: '/account/your-details/application',
          active: true
        }
        ]
      }) }}
    </div>
{% endif %}
<div class="govuk-grid-column-two-thirds-from-desktop">
  <h1 class="govuk-heading-l">{{ subHeading }}</h1>
 <!-- // note for future, this reveals the additional application it's a bit of a hack, but done for some quick UR // -->
 {% if not data.additionalTeachingExpertise %}
 <table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Your applications</th>
      <th scope="col" class="govuk-table__header">Created date</th>
      <th scope="col" class="govuk-table__header">Status</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="/account/your-details/application" class="govuk-link">Application</a></td>
      <td class="govuk-table__cell">01 January 2023</td>
      <td class="govuk-table__cell">Approved</td>
    </tr>
    </tbody>
  </table>
  {% else %}
  <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
  aria-labelledby="govuk-notification-banner-title"
  data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      Additional application submitted
    </h3>
    <p class="govuk-body">You should recieve your outcomes within 60 days</p>
  </div>
</div>      
<table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Your applications</th>
            <th scope="col" class="govuk-table__header">Created date</th>
            <th scope="col" class="govuk-table__header">Status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/account/your-details/application" class="govuk-link">Application</a></td>
            <td class="govuk-table__cell">01 January 2023</td>
            <td class="govuk-table__cell">Approved</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/account/your-details/additional-application1" class="govuk-link">Additional application</a></td>
            <td class="govuk-table__cell"><time datetime="">{{ "" | today |  govukDate }}</time></td>
            <td class="govuk-table__cell">Awaiting decision</td>
          </tr>
        </tbody>
      </table>
{% endif %}
      <div class="govuk-inset-text">
        <p>You can reapply for any usuccessful areas or apply for new subjects, levels and activities. </p>
        <a href="/account/your-details/application/additional-subject-search" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
          Start an additional application
        </a>
      </div>
    <div>
  </div>
{% endblock %}