{% extends "_templates/page-template.html" %}

{% set pageHeading = "Your details - Subject or occupational areas" %}
{% set subHeading = "Detailed application outcomes" %}
{% set backLink = "false" %}
{% set primaryNavActive = "Your details" %}
{% set pageType = "Account" %}
{% set pageTypeSub = "Your details" %}

{% block content %}
  {%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third-from-desktop">
      {{ mojSideNavigation({
        label: 'Side navigation',
        items: [{
          text: 'Application outcomes',
          href: '/account/your-details/outcome-overview',
          active: true
        }, {
          text: 'Applications',
          href: '/account/your-details/applications-table'
        },{
          text: 'Personal information',
          href: '/account/your-details/'
        }, {
          text: 'Education details',
          href: '/account/your-details/education-details'
        },{
          text: 'Work history',
          href: '/account/your-details/work-history'
        },{
          text: 'Professional memberships',
          href: '/account/your-details/professional-memberships'
        },{
          text: 'References',
          href: '/account/your-details/references'
        }, {
          text: 'Conflicts of interest',
          href: '/account/your-details/conflict-of-interest'
        }, {
          text: 'Self declaration',
          href: '/account/your-details/self-declaration'
        }
        ]
      }) }}
    </div>
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <a href="/account/your-details/outcome-overview" class="govuk-back-link">Back to outcome overview</a>
      <h1 class="govuk-heading-l">{{ subHeading }}</h1>
        <p>Outcomes for the subjects and occupational areas, qualification levels and activities you have applied for. </p>
        <div class="govuk-inset-text">
          <p>You can reapply for any usuccessful areas or apply for new subjects, levels and activities from <a href="/account/your-details/applications-table" class="govuk-link">your application page</a>.</p>
        </div>
        <section class="govuk-!-margin-bottom-8">
        {% include "_includes/summary-cards/subject-level-status.html" %}

        <nav class="govuk-pagination" role="navigation" aria-label="results">
          <ul class="govuk-pagination__list">
            <li class="govuk-pagination__item govuk-pagination__item--current">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">
                1
              </a>
            </li>
            <li class="govuk-pagination__item">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
                2
              </a>
            </li>
            <li class="govuk-pagination__item">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
                3
              </a>
            </li>
          </ul>
          <div class="govuk-pagination__next">
            <a class="govuk-link govuk-pagination__link" href="#" rel="next"> <span class="govuk-pagination__link-title">Next</span> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
              </svg></a>
          </div>
        </nav>
        {% endblock %}
      </section>
      
    </div>
  </div>
  
  