{% extends "_templates/page-template.html" %}

{% set pageHeading = "Your details - References" %}
{% set subHeading = "References" %}
{% set backLink = "false" %}
{% set primaryNavActive = "Your details" %}
{% set pageType = "Account" %}
{% set pageTypeSub = "Your details" %}

{% block content %}
{% if data.outcomeOverview1 == "true" %}
{%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third-from-desktop">
    {{ mojSideNavigation({
      label: 'Side navigation',
      items: [{
        text: 'Personal information',
        href: '/account/your-details/'
      }, {
        text: 'Application outcomes',
        href: '/account/your-details/outcome-overview'
      }, {
        text: 'References',
        href: '/account/your-details/references',
        active: true
      }, {
        text: 'Conflicts of interest',
        href: '/account/your-details/conflict-of-interest'
      }, {
        text: 'Self declaration',
        href: '/account/your-details/self-declaration'
      }, {
        text: 'Application',
        href: '/account/your-details/application'
      }
      ]
    }) }}
  </div>
{% else %}
{%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third-from-desktop">
    {{ mojSideNavigation({
      label: 'Side navigation',
      items: [{
        text: 'Personal information',
        href: '/account/your-details/'
      }, {
        text: 'Detailed application outcomes',
        href: '/account/your-details/subjects'
      }, {
        text: 'References',
        href: '/account/your-details/references',
        active: true
      }, {
        text: 'Conflicts of interest',
        href: '/account/your-details/conflict-of-interest'
      }, {
        text: 'Self declaration',
        href: '/account/your-details/self-declaration'
      }, {
        text: 'Application',
        href: '/account/your-details/application'
      }
      ]
    }) }}
  </div>
{% endif %}
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">{{ subHeading }}</h1>
      {% include "_includes/summary-cards/references.html" %}
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Provide another reference",
          href: "/add-reference"
        }) }}
      </div>
    </div>

{% endblock %}