{% extends "_templates/page-template.html" %}

{% set pageHeading = "Your details - Self declaration" %}
{% set subHeading = "Self declaration" %}
{% set backLink = "false" %}
{% set primaryNavActive = "Your details" %}
{% set pageType = "Account" %}
{% set pageTypeSub = "Your details" %}

{% block content %}
<!--   <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
  {%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
  {{ mojSubNavigation({
    label: 'Sub navigation',
    items: [{
      text: 'Personal details',
      href: '/account/your-details/'
    }, {
      text: 'Detailed application outcomes',
      href: '/account/your-details/subjects'
    }, {
      text: 'Conflicts of interest',
      href: '/account/your-details/conflict-of-interest'
    }, {
      text: 'Self declaration',
      href: '/account/your-details/self-declaration',
      active: true
    }, {
      text: 'Application',
      href: '/account/your-details/application'
    }]
  }) }} -->

  {% if data.outcomeOverview1 == "true" %}
  {%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third-from-desktop">
      {{ mojSideNavigation({
        label: 'Side navigation',
        items: [{
          text: 'Personal information',
          href: '/account/your-details/'
        }, {
          text: 'Application outcomes',
          href: '/account/your-details/outcome-overview'
        }, {
          text: 'References',
          href: '/account/your-details/references'
        }, {
          text: 'Conflicts of interest',
          href: '/account/your-details/conflict-of-interest'
        }, {
          text: 'Self declaration',
          href: '/account/your-details/self-declaration',
          active: true
        }, {
          text: 'Application',
          href: '/account/your-details/application'
        }
        ]
      }) }}
    </div>
{% else %}
  {%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third-from-desktop">
      {{ mojSideNavigation({
        label: 'Side navigation',
        items: [{
          text: 'Personal information',
          href: '/account/your-details/'
        }, {
          text: 'Detailed application outcomes',
          href: '/account/your-details/subjects'
        }, {
          text: 'References',
          href: '/account/your-details/references'
        }, {
          text: 'Conflicts of interest',
          href: '/account/your-details/conflict-of-interest'
        }, {
          text: 'Self declaration',
          href: '/account/your-details/self-declaration',
          active: true
        }, {
          text: 'Application',
          href: '/account/your-details/application'
        }
        ]
      }) }}
    </div>
{% endif %}
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">{{ subHeading }}</h1>
      {% include "_includes/summary-cards/self-declaration.html" %}
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Request changes",
          href: "/change-self-declaration"
        }) }}
      </div>
    </div>
  

{% endblock %}