{% extends "_templates/page-template.html" %}

{% set pageHeading = "Your details - Subject or occupational areas" %}
{% set subHeading = "Subject or occupational areas" %}
{% set backLink = "false" %}
{% set primaryNavActive = "Your details" %}
{% set pageType = "Account" %}
{% set pageTypeSub = "Your details" %}

{% block content %}
  {%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third-from-desktop">
      {{ mojSideNavigation({
        label: 'Side navigation',
        items: [{
          text: 'Personal information',
          href: '/account/your-details/'
        }, {
          text: 'Subject or occupational areas',
          href: '/account/your-details/subjects',
          active: true
        }, {
          text: 'References',
          href: '/account/your-details/references'
        }, {
          text: 'Conflict of interest',
          href: '/account/your-details/conflict-of-interest'
        }, {
          text: 'Self declaration',
          href: '/account/your-details/self-declaration'
        }, {
          text: 'Application',
          href: '/account/your-details/application'
        }
        ]
      }) }}
    </div>
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">{{ subHeading }}</h1>
      {% if data.applicationStatus == "Accepted" %}
        <p>Here is a list of the subjects and occupational areas you have been approved for. </p>
        <p>To see the subject or occupational areas you have applied for, which were not approved <a class="govuk-link" href="/account/your-details/application">view your application</a>.</p>
        {% else %}
          <p>Here you can view all the subjects and occupational areas you applied for and status of your application for each. </p>
          <p><a class="govuk-link" href="/account/your-details/application">View full application</a></p>
      {% endif %}
      <section class="govuk-!-margin-bottom-8">
        {% include "_includes/summary-cards/subject-status.html" %}
      </section>
    </div>
  </div>
{% endblock %}