{% extends "_templates/page-template.html" %}

{% set pageHeading = "Your details - Work history" %}
{% set subHeading = "Work history" %}
{% set backLink = "false" %}
{% set primaryNavActive = "Your details" %}
{% set pageType = "Account" %}
{% set pageTypeSub = "Your details" %}

{% block content %}
{% if data.outcomeOverview1 == "true" %}
{%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third-from-desktop">
    {{ mojSideNavigation({
      label: 'Side navigation',
      items: [{
        text: 'Application outcomes',
        href: '/account/your-details/outcome-overview'
      }, {
        text: 'Applications',
        href: '/account/your-details/applications-table'
      }, {
        text: 'Personal information',
        href: '/account/your-details/'
      },  {
        text: 'Education details',
        href: '/account/your-details/education-details'
      },{
        text: 'Work history',
        href: '/account/your-details/work-history',
        active: true
      },{
        text: 'Professional memberships',
        href: '/account/your-details/professional-memberships'
      },{
        text: 'References',
        href: '/account/your-details/references'
      }, {
        text: 'Conflicts of interest',
        href: '/account/your-details/conflict-of-interest'
      }, {
        text: 'Self declaration',
        href: '/account/your-details/self-declaration'
      }
      ]
    }) }}
  </div>
{% else %}
{%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third-from-desktop">
    {{ mojSideNavigation({
      label: 'Side navigation',
      items: [{
        text: 'Personal information',
        href: '/account/your-details/'
      }, {
        text: 'Detailed application outcomes',
        href: '/account/your-details/subjects'
      }, {
        text: 'References',
        href: '/account/your-details/references',
        active: true
      }, {
        text: 'Conflicts of interest',
        href: '/account/your-details/conflict-of-interest'
      }, {
        text: 'Self declaration',
        href: '/account/your-details/self-declaration'
      }, {
        text: 'Application',
        href: '/account/your-details/application'
      }
      ]
    }) }}
  </div>
{% endif %}
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">{{ subHeading }}</h1>
      {% include "_includes/summary-cards/work-history.html" %}
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Add another role",
          href: ""
        }) }}
      </div>
    </div>

{% endblock %}