// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// Override the default GOV.UK Frontend font stack
$govuk-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Overrides
// @import "overrides/blank";

// Components
@import "components/autocomplete";
@import "components/dash-list";
@import "components/email-template";
@import "components/file-upload";
@import "components/notification-item";
@import "components/sidebar";
@import "components/subnav";
@import "components/timeline";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
