
{% extends "_templates/form-template.html" %}

{% set pageHeading = "Personal details" %}
{% set formAction = "./personal-details/where-do-you-live" %}

{{ data.personalDetailsCompleted | log }}

{% block formContent %}

  <h1 class="govuk-heading-l">Personal information</h1>

  {{ govukInput({
      label: {
        text: "Full name",
        classes: "govuk-label--s"
      },
      classes: "govuk-!-width-full-width",
      attributes: {
        spellcheck: "false"
      },
      type: "text"
  } | decorateAttributes(data, "data.fullName")) }}
  

  {{ govukInput({
    label: {
      text: "Telephone number",
      classes: "govuk-label--s"
    },
    hint: {
      text: "For international numbers include the country code" 
    },
    type: "tel",
    autocomplete: "tel",
    classes: "govuk-!-width-two-thirds"
 } | decorateAttributes(data, "data.telephone")) }}
  
  {{ govukInput({
    label: {
      text: "Email address",
      classes: "govuk-label--s"
    },
    type: "email",
    autocomplete: "email",
    spellcheck: false,
    value: "name@email.com"
  } | decorateAttributes(data, "data.email")) }}

  {% set detailsHtml %}
    <p class="govuk-body">The email address you provide here will be used for notifications and communication with Ofqual. It is not connected to your Gov.uk One Login account, which you used to log in to this service.  
    </p>
  {% endset %} 

  {{ govukDetails({
    summaryText: "What's this email address used for?",
    html: detailsHtml
  }) }} 

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
    <a class="govuk-link govuk-body" href="/application">Cancel</a>
  </div>

{% endblock %}
