{% extends "_templates/form-template.html" %}

{% set pageHeading = "Confirm personal details" %}
{% set backText = "Back to application" %}
{% set backLink = "/application" %}
{% set layoutWidth = "fullWidthLayout" %}
{% set referrer = "" %}

{# {% set formActionHref %}
  {%- if data.personalDetails == "complete" or data.personalDetails == "inProgress"  %}
    /application
  {%- else %}
    /application/personal-details/review?showPersonalDetailsErrors=true
  {% endif %}
{% endset %} #}

{# {% set formAction = formActionHref %} #}
{% set formAction = "/application" %}

{% block formContent %}

  <h1 class="govuk-heading-l">Review your personal details</h1>

  {% include "_includes/summary-cards/personal-details.html" %}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue",
      href: "./section-completed"
    }) }}
    <a class="govuk-link" href="/application">Cancel</a>
  </div>

{% endblock %}