
{% extends "_templates/form-template.html" %}

{% set formAction = "/assessment-expertise-answer" %}
{% set pageHeading = "What is the nature of your assessment expertise?" %}

{% block formContent %}

  {% set natureOtherHtml %}
    {{ govukInput({
      classes: "govuk-!-width-two-thirds",
      label: {
        text: "Provide details (optional)",
        classes: "govuk-label--s"
      }
    } | decorateAttributes(data, "data.expertiseType.assessmentOther")) }}
  {% endset -%}
  
  {{ govukCheckboxes({
    fieldset: {
      legend: {
        text: pageHeading,
        classes: "govuk-fieldset__legend--l",
        isPageHeading: true
      }
    },
    hint: {
      text: "Select all that apply"
    },
    items: [
      {
        text: "Author of assessment materials",
        hint: {
          text: "Question paper writer or mark scheme writer"
        }
      },
      {
        text: "Awarding qualifications or setting standards"
      },
      {
        text: "Designing or setting assessments"
      },
      {
        text: "Evaluation the effectiveness of assessments"
      },
      {
        text: "Examiner"
      },
      {
        text: "Examiner (Lead or principle)"
      },
      {
        text: "Marking assessments"
      },
      {
        text: "Moderation of assessment marking"
      },
      {
        text: "Researcher work on assessment policy and practices"
      },
      {
        text: "Reviewing performance of assessments"
      },
      {
        text: "Standardisation of assessment marking"
      },
      {
        divider: "or"
      },
      {
        text: "Something that isn't listed",
        conditional: {
          html: natureOtherHtml
        }
      }
    ]
  } | decorateAttributes(data, "data.expertiseType.assessment")) }}
  
  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
    <a class="govuk-link" href="/application">Cancel</a>
  </div>

{% endblock %}
