
{% extends "_templates/form-template.html" %}

{% set formAction = "/expertise-type-answer" %}
{% set pageHeading = "What types of expertise do you have?" %}

{% block formContent %}

  {{ govukCheckboxes ({
    fieldset: {
      legend: {
        text: pageHeading,
        classes: "govuk-fieldset__legend--l",
        isPageHeading: true      
      }
    },
    hint: {
      text: "Select all that apply"
    },
    items: [
      {
        text: "Assessment"
      },
      {
        text: "Industry or occupational"
      },
      {
        text: "Teaching, lecturing or training"
      }
    ]
  } | decorateAttributes(data, "data.expertiseType.type")) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
    <a class="govuk-link" href="/application">Cancel</a>
  </div>

{% endblock %}
