
{% extends "_templates/page-template.html" %}

{% set pageHeading = "Tell us about your types of expertise" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
      
      <p class="govuk-body">
        Ofqual is looking for three different types of expertise, teaching, assessment or industry. Please tell us which type(s) your experience fits into and the responsibilities or roles you have undertaken to evidence your expertise in that area.
      </p>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue",
          href: "./expertise-type/expertise-type"
        }) }}
      </div>

    </div>
  </div>

{% endblock %}
