{% extends "_templates/form-template.html" %}

{% set pageHeading = "Expertise details" %}
{% set backText = "Back to application" %}
{% set backLink = "/application" %}
{% set layoutWidth = "fullWidthLayout" %}
{% set referrer = "" %}

{# {% set formAction = formActionHref %} #}
{% set formAction = "/application" %}

{% block formContent %}

  <h1 class="govuk-heading-l">Confirm expertise detials</h1>

  {% include "_includes/summary-cards/expertise.html" %}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue",
      href: "./section-completed"
    }) }}
    <a class="govuk-link" href="/application">Cancel</a>
  </div>

{% endblock %}