
{% extends "_templates/form-template.html" %}

{% set formAction = "/application/professional-achievements/review" %}
{% set pageHeading = "Provide details of your professional achievements" %}

{% block formContent %}

  <h1 class="govuk-heading-l">Professional achievements</h1>

  <p class="govuk-body">
    Tell us about any additional skills and experience you have that may be relevant to your application to be a subject matter expert.
  </p>

  {% set detailsHtml %}
    <p class="govuk-body">Achievements in your roles such as professional awards, key note speaker, research, publication or consultancy achievements</p>
  {% endset %}

  {{ govukDetails({
    summaryText: "What should I include?",
    html: detailsHtml
  }) }}

  {{ govukCharacterCount({
    maxwords: 500,
    rows: "10",
    label: {
      text: pageHeading,
      classes: "govuk-label--m",
      isPageHeading: true
    }
   } | decorateAttributes(data, "data.professionalAchievementSummary")) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
    <a class="govuk-link" href="/application">Cancel</a>
  </div>

{% endblock %}
