
{% extends "_templates/form-template.html" %}

{% set pageHeading = "Your details" %}
{% set subHeading = "Personal information" %}
{% set primaryNavActive = "Your details" %}
{% set pageType = "Account" %}
{% set pageTypeSub = "Your details" %}
{% set formAction = "/account/your-details" %}

{{ data.personalDetailsCompleted | log }}

{% block formContent %}

  <h1 class="govuk-heading-l">{{ subHeading }}</h1> 

  {{ govukInput({
    label: {
      text: "Telephone number",
      classes: "govuk-label--s"
    },
    hint: {
      text: "For international numbers include the country code" 
    },
    type: "tel",
    autocomplete: "tel",
    classes: "govuk-!-width-two-thirds"
 } | decorateAttributes(data, "data.telephone")) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
    <a class="govuk-link govuk-body" href="/account/your-details">Cancel</a>
  </div>

{% endblock %}
