
{% extends "_templates/form-template.html" %}

{% set formAction = "./end-test" %}
{% set pageType = "Account" %}
{% set layoutWidth = "fullWidthLayout" %}

{% set captionHeading %}
  {# Coming from the assessment only route #}
  {% if data.referrer == "assessmentExpertise" %}
    {# Coming from the assessment only, qual only route #}
    {% if data.assessmentQual2 == "Yes" %}
      {% if data.selectedQualificationAssessmentOnly2 == "I don't know the qualification type" %}
        {% else %} 
          {{ data.selectedQualificationAssessmentOnly2 }}
      {% endif %}
      {# Coming from the assessment only, subject route #}
      {% else %}
      {% if data.selectedSubject2 and (data.resultQualType != "T Level" and data.resultQualType != "End-point assessment") %}
        {{ data.resultName }}
        {% if data.selectedQualificationAssessmentOnly2 == "I don't know the qualification type" %}
          {% else %} 
            ({{ data.selectedQualificationAssessmentOnly2 }})
        {% endif %}
        {# It is a subject with defined qual type and level #}
        {% else %}
        {{ data.selectedSubject2 }}
      {% endif %}
    {% endif %}
    {# Coming from the subject search #}
    {% else %}
    {# If its not an "other" subject, show the subject and qual type/level #}
    {% if data.selectedSubject2 and (data.resultQualType != "T Level" and data.resultQualType != "End-point assessment") %}
      {{ data.resultName }}
      {% if data.selectedQualification2 == "I don't know the qualification type" %}
        {% else %} 
          ({{ data.selectedQualification2 }})
      {% endif %}
      {# It is a subject with defined qual type and level #}
      {% else %}
      {{ data.selectedSubject2 }}
    {% endif %}
  {% endif %}
{% endset %}


{% set pageHeading %}
  What type(s) of experience do you have for this subject or occupational area?
{% endset %}


{% block formContent %}
{%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third-from-desktop">
      {{ mojSideNavigation({
        label: 'Side navigation',
        items: [{
          text: 'Application outcomes',
          href: '/account/your-details/outcome-overview'
        }, {
          text: 'Applications',
          href: '/account/your-details/applications-table',
          active: true
        },{
          text: 'Personal information',
          href: '/account/your-details/'
        }, {
          text: 'Education details',
          href: '/account/your-details/education-details'
        },{
          text: 'Work history',
          href: '/account/your-details/work-history'
        },{
          text: 'Professional memberships',
          href: '/account/your-details/professional-memberships'
        },{
          text: 'References',
          href: '/account/your-details/references'
        }, {
          text: 'Conflicts of interest',
          href: '/account/your-details/conflict-of-interest'
        }, {
          text: 'Self declaration',
          href: '/account/your-details/self-declaration'
        }
        ]
      }) }}
    </div>
  
    <div class="govuk-grid-column-two-thirds-from-desktop">
<span class="govuk-caption-l">{{ captionHeading }}</span>
<h1 class="govuk-heading-l">{{ pageHeading }}</h1>




<!-- Original nunjucks commented out for additional formatting in html below
 {{ govukCheckboxes({
    name: "additionalAssessmentExpertise",
    fieldset: {
      legend: {
        text: "Assessment",
        classes: "govuk-fieldset__legend--m"
      }
    },
    hint: {
      text: "Designing and developing, marking, standardising, moderating and researching assessment policy and practice in this subject"
    },
    items: [
      {
        value: "additionalAssessmentDesign",
        text: "Designing and developing assessments",  
        hint: {
          html: govukTag({
            text: "Approved",
            classes: "govuk-tag--green"
          })
        },
        disabled: "true",
        checked: "true"
      },
      {
        value: "additionalAssessmentMaking",
        text: "Making assessment judgements",
        hint: {
          html: govukTag({
            text: "Approved",
            classes: "govuk-tag--green"
          })
        },
        disabled: "true",
        checked: "true"
      },
      {
        value: "additionalAssessmentStandards",
        text: "Standard setting and awarding qualifications",
        hint: {
          html: govukTag({
            text: "Approved",
            classes: "govuk-tag--green"
          })
        },
        disabled: "true",
        checked: "true"
      },
      {
        value: "additionalAssessmentEvaluating",
        text: "Evaluating assessments or assessment approaches",
        hint: {
          html: govukTag({
            text: "Approved",
            classes: "govuk-tag--green"
          })
        },
        disabled: "true",
        checked: "true"
      }
    ]
  }) }}

  {{ govukCheckboxes({
    name: "additionalIndustryExpertise",
    fieldset: {
      legend: {
        text: "Industry, occupational or professional",
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        value: "additionalIndustry",
        text: "Industry, occupational or professional",
        hint: {
          html: govukTag({
            text: "Approved",
            classes: "govuk-tag--green"
          })
        },
        disabled: "true",
        checked: "true"
      }
    ]
  }) }}

  {{ govukCheckboxes({
    name: "additionalTeachingExpertise",
    fieldset: {
      legend: {
        text: "Teaching, lecturing or training",
        classes: "govuk-fieldset__legend--m"
      }
    },
    hint: {
      text: "Developing classroom materials, training others, knowledge of specifications and qualification standards in this subject, management of curriculum areas and organisation"
    },
    items: [
      {
        value: "addTeaching",
        text: "Teaching or lecturing",
        hint: {
          html: govukTag({
            text: "Approved",
            classes: "govuk-tag--green"
          })
        },
        disabled: "true",
        checked: "true"
      },
      {
        value: "addTraining",
        text: "Training",
        hint: {
          text: "Training and observing learners in the workplace"
        }
      },
      {
        value: "addEdMgt",
        text: "Educational management",
        hint: {
          text: "Managing curriculum in schools, college or university, responsible for subject departments or faculties, organisation responsibility"
        }
      },
      {
        value: "addTeachTraining",
        text: "Teacher training",
        hint: {
          text: "Teaching on a PGCE or similar course, tutoring, mentoring trainee teachers or trainers."
        }
      }
    ]
  }) }}
-->
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="Assessment options">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">
          Assessment
        </h2>
      </legend>
      <div id="assessment-expertise-hint" class="govuk-hint">
        Designing and developing, marking, standardising, moderating and researching assessment policy and practice in this subject
      </div>
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="additionalAssessmentDesign" name="additionalAssessmentDesign" type="checkbox" value="additionalAssessmentDesign" aria-describedby="assessment-item-hint" disabled="true" checked="true">
          <label class="govuk-label govuk-checkboxes__label" for="nationality">
            Designing and developing assessments
            <strong class="govuk-tag govuk-tag--green">
              Approved
            </strong>
          </label>
          <div id="assessment-item-hint" class="govuk-hint govuk-checkboxes__hint">
            Designing the assessment approach, writing question papers, designing mark schemes or assessment criteria
          </div>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="additionalAssessmentMaking" name="additionalAssessmentMaking" type="checkbox" value="additionalAssessmentMaking" disabled="true" checked="true">
          <label class="govuk-label govuk-checkboxes__label" for="additionalAssessmentMaking">
            Making assessment judgements
            <strong class="govuk-tag govuk-tag--green">
              Approved
            </strong>
          </label>
          <div id="Making-item-hint" class="govuk-hint govuk-checkboxes__hint">
            Marking assessments, standardising or moderating the marking of others
          </div>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="additionalAssessmentStandards" name="additionalAssessmentStandards" type="checkbox" value="additionalAssessmentStandards" disabled="true" checked="true">
          <label class="govuk-label govuk-checkboxes__label" for="addEdMgt">
            Standard setting and awarding qualifications
            <strong class="govuk-tag govuk-tag--green">
              Approved
            </strong>
          </label>
          <div id="Standards-item-hint" class="govuk-hint govuk-checkboxes__hint">
            Reviewing marked scripts to determine grade boundaries, setting grade standards for qualification outcomes, reviewing qualification standards over time
          </div>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="additionalAssessmentEvaluating" name="additionalAssessmentEvaluating" type="checkbox" value="additionalAssessmentEvaluating" disabled="true" checked="true">
          <label class="govuk-label govuk-checkboxes__label" for="additionalAssessmentEvaluating">
            Evaluating assessments or assessment approaches
            <strong class="govuk-tag govuk-tag--green">
              Approved
            </strong>
          </label>
          <div id="addeval-item-hint" class="govuk-hint govuk-checkboxes__hint">
            Reviewing the performance of assessments, experience evaluating assessment approaches
          </div>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="Industry, occupational or professional">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">
          Industry, occupational or professional
        </h2>
      </legend>
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="addIndustryExpertise" name="addIndustryExpertise" type="checkbox" value="addIndustryExpertise" aria-describedby="industry-item-hint" disabled="true" checked="true">
          <label class="govuk-label govuk-checkboxes__label" for="nationality">
            Industry, occupational or professional
            <strong class="govuk-tag govuk-tag--green">
              Approved
            </strong>
          </label>
          <div id="teaching-item-hint" class="govuk-hint govuk-checkboxes__hint">
            Experience, specific knowledge and skills, understanding of standards, technologies and procedures
          </div>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="Teaching, lecturing and training options">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">
          Teaching, lecturing and training
        </h2>
      </legend>
      <div id="teaching-expertise-hint" class="govuk-hint">
        Developing classroom materials, training others, knowledge of specifications and qualification standards in this subject, management of curriculum areas and organisation.
      </div>
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="additionalTeachingExpertise" name="additionalTeachingExpertise" type="checkbox" value="additionalTeachingExpertise" aria-describedby="teaching-item-hint" disabled="true" checked="true">
          <label class="govuk-label govuk-checkboxes__label" for="nationality">
            Teaching or lecturing
            <strong class="govuk-tag govuk-tag--green">
              Approved
            </strong>
          </label>
          <div id="teaching-item-hint" class="govuk-hint govuk-checkboxes__hint">
            Experience in schools, colleges, further education or higher education
          </div>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="additionalTeachingExpertise" name="additionalTeachingExpertise" type="checkbox" value="additionalTeachingExpertise">
          <label class="govuk-label govuk-checkboxes__label" for="addTraining">
            Training
          </label>
          <div id="Training-item-hint" class="govuk-hint govuk-checkboxes__hint">
            Training and observing learners in the workplace
          </div>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="additionalTeachingExpertise" name="additionalTeachingExpertise" type="checkbox" value="additionalTeachingExpertise">
          <label class="govuk-label govuk-checkboxes__label" for="addEdMgt">
            Educational management
          </label>
          <div id="addEdMgt-item-hint" class="govuk-hint govuk-checkboxes__hint">
            Managing curriculum in schools, college or university, responsible for subject departments or faculties, organisation responsibility
          </div>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="additionalTeachingExpertise" name="additionalTeachingExpertise" type="checkbox" value="additionalTeachingExpertise">
          <label class="govuk-label govuk-checkboxes__label" for="addTeachTraining">
            Teacher training
            <strong class="govuk-tag govuk-tag--red">
              Unsuccessful
            </strong>
          </label>
          <div id="addTeachTraining-item-hint" class="govuk-hint govuk-checkboxes__hint">
            <p class="govuk-body-s govuk-!-margin-bottom-1">You were previously unsuccessful for this activity for this subject and level</p>
            Teaching on a PGCE or similar course, tutoring, mentoring trainee teachers or trainers.
          </div>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
    <a class="govuk-link" href="/account">Cancel</a>
  </div>
{% endblock %}