{% extends "_templates/page-template.html" %}

{% set pageHeading = "Your details - end user research" %}
{% set subHeading = "End of session" %}
{% set backLink = "false" %}
{% set primaryNavActive = "Your details" %}
{% set pageType = "Account" %}
{% set pageTypeSub = "Your details" %}

{% block content %}
{% if data.outcomeOverview1 == "true" %}
{%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third-from-desktop">
    {{ mojSideNavigation({
      label: 'Side navigation',
      items: [{
        text: 'Application outcomes',
        href: '/account/your-details/outcome-overview'
      }, {
        text: 'Applications',
        href: '/account/your-details/applications-table',
        active: true
      },{
        text: 'Personal information',
        href: '/account/your-details/'
      }, {
        text: 'Education details',
        href: '/account/your-details/education-details'
      },{
        text: 'Work history',
        href: '/account/your-details/work-history'
      },{
        text: 'Professional memberships',
        href: '/account/your-details/professional-memberships'
      },{
        text: 'References',
        href: '/account/your-details/references'
      }, {
        text: 'Conflicts of interest',
        href: '/account/your-details/conflict-of-interest'
      }, {
        text: 'Self declaration',
        href: '/account/your-details/self-declaration'
      }
      ]
    }) }}
  </div>
{% else %}
{%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third-from-desktop">
    {{ mojSideNavigation({
      label: 'Side navigation',
      items: [{
        text: 'Personal information',
        href: '/account/your-details/'
      }, {
        text: 'Detailed application outcomes',
        href: '/account/your-details/subjects'
      }, {
        text: 'References',
        href: '/account/your-details/references'
      }, {
        text: 'Conflicts of interest',
        href: '/account/your-details/conflict-of-interest'
      }, {
        text: 'Self declaration',
        href: '/account/your-details/self-declaration'
      }, {
        text: 'Applications',
        href: '/account/your-details/applications-table',
        active: true
      }
      ]
    }) }}
  </div>
{% endif %}
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">{{ subHeading }}</h1>
      <div class="govuk-inset-text">
        At this point, you would go on to provide evidence for the activities, subjects and levels that you selected. Just as the original application
      </div>
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue",
          href: "/account/your-details/applications-table"
        }) }}
      </div>
    </div>

{% endblock %}