
{% extends "_templates/form-template.html" %}

{% set serviceName = "GOV.UK One Login" %}
{% set pageHeading = "Check your email" %}
{% set formAction = "/one-login/create-password" %}
{% set signedOut = "true" %}

{% block formContent %}
  <h1 class="govuk-heading-l">Check your email</h1>
  {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

  {% set insetTextHtml %}
    We have sent an email to: 
    <p class="govuk-body govuk-!-font-weight-bold">{{ data.oneLoginEmail }}</p>
  {% endset %}

  {{ govukInsetText({
    html: insetTextHtml
  }) }}

  <p class="govuk-body">This email contains a 6-digit code.</p>
  <p class="govuk-body">The email might take a few minutes to arrive. If you do not get an email, check your spam folder.</p>
  <p class="govuk-body">Your code will expire after 2 hours.</p>

  {{ govukInput({
    label: {
    text: "Enter the 6 digit security code"
    },
    classes: "govuk-input--width-5",
    id: "width-6",
    name: "width-6"
  }) }}

  {% set detailsHtml %}
    <p class="govuk-body govuk-!-margin-bottom-0">
      We can <a href="#">send the code again</a> or you can <a href="/one-login/create-account">use a different email address</a>.
    </p>
  {% endset %}

  {{ govukDetails({
    summaryText: "Problems with the code?",
    text: detailsHtml | safe
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}

{% endblock %}
