
{% extends "_templates/form-template.html" %}

{% set serviceName = "GOV.UK One Login" %}
{% set formAction = "/one-login/check-phone" %}
{% set signedOut = "true" %}

{% block formContent %}

  <h1 class="govuk-heading-l">Enter your password</h1>

  {{ govukInput({
    label: { 
      classes: "govuk-label--m"
    },
    classes: "govuk-!-width-two-thirds",
    attributes: {
      spellcheck: "false"
    },
    autocomplete: "password",
    type: "password"
    } | decorateAttributes(data, "data.oneLoginPassword")) }}

    <p class="govuk-body">
       <a href="#">I've forgotten my password</a>.
    </p>

  {{ govukButton({
    text: "Continue"
  }) }}

{% endblock %}
