
{% extends "_templates/form-template.html" %}

{% set serviceName = "GOV.UK One Login" %}
{% set formAction = "/one-login/enter-password" %}
{% set signedOut = "true" %}

{% block formContent %}

  <h1 class="govuk-heading-l">Enter your email address to sign in to your GOV.UK account</h1>

  {{ govukInput({
    label: { 
      classes: "govuk-label--m"
    },
    classes: "govuk-!-width-two-thirds",
    attributes: {
      spellcheck: "false"
    },
    autocomplete: "email",
    type: "email"
    } | decorateAttributes(data, "data.oneLoginEmail")) }}


  {{ govukButton({
    text: "Continue"
  }) }}

{% endblock %}
