
{% extends "_templates/form-template.html" %}

{% set formAction = "./review" %}
{% set pageHeading = "Describe your experience, qualifications, skills and professional achievements to evidence your expertise in your industry or occupation." %}

{% block formContent %}

  <h1 class="govuk-heading-l">Your industry or occupational expertise</h1>

  <p class="govuk-body">
    Industry experts with the knowledge and skills of specific activities within an industry or occupation are required to support the review of qualifications and assessments.
  </p>

  <p class="govuk-body">
    For example, a plumbing expert with in-depth knowledge of pipework diameters and tolerances would be able to inform Ofqual on whether a learner is assessed appropriately.
  </p>

  {{ govukCharacterCount({
    maxwords: 1000,
    rows: "14",
    label: {
      text: pageHeading,
      classes: "govuk-label--m"
    },
    hint: {
      text: "Include evidence of your communication, analytical and judgemental skills."
    }
   } | decorateAttributes(data, "data.industryExpertiseDetails")) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
    <a class="govuk-link" href="/application">Cancel</a>
  </div>

{% endblock %}
