
{% extends "_templates/form-template.html" %}

{% set formAction = "/industry-answer" %}
{% set pageHeading = "Do you have industry or occupational expertise?" %}

{% block formContent %}

  <h1 class="govuk-heading-l">Industry or occupational expertise</h1>

  <p class="govuk-body">
    Content here to help users understand what we are asking from them.
  </p>

  {{ govukRadios ({
    fieldset: {
      legend: {
        text: pageHeading,
        classes: "govuk-fieldset__legend--m"      
      }
    },
    _hint: {
      text: "Designing and/or setting assessments, Marking assessments, Standardisation of assessment marking for example."
    },
    items: [
      {
        text: "Yes"
      },
      {
        text: "No"
      }
    ]
  } | decorateAttributes(data, "data.anyIndustryExpertise")) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
    <a class="govuk-link" href="/application">Cancel</a>
  </div>

{% endblock %}
