
{% extends "_templates/form-template.html" %}

{% set formAction = "./verify-your-identity/review" %}
{% set pageHeading = "Upload a government letter" %}


{% block formContent %}
  
  <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

  <p class="govuk-body">Upload a clear photograph or scanned copy of a letter from a government agency that includes your full name and national insurance number.</p>

  <p class="govuk-body">Supported file types: gif, jpg, jpeg, pdf, png.</p>

  {{ govukFileUpload({
    label: {
      text: "Upload a file",
      classes: "govuk-label--s"
    }
  } | decorateAttributes(data, "data.governmentUpload")) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
    <a class="govuk-link" href="/application">Cancel</a>
  </div>

{% endblock %}
