
{% extends "_templates/form-template.html" %}

{% set formAction = "/identity-check-answer" %}
{% set pageHeading = "Verify your identity" %}


{% block formContent %}
  
<h1 class="govuk-heading-l">{{ pageHeading }}</h1>

{{ govukRadios({
    fieldset: {
    legend: {
      text: "Which document(s) can you provide to verify your identity?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "passport",
      text: "A UK or Irish passport"
    },
    {
      value: "birth-adoption-certificate",
      text: "A UK or Irish birth or adoption certificate and a letter from a government agency that includes your full name and national insurance number"
    },
    {
      divider: "or"
    },
    {
      value: "none",
      text: "None of the documents listed"
    }
  ]
} | decorateAttributes(data, "data.identityCheckType")) }}

<div class="govuk-button-group">
  {{ govukButton({
    text: "Save and continue"
  }) }}
  <a class="govuk-link" href="/application/">Cancel</a>
</div>

{% endblock %}
