
{% extends "_templates/form-template.html" %}

{% set formAction = "./review" %}

{% set captionHeading %}
  {# Coming from the assessment only, qual only route #}
  {% if data.referrer == "assessmentExpertise" %}
    {% if data.selectedQualification == "I don't know the qualification type" %}
      {% if data.selectedLevelAssessmntOnly == "I don't know the level" %}
        {% else %} 
        ({{ data.selectedLevelAssessmntOnly }})
      {% endif %}
    {% else %} 
    {% if data.selectedLevelAssessmntOnly == "I don't know the level" %}
      ({{ data.selectedQualificationAssessmntOnly }})
      {% else %} 
      ({{ data.selectedQualificationAssessmntOnly }} – {{ data.selectedLevelAssessmntOnly }})
    {% endif %}
  {% endif %}
    {# Otherwise they must be coming from the subject search #}
    {% else %}
      {# If its not an "other" subject, show the subject and qual type/level #}
      {% if data.selectedSubject and data.resultQualType == ("End-point assessment" or "T Level") %}
        {{ data.selectedSubject }}
      {# If it is an "other" subject, so just show the subject #}
      {% else %}
        {{ data.resultName }}
        {% if data.selectedQualification == "I don't know the qualification type" %}
          {% if data.selectedLevel == "I don't know the level" %}
            {% else %} 
            ({{ data.selectedLevel }})
          {% endif %}
          {% else %} 
            {% if data.selectedLevel == "I don't know the level" %}
              ({{ data.selectedQualification }})
              {% else %} 
              ({{ data.selectedQualification }} – {{ data.selectedLevel }})
            {% endif %}
          {% endif %}
      {% endif %}
  {% endif %}
{% endset %}

{% set pageDescription %}
  {# Coming from the assessment only, qual only route #}
  {% if data.referrer == "assessmentExpertise" %}
    Tell us about the expertise you have in this qualification, and why this applies to the type(s) of expertise you have selected: 
  {# Coming from the subject search #}
  {% else %}
    Tell us about the expertise you have in this subject, and why this applies to the type(s) of expertise you have selected:
  {% endif %}
{% endset %}

{% set expertiseAreasHtml %}
    {# Build an list of the items selected #}
    {# Coming from the assessment only route #}
    {% if data.assessmentOnlyExpertise %}
      <ul class="govuk-list govuk-list--bullet">
          <li>
            Assessment
          </li>
      </ul>        
      {# Coming from the subject search #}
      {% else %}
        <ul class="govuk-list govuk-list--bullet">
          {% for role in data.expertiseType %}
            <li>
              {{ role }}
            </li>
          {% endfor %}
        </ul>
    {% endif %}
  {% endset %}

{% set pageHeading = "Provide details of your expertise" %}

{% block formContent %}
  <span class="govuk-caption-l">{{ captionHeading }}</span>
  
  <h1 class="govuk-heading-l">Your expertise</h1>

  <p class="govuk-body">
    {{ pageDescription }}
  </p>

  {{ expertiseAreasHtml | safe }}

  {# Coming from the assessment only, qual only route #}
  {% if data.referrer == "assessmentExpertise" %}
    {{ govukCharacterCount({
      maxwords: 250,
      rows: "10",
      label: {
        text: pageHeading,
        classes: "govuk-label--m"
      },
      hint: {
        text: "Detail your assessment expertise for the qualification type and level(s) you've selected."
      } 
    } | decorateAttributes(data, "data.subjectExpertiseDetails")) }} 
  
  {# Coming through subject flow #}
  {% else %}
    {{ govukCharacterCount({
      maxwords: 250,
      rows: "10",
      label: {
        text: pageHeading,
        classes: "govuk-label--m"
      },
      hint: {
        text: "If you have selected a qualification type and level, detail your expertise for your subject at the qualification type and level(s)."
      } 
    } | decorateAttributes(data, "data.subjectExpertiseDetails")) }} 
  {% endif %}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
    <a class="govuk-link" href="/application">Cancel</a>
  </div>

{% endblock %}
