
{% extends "_templates/form-template.html" %}

{% set formAction = "./review" %}

{% set captionHeading %}
  {# If they are coming through the Industry/Sector flow #}
  {% if data.referrer == "sectorSearch" %}
    {{ data.selectedIndustry }}
    {% if data.selectedQualificationSector == "I don't know the qualification type" %}
      {% if data.selectedLevelSector == "I don't know the level" %}
        {% else %} 
        ({{ data.selectedLevelSector }})
      {% endif %}
      {% else %} 
        {% if data.selectedLevelSector == "I don't know the level" %}
          ({{ data.selectedQualificationSector }})
          {% else %} 
          ({{ data.selectedQualificationSector }} – {{ data.selectedLevelSector }})
        {% endif %}
    {% endif %}
  {# Otherwise they must be coming from the subject search #}
  {% elseif data.referrer == "subjectSearch" %}
    {# If its not an "other" subject, show the subject and qual type/level #}
    {% if data.selectedSubject and data.resultQualType != "Other qualification type" %}
      {{ data.selectedSubject }}
    {# If it is an "other" subject, so just show the subject #}
    {% elseif data.selectedSubject and data.resultQualType == "Other qualification type" %}
      {{ data.resultName }}
      {% if data.selectedQualification == "I don't know the qualification type" %}
        {% if data.selectedLevel == "I don't know the level" %}
          {% else %} 
          ({{ data.selectedLevel }})
        {% endif %}
        {% else %} 
          {% if data.selectedLevel == "I don't know the level" %}
            ({{ data.selectedQualification }})
            {% else %} 
            ({{ data.selectedQualification }} – {{ data.selectedLevel }})
          {% endif %}
        {% endif %}
    {% endif %}
  {% endif %}
{% endset %}

{% set pageDescription %}
  {# If they are coming through the Industry/Sector flow #}
  {% if data.referrer == "sectorSearch" %}
    Tell us about the expertise you have in this sector, and why this applies to the type(s) of expertise you have selected: 
  {# Otherwise they must be coming from the subject search #}
  {% else %}
    Tell us about the expertise you have in this subject, and why this applies to the type(s) of expertise you have selected:
  {% endif %}
{% endset %}

{% set pageDescription2 %}
  {# If they are coming through the Industry/Sector flow #}
  {% if data.referrer == "sectorSearch" %}
    If you have selected a qualification type and level, detail your expertise in your sector at the qualification type and level(s). 
  {# Otherwise they must be coming from the subject search #}
  {% else %}
    If you have selected a qualification type and level, detail your expertise for your subject at the qualification type and level(s). 
  {% endif %}
{% endset %}

{% set expertiseAreasHtml %}
    {# Build an list of the items selected #}
    {% if data.referrer == "sectorSearch" %}
      <ul class="govuk-list govuk-list--bullet">
        {% for role in data.expertiseTypeSector %}
          <li>
            {{ role }}
          </li>
        {% endfor %}
      </ul>        
      {# Otherwise they must be coming from the subject search #}
      {% elseif data.referrer == "subjectSearch" %}
        <ul class="govuk-list govuk-list--bullet">
          {% for role in data.expertiseType %}
            <li>
              {{ role }}
            </li>
          {% endfor %}
        </ul>
    {% endif %}
  {% endset %}

{% set pageHeading = "Provide details of your expertise" %}

{% block formContent %}
  <span class="govuk-caption-l">{{ captionHeading }}</span>
  
  <h1 class="govuk-heading-l">Your expertise</h1>

  <p class="govuk-body">
    {{ pageDescription }}
  </p>

  {{ expertiseAreasHtml | safe }}

  <p class="govuk-body">
    {{ pageDescription2 }}
  </p>

  {# If they are coming through the select a sector flow #}
  {% if data.referrer == "sectorSearch" %}

    {{ govukCharacterCount({
      maxwords: 250,
      rows: "10",
      label: {
        text: pageHeading,
        classes: "govuk-label--m"
      }
    } | decorateAttributes(data, "data.sectorExpertiseDetails")) }} 
  
  {# else they must be coming through subejct flow #}
  {% else %}

    {{ govukCharacterCount({
      maxwords: 250,
      rows: "10",
      label: {
        text: pageHeading,
        classes: "govuk-label--m"
      }
    } | decorateAttributes(data, "data.subjectExpertiseDetails")) }} 

  {% endif %}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
    <a class="govuk-link" href="/application">Cancel</a>
  </div>

{% endblock %}
