
{% extends "_templates/form-template.html" %}

{% set formAction = "/expertise-teaching-granular" %}
{% set pageHeading = "Which assessment activities or responsibilities have you completed in this subject?" %}

{% set captionHeading %}
  {# Coming from the assessment only route #}
  {% if data.referrer == "assessmentExpertise" %}
    {# Coming from the assessment only, qual only route #}
    {% if data.assessmentQual == "Yes" %}
      {% if data.selectedQualificationAssessmentOnly == "I don't know the qualification type" %}
        {% if data.selectedLevelAssessmentOnly == "I don't know the level" %}
          {% else %} 
          {{ data.selectedLevelAssessmentOnly }}
        {% endif %}
        {% else %} 
        {% if data.selectedLevelAssessmentOnly == "I don't know the level" %}
          {{ data.selectedQualificationAssessmentOnly }}
          {% else %} 
          {{ data.selectedQualificationAssessmentOnly }} – {{ data.selectedLevelAssessmentOnly }}
        {% endif %}
      {% endif %}
      {# Coming from the assessment only, subject route #}
      {% else %}
      {% if data.selectedSubject and (data.resultQualType == ("End-point assessment") or ("T Level")) %}
        {{ data.selectedSubject }}
        {# If it is an "other" subject, so just show the subject #}
        {% else %}
          {{ data.resultName }}
          {% if data.selectedQualificationAssessmentOnly == "I don't know the qualification type" %}
            {% if data.selectedLevelAssessmentOnly == "I don't know the level" %}
              {% else %} 
              ({{ data.selectedLevelAssessmentOnly }})
            {% endif %}
            {% else %} 
              {% if data.selecteselectedLevelAssessmentOnlydLevel == "I don't know the level" %}
                ({{ data.selectedQualificationAssessmentOnly }})
                {% else %} 
                ({{ data.selectedQualificationAssessmentOnly }} – {{ data.selectedLevelAssessmentOnly }})
              {% endif %}
            {% endif %}
          {% endif %}
      {% endif %}
    {# Otherwise they must be coming from the subject search #}
    {% else %}
      {# If its not an "other" subject, show the subject and qual type/level #}
      {% if data.selectedSubject and (data.resultQualType == ("End-point assessment") or ("T Level")) %}
        {{ data.selectedSubject }}
      {# If it is an "other" subject, so just show the subject #}
      {% else %}
        {{ data.resultName }}
        {% if data.selectedQualification == "I don't know the qualification type" %}
          {% if data.selectedLevel == "I don't know the level" %}
            {% else %} 
            ({{ data.selectedLevel }})
          {% endif %}
          {% else %} 
            {% if data.selectedLevel == "I don't know the level" %}
              ({{ data.selectedQualification }})
              {% else %} 
              ({{ data.selectedQualification }} – {{ data.selectedLevel }})
            {% endif %}
          {% endif %}
      {% endif %}
  {% endif %}
{% endset %}

{% block formContent %}

  <span class="govuk-caption-l">{{ captionHeading }}</span>
  
  {{ govukCheckboxes({
    fieldset: {
      legend: {
        text: pageHeading,
        classes: "govuk-fieldset__legend--l",
        isPageHeading: true
      }
    },
    hint: {
      text: "Select all that apply"
    },
    items: [
      {
        text: "Making assessment judgements"
      },
      {
        text: "Standard setting and awarding qualifications"
      },
      {
        text: "Designing and developing assessments"
      },
      {
        text: "Evaluating assessments or assessment approaches"
      }
    ]
  } | decorateAttributes(data, "data.assessmentExpertiseType")) }}
  
  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
    <a class="govuk-link" href="/application">Cancel</a>
  </div>

{% endblock %}
