
{% extends "_templates/page-template.html" %}

{% set pageHeading = "Add subjects that you can provide expertise on" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
      <p class="govuk-body">
        The expertise that you can provide to Ofqual may include, academic subjects, vocational fields of work, or specific qualifications such as end-point assessments and T-levels.
      </p>
      <p class="govuk-body">
        The subjects can cover different qualification types and levels, such as:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Mathematics - GCSE - Levels 1 and 2</li>
        <li>Business Analysis - End-Point assessment - Level 4</li>
        <li>Asbestos - Vocationally related qualification - Levels 1, 2 and 3</li>
        <li>Drama - GCE A/AS level - Level 3</li>
      </ul>
      <p class="govuk-body">
        If your subject expertise can be linked to a qualification type or a qualification level, you will be able to add multiple of these.
      </p>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue",
          href: "./search/subject-search"
        }) }}
      </div>

    </div>
  </div>

{% endblock %}
