
{% extends "_templates/page-template.html" %}

{% set pageHeading = "Add areas that you can provide expertise on" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
      <p class="govuk-body">
        Areas where you can provide your expertise to Ofqual can be specific subjects.  For example, Mathematics, Business Analysis and Engineering. If your expertise is not a specific subject, select your sector.
      </p>
      <p class="govuk-body">
        The subjects and sectors can cover different qualification types, such as:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>GCSEs</li>
        <li>AS/A levels</li>
        <li>Apprenticeships</li>
        <li>T levels</li>
        <li>Other qualification
            <ul class="govuk-list govuk-list--dash">
              <li>English for speakers of other languages (ESOL)</li>
              <li>Essential digital skills</li>
              <li>Functional skills</li>
              <li>Vocationally related qualification</li>
              <li>Performing arts graded examination</li>
            </ul>
        </li>
      </ul>
      <p class="govuk-body">
        You will be able to add multiple subjects or sectors.
      </p>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue",
          href: "./search/search-by-subject"
        }) }}
      </div>

    </div>
  </div>

{% endblock %}
