
{% extends "_templates/page-template.html" %}

{% set pageHeading = "Add subjects that you can provide expertise on" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
      <p class="govuk-body">
        Subjects where you can provide your expertise to Ofqual can be specific subjects.  For example, Mathematics, Business Analysis and Engineering. If your expertise is not a specific subject, select your sector.
      </p>
      <p class="govuk-body">
        Areas where you can provide your expertise to Ofqual can be categorised into a 'subject'.
      </p>
      <p class="govuk-body">
        This may include academic subjects, vocational fields of work, or specific qualifications such as end-point assessments and T-levels.
      </p>
      <p class="govuk-body">
        For example, Mathematics, Business Analysis, Asbestos, Accounting or English Language.
      </p>
      <p class="govuk-body">
        The subjects you select can cover different qualification types and levels, such as:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Mathematics - GCSE - Levels 1 and 2</li>
        <li>Business Analysis - End-Point assessment - Level 4</li>
        <li>Asbestos - Vocationally related qualification - Levels 1, 2 and 3</li>
      </ul>
      <p class="govuk-body">
        Your subject does not need to be linked to a qualification type or qualification level if you do not relate your expertise to a specific qualification.
      </p>
      <p class="govuk-body">
        If your subject expertise can be linked to a qualification type or a qualification level, you will be able to add multiple of these, as applicable to your expertise.
      </p>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue",
          href: "./search/subject-search"
        }) }}
      </div>

    </div>
  </div>

{% endblock %}
