
{% extends "_templates/form-template.html" %}

{% set pageHeading = "Review your subject or occupational area" %}
{% set formAction = "/review-subjects-answer" %}
{% set backText = "Back to application" %}
{% set backLink = "/application" %}
{% set layoutWidth = "fullWidthLayout" %}

{% block formContent %}

  <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
  
  {% include "_includes/summary-cards/subjects.html" %}

  {% if data.assessmentQual == "No" %}
    {{ govukRadios({
      fieldset: {
        classes: "display-none",
        legend: {
          text: "Did you want to add another subject or occupational area?",
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          text: "Yes"
        },
        {
          text: "No, I’ve finished adding my subject or occupational area",
          checked: true if "No" in data.assessmentQual
        }
      ]
    } | decorateAttributes(data, "data.addAnotherSubject")) }}
      
  {% else %} 
    {{ govukRadios({
      fieldset: {
        legend: {
          text: "Did you want to add another subject or occupational area?",
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          text: "Yes"
        },
        {
          text: "No, I’ve finished adding my subject or occupational area"
        }
      ]
    } | decorateAttributes(data, "data.addAnotherSubject")) }}
  {% endif %}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
    <a class="govuk-link" href="/application">Cancel</a>
  </div>

{% endblock %}
