
{% extends "_templates/form-template.html" %}

{% set formAction = "/specific-subject-search-answer" %}
{% set pageHeading = "Select an area of expertise" %}

{% block formContent %}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: pageHeading,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    items: [
      {
        text: "Subject",
        hint: {
          text: "GCSEs, AS/A Levels, Apprenticeships, T-Levels, other qualification"
        }
      },
      {
        text: "Industry or sector"
      }
    ]
  } | decorateAttributes(data, "data.searchBySubject")) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
    <a class="govuk-link" href="/application">Cancel</a>
  </div>

{% endblock %}