
{% extends "_templates/form-template.html" %}

{% set pageHeading = "Review your answers" %}
{# {% set formAction = "/review-expertise-answer" %} #}
{% set formAction = "./../../application" %}

{% block formContent %}

  <h1 class="govuk-heading-l">Subjects that you can provide expertise on</h1>
  
  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Have you completed this section?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        value: "complete",
        text: "Yes, I’ve completed this section"
      },
      {
        value: "inProgress",
        html: "No, I’ll come back to it later"
      }
    ]
  } | decorateAttributes(data, "data.adviseAreasCompleted")) }}

  {# This resets the "Cannot start yet" status on the task list for the "Evidence of expertise" section #}
  <input type="hidden" name="evidenceExpertiseCompleted" value="">

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Continue"
    }) }}
    <a class="govuk-link" href="/application">Cancel</a>
  </div>

{% endblock %}
