
{% extends "_templates/form-template.html" %}

{% set formAction = "/application/search/select-qualification?referrer=sectorSearch" %}
{% set pageHeading = "Select a sector" %}

{% block formContent %}

  <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

  {# set up which data set to pull from depending on which route was chosen #}
  {% set sectors = []  %}
  
  {% for sector in data.subSectorSubjectAreasData  %}
    {% set sectors = sectors | push ({ 
      text: sector
    }) %}
  {% endfor %}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Sectors",
        classes: "govuk-visually-hidden"
      }
    },
  items: sectors
  } | decorateAttributes(data, "data.selectedIndustry")) }}
  
  {% set detailsHtml %}
    <p class="govuk-body">
      If you can't see your sector then select the closest match. 
    </p>
  {% endset %}

  {{ govukDetails({
    summaryText: "I can't see my sector",
    text: detailsHtml | safe
  }) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
    <a class="govuk-link" href="/application">Cancel</a>
  </div>

{% endblock %}
