
{% extends "_templates/form-template.html" %}

{% set formAction = "./add-details" %}

{% set captionHeading %}
  {# If they are coming through the sector flow #}
  {% if data.referrer == "sectorSearch" %}
    {{ data.selectedIndustry }}
    {% if data.selectedQualificationSector == "I don't know the qualification type" %}
      {% if data.selectedLevelSector == "I don't know the level" %}
        {% else %} 
        ({{ data.selectedLevelSector }})
      {% endif %}
      {% else %} 
        {% if data.selectedLevelSector == "I don't know the level" %}
          ({{ data.selectedQualificationSector }})
          {% else %} 
          ({{ data.selectedQualificationSector }} – {{ data.selectedLevelSector }})
        {% endif %}
    {% endif %}
  {# Otherwise they must be coming from the subject search #}
  {% elseif data.referrer == "subjectSearch" %}
    {# If its not an "other" subject, show the subject and qual type/level #}
    {% if data.selectedSubject and data.resultQualType != "Other qualification type" %}
      {{ data.selectedSubject }}
    {# If it is an "other" subject, so just show the subject #}
    {% elseif data.selectedSubject and data.resultQualType == "Other qualification type" %}
      {{ data.resultName }}
      {% if data.selectedQualification == "I don't know the qualification type" %}
        {% if data.selectedLevel == "I don't know the level" %}
          {% else %} 
          ({{ data.selectedLevel }})
        {% endif %}
        {% else %} 
          {% if data.selectedLevel == "I don't know the level" %}
            ({{ data.selectedQualification }})
            {% else %} 
            ({{ data.selectedQualification }} – {{ data.selectedLevel }})
          {% endif %}
        {% endif %}
    {% endif %}
  {% endif %}
{% endset %}

{% set pageHeading %}
  {# If they are coming from the search page  #}
  {% if data.referrer == "subjectSearch" %}
    What type of expertise do you have for this subject?
  {# Otherwise they must be coming through the sector search flow #}
  {% else %}
    What type of expertise do you have for this sector?
  {% endif %}
{% endset %}


{% block formContent %}

  <span class="govuk-caption-l">{{ captionHeading }}</span>

  {# If they are coming through the select a sector flow #}
  {% if data.referrer == "sectorSearch" %}

    {{ govukCheckboxes({
      fieldset: {
        legend: {
          text: pageHeading,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: "Your expertise can be current or previous experience"
      },
      items: [
        {
          text: "Assessment"
        } if data.anyAssessmentExpertise == "Yes",
        {
          text: "Industry or occupational",
          hint: {
            text: "You work in this field in a non-educational context"
          }
        } if data.anyIndustryExpertise == "Yes",
        {
          text: "Teaching, lecturing or training"
        } if data.anyTeachingExpertise == "Yes"
      ]
    } | decorateAttributes(data, "data.expertiseTypeSector")) }}

  {# else they must be coming through subject flow #}
  {% else %}

    {{ govukCheckboxes({
      fieldset: {
        legend: {
          text: pageHeading,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: "Your expertise can be current or previous experience"
      },
      items: [
        {
          text: "Assessment"
        } if data.anyAssessmentExpertise == "Yes",
        {
          text: "Industry or occupational",
          hint: {
            text: "You work in this field in a non-educational context"
          }
        } if data.anyIndustryExpertise == "Yes",
        {
          text: "Teaching, lecturing or training"
        } if data.anyTeachingExpertise == "Yes"
      ]
    } | decorateAttributes(data, "data.expertiseType")) }}

  {% endif %}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
    <a class="govuk-link" href="/application">Cancel</a>
  </div>

{% endblock %}