
{% extends "_templates/form-template.html" %}

{% set formAction = "./select-level" %}
{% set pageHeading = "Select the qualifications types you can advise for this industry or sector" %}

{% set captionHeading %}
  {# if its a subject result #}
  {% if data.selectedSubject %}
    {{ data.resultName }}
  {# else it must be a sector of industry #}
  {% else %}
    {{ data.selectedIndustry }}
  {% endif %}
{% endset %}

{% set pageHeading %}
  {# If they are coming from the search page  #}
  {% if data.referrer == "qualificationSearch" %}
    Select the qualifications types you can advise for this subject
  {# Otherwise they must be coming through the sector search flow #}
  {% else %}
    Select the qualifications types you can advise for this industry or sector
  {% endif %}
{% endset %}


{% block formContent %}

  <span class="govuk-caption-l">{{ captionHeading }}</span>

  {# set up which data set to pull from #}
  {% set qualifications = []  %}
  
  {% for qualification in data.qualificationData  %}
    {% set qualifications = qualifications | push ({ 
      text: qualification
    }) %}
  {% endfor %}

  {# {% set qualifications = qualifications | push ({
    divider: "or"
  }) %} #}

  {% set otherQualificationHtml %}
    {{ govukInput({
      classes: "govuk-!-width-two-thirds",
      label: {
        text: "Provide details (optional)",
        classes: "govuk-label--s"
      }
    } | decorateAttributes(data, "data.selectedQualificationOther")) }}
  {% endset -%}

  {% set qualifications = qualifications | push ({
    text: "A qualification type that isn't listed",
    conditional: {
      html: otherQualificationHtml
    }
  }) %}

  {{ govukCheckboxes({
    fieldset: {
      legend: {
        text: pageHeading,
        classes: "govuk-fieldset__legend--l",
        isPgeHeading: true
      }
    },
    hint: {
      text: "Select all that apply"
    },
    items: qualifications
  } | decorateAttributes(data, "data.selectedQualification")) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
    <a class="govuk-link" href="/application">Cancel</a>
  </div>

{% endblock %}
