
{% extends "_templates/form-template.html" %}

{% set formAction = "./select-level" %}
{% set pageHeading = "Select the qualifications types you can advise for this industry or sector" %}

{% set captionHeading %}
  {# If they are coming through the Industry/Sector flow #}
  {% if data.referrer == "sectorSearch" %}
    {{ data.selectedIndustry }}
  {# Otherwise they must be coming from the subject search #}
  {% elseif data.referrer == "subjectSearch" %}
    {# If its not an "other" subject, show the subject and qual type/level #}
    {% if data.selectedSubject and data.resultQualType != "Other qualification type" %}
      {{ data.selectedSubject }}
    {# If it is an "other" subject, so just show the subject #}
    {% elseif data.selectedSubject and data.resultQualType == "Other qualification type" %}
      {{ data.resultName }}
    {% endif %}
  {% endif %}
{% endset %}

{% set pageHeading %}
  {# If they are coming from the search page  #}
  {% if data.referrer == "subjectSearch" %}
    What qualification type can you advise on for this subject?
  {# Otherwise they must be coming through the sector search flow #}
  {% else %}
    What qualification type can you advise on in this industry or sector?
  {% endif %}
{% endset %}


{% block formContent %}

  <span class="govuk-caption-l">{{ captionHeading }}</span>

  {# set up which data set to pull from #}
  {% set qualifications = []  %}
  
  {% for qualification in data.qualificationData  %}
    {% set qualifications = qualifications | push ({ 
      text: qualification
    }) %}
  {% endfor %}

  {% set qualifications = qualifications | push ({
    divider: "or"
  }) %}

  {% set otherQualificationHtml %}
    {{ govukInput({
      classes: "govuk-!-width-two-thirds",
      label: {
        text: "Provide details (optional)",
        classes: "govuk-label--s"
      }
    } | decorateAttributes(data, "data.selectedQualificationOther")) }}
  {% endset -%}

  {% set qualifications = qualifications | push ({
    text: "A qualification type that isn't listed",
    conditional: {
      html: otherQualificationHtml
    }
  }) %}

  {# If they are coming through the select a sector flow #}
  {% if data.referrer == "sectorSearch" %}
  
    {{ govukRadios({
      fieldset: {
        legend: {
          text: pageHeading,
          classes: "govuk-fieldset__legend--l",
          isPgeHeading: true
        }
      },
      items: qualifications
    } | decorateAttributes(data, "data.selectedQualificationSector")) }}
  {# else they must be coming through subejct flow #}
  {% else %}
    {{ govukRadios({
      fieldset: {
        legend: {
          text: pageHeading,
          classes: "govuk-fieldset__legend--l",
          isPgeHeading: true
        }
      },
      items: qualifications
    } | decorateAttributes(data, "data.selectedQualification")) }}
  {% endif %}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
    <a class="govuk-link" href="/application">Cancel</a>
  </div>

{% endblock %}
