
{% extends "_templates/form-template.html" %}

{% set formAction = "./select-level" %}
{% set pageHeading = "Select the qualifications types you can advise for this subject" %}

{% set captionHeading %}
  {# If its not an "other" subject, show the subject and qual type/level #}
  {% if data.selectedSubject and data.resultQualType != "End-point assessment" or "T Level" %}
    {{ data.selectedSubject }}
    {# If it is an "other" subject, so just show the subject #}
    {% else %}
      {{ data.resultName }}
  {% endif %}
{% endset %}

{% set pageHeading %}
  {# If they are coming through assessment specialist route  #}
  {% if data.referrer == "assessmentExpertise" %}
    What qualification type can you advise on?
    {% else %}
      What qualification type can you advise on for this subject?
  {% endif %}
{% endset %}


{% block formContent %}

  <span class="govuk-caption-l">{{ captionHeading }}</span>

  {# set up which data set to pull from #}
  {% set qualifications = []  %}
  
  {% for qualification in data.qualificationData  %}
    {% set qualifications = qualifications | push ({ 
      text: qualification
    }) %}
  {% endfor %}

  {% set qualifications = qualifications | push ({
    divider: "or"
  }) %}

  {% set qualifications = qualifications | push ({
    text: "I don't know the qualification type"
  }) %}

  {# Coming through assessment only, qual only flow #}
  {% if data.referrer == "assessmentExpertise" %}
    {{ govukRadios({
      fieldset: {
        legend: {
          text: pageHeading,
          classes: "govuk-fieldset__legend--l",
          isPgeHeading: true
        }
      },
      hint: {
        text: "You will be able to add more qualification types after you have finished telling us about the first one."
      },
      items: qualifications
    } | decorateAttributes(data, "data.selectedQualificationAssessmentOnly")) }}
    {# Coming through subject flow #}
    {% else %}
      {{ govukRadios({
        fieldset: {
          legend: {
            text: pageHeading,
            classes: "govuk-fieldset__legend--l",
            isPgeHeading: true
          }
        },
        hint: {
          text: "You will be able to add more qualification types after you have finished telling us about the first one."
        },
        items: qualifications
      } | decorateAttributes(data, "data.selectedQualification")) }}
  {% endif %}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
    <a class="govuk-link" href="/application">Cancel</a>
  </div>

{% endblock %}
