
{% extends "_templates/form-template.html" %}

{% set formAction = "/expertise-granular" %}

{% set captionHeading %}
  {# Coming from the assessment only route #}
  {% if data.referrer == "assessmentExpertise" %}
    {# Coming from the assessment only, qual only route #}
    {% if data.assessmentQual == "Yes" %}
      {% if data.selectedQualificationAssessmentOnly == "I don't know the qualification type" %}
        {% else %} 
          {{ data.selectedQualificationAssessmentOnly }}
      {% endif %}
      {# Coming from the assessment only, subject route #}
      {% else %}
      {% if data.selectedSubject and (data.resultQualType != "T Level" and data.resultQualType != "End-point assessment") %}
        {{ data.resultName }}
        {% if data.selectedQualificationAssessmentOnly == "I don't know the qualification type" %}
          {% else %} 
            ({{ data.selectedQualificationAssessmentOnly }})
        {% endif %}
        {# It is a subject with defined qual type and level #}
        {% else %}
        {{ data.selectedSubject }}
      {% endif %}
    {% endif %}
    {# Coming from the subject search #}
    {% else %}
    {# If its not an "other" subject, show the subject and qual type/level #}
    {% if data.selectedSubject and (data.resultQualType != "T Level" and data.resultQualType != "End-point assessment") %}
      {{ data.resultName }}
      {% if data.selectedQualification == "I don't know the qualification type" %}
        {% else %} 
          ({{ data.selectedQualification }})
      {% endif %}
      {# It is a subject with defined qual type and level #}
      {% else %}
      {{ data.selectedSubject }}
    {% endif %}
  {% endif %}
{% endset %}


{% set pageHeading %}
  What type(s) of experience do you have for this subject or occupational area?
{% endset %}


{% block formContent %}

  <span class="govuk-caption-l">{{ captionHeading }}</span>

  {# They can only come from the subject flow #}
    {{ govukCheckboxes({
      fieldset: {
        legend: {
          text: pageHeading,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: "You will be asked to provide evidence for the type(s) of experience that you select from this list in the following section of the application. The evidence you provide can be from current or past experience."
      },
      items: [
        {
          text: "Assessment",
          hint: {
            text: "Designing and developing, marking, standardising, moderating and researching assessment policy and practice in this subject"
          }
        },
        {
          text: "Industry, occupational or professional",
          hint: {
            text: "Experience, specific knowledge and skills, understanding of standards, technologies and procedures"
          }
        },
        {
          text: "Teaching, lecturing or training",
          hint: {
            text: "Developing classroom materials, training others, knowledge of specifications and qualification standards in this subject, management of curriculum areas and organisation"
          }
        }
      ]
    } | decorateAttributes(data, "data.expertiseType")) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
    <a class="govuk-link" href="/application">Cancel</a>
  </div>

{% endblock %}