
{% extends "_templates/form-template.html" %}

{% set formAction = "/application/search/review" %}
{% set pageHeading = "Search for a subject, apprenticeship or T Level" %}

{% block formContent %}

  {# <span class="govuk-caption-l">{{ data.selectedRoute }}</span> #}
  {# <h1 class="govuk-heading-l">{{ pageHeading }}</h1> #}

  {# set up which data set to pull from depednng on which route was chosen #}
  {% set occupations = []  %}
  
  {% for occupation in data.allOccupationData  %}
    {% set occupations = occupations | push ({ 
      text: occupation
    }) %}
  {% endfor %}

  {% set sub = []  %}
  
  {% for s in data.subjectSearch2Data  %}
    {% set sub = sub | push ({ 
      name: s.name,
      qualType: s.qualType,
      level: s.level
    }) %}
  {% endfor %}

    <div class="body-text">
      <label for="autocomplete-placeholder" class="govuk-label govuk-label--l">{{ pageHeading }}</label>
      <p class="govuk-body">You will be able to add more subjects, apprenticeships or T Levels after you tell us about the first one.</p>
      <div id="tt-default" class="autocomplete-wrapper govuk-!-margin-bottom-6"></div>
    </div>

    <input type="hidden" id="selectedObject" name="selectedObject" for="selectedObject" value="{}" />
    <input type="hidden" id="resultId" name="resultId" for="resultId" value="" />
    <input type="hidden" id="resultName" name="resultName" for="resultName" value="" />
    <input type="hidden" id="resultQualType" name="resultQualType" for="resultQualType" value="" />
    <input type="hidden" id="resultLevel" name="resultLevel" for="resultLevel" value="" />

    <script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>

    <script type="text/javascript">

    let rawResults = [
      {% for s in data.subjectSearch2Data %}
        { "name": "{{s.name}}", "qualType": "{{s.qualType}}", "level": "{{s.level}}" },
      {% endfor %}
    ]

      const results = rawResults.map((x, ix) => ({ id: ix, ...x }))

      var getSuggestions = () => {
        var suggestions = []
        results.forEach(result => suggestions.push(result.name));
        return suggestions;
      }

      function suggest(query, populateResults) {
        const filteredResults = results.filter(x => x.name.toLowerCase().includes(query.toLowerCase()))
        populateResults(filteredResults)
      }

      function onConfirm(confirmedValue) {
        if (!!confirmedValue) {
          $("#resultId").val(confirmedValue.id)
          $("#resultName").val(confirmedValue.name)
          $("#resultQualType").val(confirmedValue.qualType)
          $("#resultLevel").val(confirmedValue.level)
          $('#selectedObject').val(JSON.stringify(confirmedValue))
        }
      }

      var element = document.querySelector('#tt-default')
      var id = 'autocomplete-default'
      accessibleAutocomplete({
        element: element,
        id: id,
        source: suggest,
        onConfirm: onConfirm,
        name: "selectedSubject",
        templates: {
          suggestion: (value) => {
            var result = results.find(result => result.id == value.id)
            return `<span class='job-title'>${result.name}</span><span class='govuk-hint govuk-!-margin-bottom-0'>${result.qualType}</span><span class='govuk-hint govuk-!-margin-bottom-0'> (${result.level})</span>`
          },
          inputValue: (selection) => {
            if (!!selection)
              return `${selection.name} (${selection.qualType} - ${selection.level})`
            return ""
          }
        }
      })
    </script>
  
  {% set detailsHtml %}
    <p class="govuk-body govuk-!-margin-bottom-0">
      Try <a href="./sector-search">searching by industry or sector</a> instead.
    </p>
  {% endset %}

  {{ govukDetails({
    summaryText: "I can't find what I'm looking for",
    text: detailsHtml | safe
  }) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
    <a class="govuk-link" href="/application">Cancel</a>
  </div>

{% endblock %}
