
{% extends "_templates/form-template.html" %}

{% set formAction = "./review" %}
{% set pageHeading = "Which teaching, lecturing or training activities or responsibilities are you experienced in for this subject?" %}

{% set captionHeading %}
  {# Coming from the assessment only route #}
  {% if data.referrer == "assessmentExpertise" %}
    {# Coming from the assessment only, qual only route #}
    {% if data.assessmentQual == "Yes" %}
      {% if data.selectedQualificationAssessmentOnly == "My expertise in this subject is not related to a qualification type" %}
        {% if data.selectedLevelAssessmentOnly == "My expertise in this subject is not related to a qualification level" %}
          {% else %} 
          ({{ data.selectedLevelAssessmentOnly }})
        {% endif %}
        {% else %} 
          {{ data.selectedQualificationAssessmentOnly }} – {{ data.selectedLevelAssessmentOnly }}
      {% endif %}
      {# Coming from the assessment only, subject route #}
      {% else %}
      {% if data.selectedSubject and (data.resultQualType != "T Level" and data.resultQualType != "End-point assessment") %}
        {{ data.resultName }}
        {% if data.selectedQualificationAssessmentOnly == "My expertise in this subject is not related to a qualification type" %}
          {% if data.selectedLevelAssessmentOnly == "My expertise in this subject is not related to a qualification level" %}
            {% else %} 
            {{ data.selectedLevelAssessmentOnly }}
          {% endif %}
          {% else %} 
            {% if data.selectedLevelAssessmentOnly == "My expertise in this subject is not related to a qualification level" %}
              {{ data.selectedQualificationAssessmentOnly }}
            {% else %} 
              {{ data.selectedQualificationAssessmentOnly }} – {{ data.selectedLevelAssessmentOnly }}
          {% endif %}
        {% endif %}
        {# It is a subject with defined qual type and level #}
        {% else %}
        {{ data.selectedSubject }}
      {% endif %}
    {% endif %}
    {# Coming from the subject search #}
    {% else %}
    {# If its not an "other" subject, show the subject and qual type/level #}
    {% if data.selectedSubject and (data.resultQualType != "T Level" and data.resultQualType != "End-point assessment") %}
      {{ data.resultName }}
      {% if data.selectedQualification == "My expertise in this subject is not related to a qualification type" %}
          {% if data.selectedLevel == "My expertise in this subject is not related to a qualification level" %}
            {% else %} 
            ({{ data.selectedLevel }})
          {% endif %}
          {% else %} 
          {% if data.selectedLevel == "My expertise in this subject is not related to a qualification level" %}
            ({{ data.selectedQualification }})
            {% else %} 
            ({{ data.selectedQualification }} – {{ data.selectedLevel }})
          {% endif %}
        {% endif %}
      {# It is a subject with defined qual type and level #}
      {% else %}
      {{ data.selectedSubject }}
    {% endif %}
  {% endif %}
{% endset %}

{% block formContent %}

<span class="govuk-caption-l">{{ captionHeading }}</span>
  
  {# {% set natureOtherHtml %}
    {{ govukTextarea({
      _classes: "govuk-!-width-two-thirds",
      label: {
        text: "Provide details (optional)",
        classes: "govuk-label--s"
      }
    } | decorateAttributes(data, "data.teachingExpertiseTypeOther")) }}
  {% endset -%} #}

  {{ govukCheckboxes({
    fieldset: {
      legend: {
        text: pageHeading,
        classes: "govuk-fieldset__legend--l",
        isPageHeading: true
      }
    },
    hint: {
      text: "Select all that apply"
    },
    items: [
      {
        text: "Teaching or lecturing",
        hint: {
          text: "Experience in schools, colleges, further education or higher education"
        }
      },
      {
        text: "Training ",
        hint: {
          text: "Training and observing learners in the workplace"
        }
      },
      {
        text: "Educational management",
        hint: {
          text: "Managing curriculum in schools, college or university, responsible for subject departments or faculties, organisation responsibility"
        }
      },
      {
        text: "Teacher training",
        hint: {
          text: "Teaching on a PGCE or similar course, tutoring, mentoring trainee teachers or trainers"
        }
      }
    ]
  } | decorateAttributes(data, "data.teachingExpertiseType")) }}
  
  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
    <a class="govuk-link" href="/application">Cancel</a>
  </div>

{% endblock %}
