
{% extends "_templates/form-template.html" %}

{% set formAction = "./review" %}
{% set pageHeading = "Provide details of your teaching, lecturing or training expertise" %}

{% block formContent %}

  <h1 class="govuk-heading-l">Your teaching, lecturing or training expertise</h1>

  <p class="govuk-body">
   You have selected the following activities and responsibilities: 
  </p>

  {% set teachingHtml %}
    {# Build an list of the items selected #}
    <ul class="govuk-list govuk-list--bullet">
      {% for role in data.teachingExpertiseType %}
        <li>
          {% if role == "An option that isn't listed" %}
            {{ data.teachingExpertiseTypeOther }}
          {% else %} 
            {{ role }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endset %} 

  {{ teachingHtml | safe }}
  

  {{ govukCharacterCount({
    maxwords: 1000,
    rows: "14",
    label: {
      text: "Describe your experience, qualifications, skills and professional achievements to evidence your expertise in teaching, lecturing or training expertise",
      classes: "govuk-label--m",
      isPageHeading: true
    },
    hint: {
      text: "Include evidence of your communication, analytical and judgemental skills."
    }
   } | decorateAttributes(data, "data.teachingExpertiseDetails")) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
    <a class="govuk-link" href="/application">Cancel</a>
  </div>

{% endblock %}
