
{% extends "_templates/form-template.html" %}

{% set formAction = "/application/communication-analytical-judgement-skills/review" %}
{% set pageHeading = "Provide details of your communication and analytical judgement skills" %}

{% block formContent %}

  <h1 class="govuk-heading-l">Communication and analytical judgement skills</h1>

  <p class="govuk-body">
    ell us about the communication and analytical judgement skills you have that may be relevant to your application to be a subject matter specialist. </p>

  {% set detailsHtml %}
    <p class="govuk-body">The role of a subject matter specialist may involve producing written reports and taking part in panel discussions, therefore it is important that you can evidence the relevant skills. </p>
    <p class="govuk-body">You may want to include:</p>
    <ul>
      <li>experience and ability to provide clear and concise feedback</li>
      <li>analytical and judgement skills that enable you to understand approaches and demonstrate your ability to provide conclusions</li>
      <li>communication skills that demonstrate your ability to write clear evidence based reports</li>
    </ul>
  {% endset %}

  {{ govukDetails({
    summaryText: "What should I include?",
    html: detailsHtml
  }) }}

  {{ govukCharacterCount({
    maxwords: 500,
    rows: "14",
    label: {
      text: pageHeading,
      classes: "govuk-label--m"
    }
   } | decorateAttributes(data, "data.communicationDetails")) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
    <a class="govuk-link" href="/application">Cancel</a>
  </div>

{% endblock %}
