
{% extends "_templates/form-template.html" %}

{% set formAction = "/application//communication-analytical-judgement-skills/review" %}
{% set pageHeading = "Provide details of your communication, judgement and analytical skills" %}

{% block formContent %}

  <h1 class="govuk-heading-l">Communication, analytical and judgement skills</h1>

  <p class="govuk-body">
    Tell us about any additional skills and experience you have that may be relevant to your application to be a subject matter expert.
  </p>

  {% set detailsHtml %}
    <p class="govuk-body">The role of a subject matter expert may involve, for example producing written reports, therefore it is important that you can demonstration the relevant skills.</p>
    <p class="govuk-body">You may want to include:</p>
    <ul>
      <li>experience and ability to provide clear and concise feedback</li>
      <li>experience and ability to provide clear and concise feedback</li>
      <li>demonstrate your ability to provide conclusions</li>
      <li>communication skills that demonstrate your ability to write clear evidence based reports</li>
    </ul>
  {% endset %}

  {{ govukDetails({
    summaryText: "What should I include?",
    html: detailsHtml
  }) }}

  {{ govukCharacterCount({
    maxwords: 500,
    rows: "14",
    label: {
      text: pageHeading,
      classes: "govuk-label--m"
    }
   } | decorateAttributes(data, "data.communicationDetails")) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
    <a class="govuk-link" href="/application">Cancel</a>
  </div>

{% endblock %}
