 {% set recordBaseRows = [
  {
    key: {
      text: "Full name"
    },
    value: {
      text: data.personalDetials.fullName or "Not provided"
    },
    actions: {
      items: [
        {
          href: "../personal-details",
          text: "Change",
          visuallyHiddenText: "full name"
        }
      ]
    }
  }, 
  {
    key: {
      text: "Email address"
    },
    value: {
      text: data.personalDetials.email or "Not provided"
    },
    actions: {
      items: [
        {
          href: "../personal-details",
          text: "Change",
          visuallyHiddenText: "email address"
        }
      ]
    }
  },
  {
    key: {
      text: "Address line 1"
    },
    value: {
      text: data.personalDetials.addressLine1 or "Not provided"
    },
    actions: {
      items: [
        {
          href: "../personal-details",
          text: "Change",
          visuallyHiddenText: "address line 1"
        }
      ]
    }
  },
  {
    key: {
      text: "Address line 2"
    },
    value: {
      text: data.personalDetials.addressLine2 or "Not provided"
    },
    actions: {
      items: [
        {
          href: "../personal-details",
          text: "Change",
          visuallyHiddenText: "address line 2"
        }
      ]
    }
  },
  {
    key: {
      text: "Town or city"
    },
    value: {
      text: data.personalDetials.townOrCity or "Not provided"
    },
    actions: {
      items: [
        {
          href: "../personal-details",
          text: "Change",
          visuallyHiddenText: "town or city"
        }
      ]
    }
  },
  {
    key: {
      text: "County"
    },
    value: {
      text: data.personalDetials.county or "Not provided"
    },
    actions: {
      items: [
        {
          href: "../personal-details",
          text: "Change",
          visuallyHiddenText: "county"
        }
      ]
    }
  },
  {
    key: {
      text: "Postcode"
    },
    value: {
      text: data.personalDetials.postCode or "Not provided"
    },
    actions: {
      items: [
        {
          href: "../personal-details",
          text: "Change",
          visuallyHiddenText: "postcode"
        }
      ]
    }
  }
  ] %}

  {% set recordBaseHtml %}
    {{ govukSummaryList({
      rows: recordBaseRows
    }) }}
  {% endset %}

  {{ appSummaryCard({
    classes: "govuk-!-margin-bottom-6",
    _titleText: "Personal details",
    html: recordBaseHtml
  }) }}