.contents-list__title {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
}

.contents-list__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.contents-list__list-item {
    padding-top: 5px;
    line-height: 1.3;
    list-style-type: none;
    margin-bottom: 0 !important;
}    

.contents-list__list-item {
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
    
 }

.contents-list__list-item::before {
    content: "—";
    position: absolute;
    left: 0;
    width: 20px;
    overflow: hidden;
    color: black;
    font-size: 0.85rem;
    margin-top: 3px;
}