
{% extends "_templates/form-template.html" %}

{% set pageHeading = "Have you ever been convicted of the listed offences?" %}
{% set formAction = "./self-declaration/bankrupt" %}

{% block formContent %}

  <h1 class="govuk-heading-l">Court Judgements</h1>

  <p class="govuk-body">We need to know if you have been convicted of any of the following offences:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>participation in a criminal organisation</li>
    <li>corruption</li>
    <li>fraud</li>
    <li>terrorist offences or offences linked to terrorist activities</li>
    <li>money laundering or terrorist financing</li>
    <li>child labour or any forms of trafficking in human beings</li>
  </ul>

  {% set yesDetailsHtml %}
    {{ govukTextarea({
      label: {
        text: "Provide details of the date of conviction, which of the grounds listed the conviction was for and the reasons for conviction",
        classes: "govuk-label--s"
      }
    } | decorateAttributes(data, "data.judgementsDetails")) }}
  {% endset %}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: pageHeading,
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        text: "Yes",
        conditional: {
          html: yesDetailsHtml
        }
      },
      {
        text: "No"
      }
    ]
  } | decorateAttributes(data, "data.judgements")) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
    <a class="govuk-link govuk-body" href="/application">Cancel</a>
  </div>

{% endblock %}
