  {% set applicationSubmittedTimeHtml %}
    <time datetime="">{{ "" | today |  govukDate }}, 16:13</time>
  {% endset %}

  {% set applicationStatusHtml %}
    {% if data.applicationStatus == "In review" %}
      {{govukTag({
        text: "Review pending",
        classes: "govuk-tag--yellow govuk-!-margin-bottom-2"
      })}}
      <p class="govuk-body">Your application has been submitted. You will get an email once it has been reviewed.</p>
      <p class="govuk-body">Changes can be made to your application until it is assigned to an evaluator.</p>
    {% elseif data.applicationStatus == "Application accepted" %}
      {{govukTag({
        text: "Application accepted",
        classes: "govuk-tag--green govuk-!-margin-bottom-2"
      })}}
      <p class="govuk-body">Your application has been accepted. You can now bid for work and do other stuff.</p>
    {% elseif data.applicationStatus == "Action required" %}
      {{govukTag({
        text: "Action required",
        classes: "govuk-tag--red govuk-!-margin-bottom-2"
      })}}
      <p class="govuk-body">We need more information from you!</p>
      {# show nothing #}
    {% endif %}
  {% endset %}

  {% set profileUpdatedHtml %}
    <time datetime="">{{ "" | today |  govukDate }}, 17:55</time>
  {% endset %}

  {{ xGovukSummaryCard({
    rows: [
    {
      key: {
        text: "Application status"
      },
      value: {
        html: applicationStatusHtml
      }
    },
    {
      key: {
        text: "Application last updated"
      },
      value: {
        html: profileUpdatedHtml
      }
    },
    {
      key: {
        text: "Application submitted"
      },
      value: {
        html: applicationSubmittedTimeHtml
      }
    }
    ]
  }) }}