  {% set applicationSubmittedTimeHtml %}
    <time datetime="">{{ "" | twoweeksago |  govukDate }}, 16:13</time>
  {% endset %}
  
  {% set actionRequiredHtml %}
    {% if data.subjectEvidenceReply == "replied" %}
      <p class="govuk-body-s govuk-!-margin-bottom-1">You replied <time datetime="">{{ "" | today |  govukDate }}</time></p>
    {% else %}
      <p class="govuk-body-s govuk-!-margin-bottom-1 "><time datetime="">{{ "" | yesterday |  govukDate }}</time></p>
    {% endif %}
    <h4 class="govuk-!-margin-top-1 govuk-!-margin-bottom-1">{{ data.applicationAction }}</h4>
    <p><a href="{{ data.applicationActionLink }}">View message</a></p>
    {% if data.teachingEvidenceReply == "replied" %}
      <p class="govuk-body-s govuk-!-margin-bottom-1">You replied <time datetime="">{{ "" | today |  govukDate }}</time></p>
    {% else %}
      <p class="govuk-body-s govuk-!-margin-bottom-1 "><time datetime="">{{ "" | yesterday |  govukDate }}</time></p>
    {% endif %}
    <h4 class="govuk-!-margin-top-1 govuk-!-margin-bottom-1">{{ data.applicationAction2 }}</h4>
    <p><a href="{{ data.applicationActionLink2 }}">View message</a></p>
  {% endset %}

  {% set rejectedFeedbackHtml %}
    <h4 class="govuk-!-margin-top-1 govuk-!-margin-bottom-1">{{ data.applicationFeedbackCategory }}</h4>
    <p class="govuk-body">{{ data.applicationFeedback }}</p>
  {% endset %}

  {% set applicationStatusHtml %}
    {% if data.applicationStatus == "Awaiting decision" %}
      {{ govukTag({
        text: "Awaiting decision",
        classes: "govuk-tag--purple"
      })}}
    {% elseif data.applicationStatus == "Action required" %}
      {{ govukTag({
        text: "Action required",
        classes: "govuk-tag--yellow"
      })}}
      {{ govukDetails({
        summaryText: "Further information required",
        html: actionRequiredHtml,
        classes: "govuk-!-margin-top-4"
      }) }} 
    {% elseif data.applicationStatus == "Accepted" %}
      {{ govukTag({
        text: "Approved",
        classes: "govuk-tag--green"
      })}}
    {% elseif data.applicationStatus == "Rejected" %}
      {{ govukTag({
        text: "Rejected",
        classes: "govuk-tag--red"
      })}}
      {{ govukDetails({
        summaryText: "Feedback",
        html: rejectedFeedbackHtml,
        classes: "govuk-!-margin-top-4"
      }) }} 
    {% else %}
      nothing
    {% endif %}
  {% endset %}

  {% set profileUpdatedHtml %}
    <time datetime="">{{ "" | threedaysago |  govukDate }}, 17:55</time>
  {% endset %}

  {% set subjectStatusHtml %}
    <a href="/account/your-details/subjects">View status by subject or occupational area</a>
  {% endset %}


  {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
  {{ xGovukSummaryCard({
    titleText: "Your application",
      actions: {
        items: [
          {
            href: "/account/your-details/application",
            text: "View application",
            visuallyHiddenText: "Your application"
          } 
        ] if pageTypeSub != "Application"
      },
    rows: [
      {
        key: {
          text: "Application status"
        },
        value: {
          html: applicationStatusHtml
        }
      },
      {
        key: {
          text: "Status by subject or occupational area"
        },
        value: {
          html: subjectStatusHtml
        }
      } if data.applicationStatus == ("Accepted") or data.applicationStatus == ("Action required"),
      {
        key: {
          text: "Last updated"
        },
        value: {
          html: profileUpdatedHtml
        }
      },
      {
        key: {
          text: "Date submitted"
        },
        value: {
          html: applicationSubmittedTimeHtml
        }
      }
    ]
  }) }}