{% set assessmentHtml %}
  {# Build an list of the items selected #}
  <ul class="govuk-list">
    {# loops through and gets al the checked items #}
    {% for role in data.assessmentExpertiseType %}
      <li>
        {% if role == "An option that isn't listed" %}
          {{ data.assessmentExpertiseTypeOther }}
        {% else %} 
          {{ role }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endset %} 

{{ xGovukSummaryCard({
  
  rows: [
    {
      key: {
        text: "Provide details of your assessment marking experience"
      },
      value: { 
        text: data.assessmentMarkingDetails
      },
      actions: {
        items: [{
          text: "Change",
          visuallyHiddenText: "Provide details of your assessment marking experience",
          href: "/application/assessment-expertise/add-details-marking"
        }]
      }
    } if data.isMarking,
    {
      key: {
        text: "Provide details of your experience moderating assessments"
      },
      value: { 
        text: data.assessmentModeratingDetails
      },
      actions: {
        items: [{
          text: "Change",
          visuallyHiddenText: "Provide details of your experience moderating assessments",
          href: "/application/assessment-expertise/add-details-moderating"
        }]
      }
    } if data.isModerating,
    {
      key: {
        text: "Provide details of your experience designing and setting assignments"
      },
      value: { 
        text: data.assessmentDesigningDetails
      },
      actions: {
        items: [{
          text: "Change",
          visuallyHiddenText: "Provide details of your experience designing and setting assignments",
          href: "/application/assessment-expertise/add-details-designing"
        }]
      }
    } if data.isDesigning,
      {
      key: {
        text: "Provide details of your experience in reviewing assessment performance"
      },
      value: { 
        text: data.assessmentReviewingDetails
      },
      actions: {
        items: [{
          text: "Change",
          visuallyHiddenText: "Provide details of your experience in reviewing assessment performance",
          href: "/application/assessment-expertise/add-details-reviewing"
        }]
      }
    }
  ]
}) }}
