{{ xGovukSummaryCard({
  
  rows: [
    {
      key: {
        text: "Provide details of your experience in making assessment judgements"
      },
      value: { 
        text: data.assessmentJudgementDetails
      },
      actions: {
        items: [{
          text: "Change",
          visuallyHiddenText: "Provide details of your experience in making assessment judgements",
          href: "/application/assessment-expertise/add-details-judgements"
        }]
      }
    } if data.isJudgement,
    {
      key: {
        text: "Provide details of your experience in standard setting and awarding qualifications"
      },
      value: { 
        text: data.assessmentStandardSettingDetails
      },
      actions: {
        items: [{
          text: "Change",
          visuallyHiddenText: "Provide details of your experience in standard setting and awarding qualifications",
          href: "/application/assessment-expertise/add-details-standard-setting"
        }]
      }
    } if data.isStandardSetting,
    {
      key: {
        text: "Provide details of your experience in designing and developing assignments"
      },
      value: { 
        text: data.assessmentDesigningDetails
      },
      actions: {
        items: [{
          text: "Change",
          visuallyHiddenText: "Provide details of your experience in designing and developing assignments",
          href: "/application/assessment-expertise/add-details-designing"
        }]
      }
    } if data.isDesigning,
      {
      key: {
        text: "Provide details of your experience in evaluating assessments or assessment approaches"
      },
      value: { 
        text: data.assessmentEvaluatingDetails
      },
      actions: {
        items: [{
          text: "Change",
          visuallyHiddenText: "Provide details of your experience in evaluating assessments or assessment approaches",
          href: "/application/assessment-expertise/add-details-evaluating"
        }]
      }
    } if data.isEvaluating
  ]
}) }}
