{% set assessmentHtml %}
  {# Build an list of the items selected #}
  <ul class="govuk-list">
    {# loops through and gets al the checked items #}
    {% for role in data.assessmentExpertiseType %}
      <li>
        {% if role == "An option that isn't listed" %}
          {{ data.assessmentExpertiseTypeOther }}
        {% else %} 
          {{ role }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endset %} 

{{ xGovukSummaryCard({
  
  rows: [
    {
      key: {
        text: "Do you have any assessment expertise?"
      },
      value: { 
        text: data.anyAssessmentExpertise
      },
      actions: {
        items: [{
          text: "Change",
          visuallyHiddenText: "do you have any assessment expertise?",
          href: "/application/assessment-expertise"
        }]
      }
    },
    {
      key: {
        text: "Which activities or responsibilities have you completed?"
      },
      value: { 
        html: assessmentHtml
      },
      actions: {
        items: [{
          text: "Change",
          visuallyHiddenText: "Which activities or responsibilities have you completed?",
          href: "./assessment-expertise"
        }]
      }
    } if data.anyAssessmentExpertise == "Yes",
    {
      key: {
        text: "Describe your experience, qualifications, skills and professional achievements to evidence your expertise in assessment"
      },
      value: { 
        text: data.assessmentExpertiseDetails
      },
      actions: {
        items: [{
          text: "Change",
          visuallyHiddenText: "Describe your experience, qualifications, skills and professional achievements to evidence your expertise in assessment",
          href: "./add-details"
        }]
      }
    } if data.anyAssessmentExpertise == "Yes"
  ]
}) }}
