
{{ xGovukSummaryCard({
  
  rows: [
    {
      key: {
        text: "Provide details of your communication and analytical judgement skills"
      },
      value: { 
        text: data.communicationDetails or "Not provided"
      },
      actions: {
        items: [{
          text: "Change ",
          visuallyHiddenText: "Provide details of your communication and analytical judgement skills",
          href: "/application/communication-analytical-judgement-skills"
        }]
      }
    }
  ]
}) }}
