
{{ xGovukSummaryCard({
  
  rows: [
    {
      key: {
        text: "Provide details of your communication, judgement and analytical skills"
      },
      value: { 
        text: data.communicationDetails
      },
      actions: {
        items: [{
          text: "Change",
          visuallyHiddenText: "Provide details of your communication, judgement and analytical skills",
          href: "/application/competencies/add-communication-details"
        }]
      }
    },
    {
      key: {
        text: "Provide details of your professional achievements"
      },
      value: { 
        text: data.achievementDetails
      },
      actions: {
        items: [{
          text: "Change",
          visuallyHiddenText: "Provide details of your professional achievements",
          href: "/application/competencies/add-achievement-details"
        }]
      }
    }
  ]
}) }}
