{# Set a flag to test of the selected subject has been deleted, this comes fomr the hidden input on the delete screen #}
{% set deletedSubject = data.delete %}

{# TODO: Get the date arrays working #}
{# {% set startDateArray = data.roleStartDate | toDateArray %} #}
{{ data.roleStartDate.month | log }}

  {{ xGovukSummaryCard({
    classes: "govuk-!-margin-bottom-9",
    titleText: data.job.roleName,
    actions: {
      items: [{
        text: "Delete job",
        visuallyHiddenText: data.job.roleName,
        href: "./delete?delete=" + data.job.roleName
      }]
    },
    rows: [
      {
        key: {
          text: "Employer"
        },
        value: { 
          text: data.job.employerName or "Not provided"
        },
        actions: {
          items: [{
            text: "Change",
            visuallyHiddenText: "employer",
            href: "./job-details"
          }]
        }
      },
      {
        key: {
          text: "Role"
        },
        value: { 
          text: data.job.roleName or "Not provided"
        },
        actions: {
          items: [{
            text: "Change",
            visuallyHiddenText: "role",
            href: "./job-details"
          }]
        }
      },
      {
        key: {
          text: "Start date"
        },
        value: { 
          text: "June 2005"
        },
        actions: {
          items: [{
            text: "Change",
            visuallyHiddenText: "Start date",
            href: "./job-details"
          }]
        }
      },
      {
        key: {
          text: "Are you still working in this role?"
        },
        value: { 
          text: data.roleEnded 
        },
        actions: {
          items: [{
            text: "Change",
            visuallyHiddenText: "End date",
            href: "./job-details"
          }]
        }
      },
      {
        key: {
          text: "End date"
        },
        value: { 
          text: "March 2015"
        },
        actions: {
          items: [{
            text: "Change",
            visuallyHiddenText: "End date",
            href: "./job-details"
          }]
        }
      } if data.roleEnded == "No",
      {
        key: {
          text: "Provide a summary of your responsibilities and activities for this role"
        },
        value: { 
          text: data.job.summaryOfActivity
        },
        actions: {
          items: [{
            text: "Change",
            visuallyHiddenText: "Provide a summary of your responsibilities and activities for this role",
            href: "./summary-of-activity"
          }]
        }
      }
    ]
  }) }}