{# Set a flag to test of the selected subject has been deleted, this comes fomr the hidden input on the delete screen #}
{% set deletedSubject = data.delete %}

{{ deletedSubject | log }}
{{ data.selectedSubject | log }}

{# If a the job details screen has been submitted - this looks for the hidden form filed on the job details page #}
{# {% if data.jobDetails == "true"  %} #}

  {% set occupationOrSubjectHtml %}
    {# Build an list of the items selected #}
    <ul class="govuk-list">
      {% for item in data.job.expertiseArea %}
        <li>
          {{ item }}
        </li>
      {% endfor %}
    </ul>
  {% endset %} 

  {% set natureHtml %}
    {# Build an list of the items selected #}
    <ul class="govuk-list">
      {% for item in data.job.nature %}
        <li>
          {{ item }}
        </li>
      {% endfor %}
      {% if data.job.natureOther %}
        <li>
          {{ data.job.natureOther }}
        </li>
      {% endif %}
    </ul>
  {% endset %} 

  {# {% if deletedSubject != data.selectedSubject %} #}

    {{ xGovukSummaryCard({
      classes: "govuk-!-margin-bottom-9",
      titleText: data.job.roleName,
      actions: {
        items: [{
          text: "Delete job",
          visuallyHiddenText: data.job.roleName,
          href: "./delete?delete=" + data.job.roleName
        }]
      },
      rows: [
        {
          key: {
            text: "Employer"
          },
          value: { 
            text: data.job.employerName or "Not provided"
          },
          actions: {
            items: [{
              text: "Change",
              visuallyHiddenText: "employer",
              href: "./job-details"
            }]
          }
        },
        {
          key: {
            text: "Role"
          },
          value: { 
            text: data.job.roleName or "Not provided"
          },
          actions: {
            items: [{
              text: "Change",
              visuallyHiddenText: "role",
              href: "./job-details"
            }]
          }
        },
        {
          key: {
            text: "Area of exertise"
          },
          value: { 
            html: occupationOrSubjectHtml
          },
          actions: {
            items: [{
              text: "Change",
              visuallyHiddenText: "area of exertise",
              href: "./expertise-area"
            }]
          }
        },
        {
          key: {
            text: "Type of expertise"
          },
          value: { 
            text: data.job.expertiseType
          },
          actions: {
            items: [{
              text: "Change",
              visuallyHiddenText: "type of expertise",
              href: "./expertise-type"
            }]
          }
        },
        {
          key: {
            text: "Nature of the role"
          },
          value: { 
            html: natureHtml
          },
          actions: {
            items: [{
              text: "Change",
              visuallyHiddenText: "nature of the role",
              href: "./job-capacity"
            }]
          }
        },
        {
          key: {
            text: "Supporting evidence and examples of your experiences"
          },
          value: { 
            text: data.job.supportingEvidence
          },
          actions: {
            items: [{
              text: "Change",
              visuallyHiddenText: "supporting evidence and examples of your experiences",
              href: "./supporting-evidence"
            }]
          }
        },
        {
          key: {
            text: "Conflict of interest"
          },
          value: { 
            text: ""
          },
          _actions: {
            items: [{
              text: "Change",
              visuallyHiddenText: "supporting evidence and examples of your experiences",
              href: "./supporting-evidence"
            }]
          }
        }
      ]
    }) }}

{# {% elseif data.jobDetails != "true" %} #}

  {# {{ appInsetText({
    sectionName: "Experience details",
    sectionHref: "./experience-details",
    classes: "app-inset-text--error" if data.showErrors == "true"
  })}} #}

{# {% endif %} #}

{# {% endif %} #}