{# Set a flag to test of the selected subject has been deleted, this comes fomr the hidden input on the delete screen #}
{% set deletedSubject = data.delete %}

{{ deletedSubject | log }}
{{ data.selectedSubject | log }}

{% set expertiseTypeHtml %}
  {# Build an list of the items selected #}
  <ul class="govuk-list">
    {# loops through and gets al the checked items #}
    {% for type in data.expertiseType.type %}
      <li>
        {{ type }}
      </li>
    {% endfor %}
  </ul>

{% endset %} 

{% set assessmentHtml %}
  {# Build an list of the items selected #}
  <ul class="govuk-list">
    {# loops through and gets al the checked items #}
    {% for role in data.expertiseType.assessment %}
      <li>
        {% if role == "Something that isn't listed" %}
          {{ data.expertiseType.assessmentOther }}
        {% else %} 
          {{ role }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>

{% endset %} 

{% set industryHtml %}
  {# Build an list of the items selected #}
  <ul class="govuk-list">
    {% for role in data.expertiseType.industry %}
      <li>
        {% if role == "Something that isn't listed" %}
          {{ data.expertiseType.industryOther }}
        {% else %} 
          {{ role }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endset %} 

{% set teachingHtml %}
  {# Build an list of the items selected #}
  <ul class="govuk-list">
    {% for role in data.expertiseType.teaching %}
      <li>
        {% if role == "Something that isn't listed" %}
          {{ data.expertiseType.teachingOther }}
        {% else %} 
          {{ role }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endset %}

{{ xGovukSummaryCard({
  classes: "govuk-!-margin-bottom-8",
  rows: [
    {
      key: {
        text: "Type of expertise"
      },
      value: { 
        html: expertiseTypeHtml
      },
      actions: {
        items: [{
          text: "Change",
          visuallyHiddenText: "type of expertise",
          href: "./expertise-type"
        }]
      }
    },
    {
      key: {
        text: "Assessment expertise"
      },
      value: { 
        html: assessmentHtml
      },
      actions: {
        items: [{
          text: "Change",
          visuallyHiddenText: "type of expertise",
          href: "./assessment-expertise"
        }]
      }
    },
    {
      key: {
        text: "Industry or occupational expertise"
      },
      value: { 
        html: industryHtml
      },
      actions: {
        items: [{
          text: "Change",
          visuallyHiddenText: "type of expertise",
          href: "./industry-expertise"
        }]
      }
    },
    {
      key: {
        text: "Teaching, lecturing or training expertise"
      },
      value: { 
        html: teachingHtml
      },
      actions: {
        items: [{
          text: "Change",
          visuallyHiddenText: "type of expertise",
          href: "./teaching-expertise"
        }]
      }
    }
    
  ]
}) }}
