{# Set a flag to test of the selected subject has been deleted, this comes fomr the hidden input on the delete screen #}
{% set deletedSubject = data.delete %}

{{ deletedSubject | log }}
{{ data.selectedSubject | log }}

{% set assessmentHtml %}
  {# Build an list of the items selected #}
  <ul class="govuk-list">
    {# loops through and gets al the checked items #}
    {% for role in data.expertiseType.assessment %}
      <li>
        {% if role == "Something that isn't listed" %}
          {{ data.expertiseType.assessmentOther }}
        {% else %} 
          {{ role }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>

{% endset %} 

{% set industryHtml %}
  {# Build an list of the items selected #}
  <ul class="govuk-list">
    {% for role in data.expertiseType.industry %}
      <li>
        {% if role == "Something that isn't listed" %}
          {{ data.expertiseType.industryOther }}
        {% else %} 
          {{ role }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endset %} 

{% set teachingHtml %}
  {# Build an list of the items selected #}
  <ul class="govuk-list">
    {% for role in data.expertiseType.teaching %}
      <li>
        {% if role == "Something that isn't listed" %}
          {{ data.expertiseType.teachingOther }}
        {% else %} 
          {{ role }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endset %}

{# If a type of expertise has been selected an it contains assessment #}
{% if data.expertiseType.type and "Assessment" in data.expertiseType.type %}
  {{ xGovukSummaryCard({
    classes: "govuk-!-margin-bottom-9",
    titleText: "Assessment",
    actions: {
      items: [{
        text: "Delete choice",
        visuallyHiddenText: "Assessment expertise",
        href: "./delete?delete=Assessment expertise"
      }]
    },
    rows: [
      {
        key: {
          text: "Type of expertise"
        },
        value: { 
          html: assessmentHtml
        },
        actions: {
          items: [{
            text: "Change",
            visuallyHiddenText: "type of expertise",
            href: "./assessment-expertise"
          }]
        }
      }
    ]
  }) }}
{% endif %}

{# If a type of expertise has been selected an it contains industry #}
{% if data.expertiseType.type and "Industry or occupational" in data.expertiseType.type %} 
  {{ xGovukSummaryCard({
    classes: "govuk-!-margin-bottom-9",
    titleText: "Industry or occupational",
    actions: {
      items: [{
        text: "Delete choice",
        visuallyHiddenText: "Industry or occupational expertise",
        href: "./delete?delete=Industry or occupational expertise"
      }]
    },
    rows: [
      {
        key: {
          text: "Type of expertise"
        },
        value: { 
          html: industryHtml
        },
        actions: {
          items: [{
            text: "Change",
            visuallyHiddenText: "type of expertise",
            href: "./industry-expertise"
          }]
        }
      }
    ]
  }) }}
{% endif %}

{# If a type of expertise has been selected an it contains teaching #}
{% if data.expertiseType.type and "Teaching, lecturing or training" in data.expertiseType.type %}
  {{ xGovukSummaryCard({
    classes: "govuk-!-margin-bottom-9",
    titleText: "Teaching, lecturing or training",
    actions: {
      items: [{
        text: "Delete choice",
        visuallyHiddenText: "Assessment expertise",
        href: "./delete?delete=Teaching, lecturing or training expertise"
      }]
    },
    rows: [
      {
        key: {
          text: "Type of expertise"
        },
        value: { 
          html: teachingHtml
        },
        actions: {
          items: [{
            text: "Change",
            visuallyHiddenText: "type of expertise",
            href: "./teaching-expertise"
          }]
        }
      }
    ]
  }) }}
{% endif %}
