
{{ xGovukSummaryCard({
  rows: [
  {
    key: {
      text: "Provide further evidence of your experience in teacher training"
    },
    value: {
      text: data.teachingTeacherTrainingDetailsFurtherEvidence
    },
    actions: {
      items: [{
        text: "Change ",
        visuallyHiddenText: "Provide further evidence of your experience in teacher training",
        href: "/account/your-details/application/further-evidence-teacher-training"
      }]
    } if pageTypeSub != "Application"
  }
  ]
}) }}
