{% if pageType != "Account" %}
  {{ xGovukSummaryCard({
    rows: [
    {
      key: {
        text: "Provide details of any further supporting evidence"
      },
      value: {
        text: data.furtherEvidenceSummary or "Not provided"
      },
      actions: {
        items: [{
          text: "Change ",
          visuallyHiddenText: "provide details of any further supporting evidence",
          href: "/application/further-evidence"
        }]
      }
    }
    ]
  }) }}
  {% else %}
    {{ xGovukSummaryCard({
      rows: [
      {
        key: {
          text: "Provide details of any further supporting evidence"
        },
        value: {
          text: data.furtherEvidenceSummary or "Not provided"
        }
      } if pageTypeSub != "FurtherEvidence",
      {
        key: {
          text: "Provide further evidence of your experience in making assessment judgements"
        },
        value: {
          text: data.assessmentJudgementDetailsFurtherEvidence
        }
      } if data.makingAssessmentsEvidenceSent == "sent",
      {
        key: {
          text: "Provide further evidence of your experience in teacher training"
        },
        value: {
          text: data.teachingTeacherTrainingDetailsFurtherEvidence
        }
      } if data.ttrainingEvidenceSent == "sent"
      ]
    }) }}
  {% endif %}