{% set industryHtml %}
  {# Build an list of the items selected #}
  <ul class="govuk-list">
    {% for role in data.industryExpertiseType %}
      <li>
        {% if role == "An option that isn't listed" %}
          {{ data.industryExpertiseTypeOther }}
        {% else %} 
          {{ role }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endset %} 

{{ xGovukSummaryCard({
  
  rows: [
    {
      key: {
        text: "Provide details of your industry, occupational or professional expertise"
      },
      value: { 
        text: data.industryExpertiseDetails
      },
      actions: {
        items: [{
          text: "Change ",
          visuallyHiddenText: "Provide details of your industry, occupational or professional expertise",
          href: "/application/industry-expertise"
        }]
      }
    }
  ]
}) }}
