{% set industryHtml %}
  {# Build an list of the items selected #}
  <ul class="govuk-list">
    {% for role in data.industryExpertiseType %}
      <li>
        {% if role == "An option that isn't listed" %}
          {{ data.industryExpertiseTypeOther }}
        {% else %} 
          {{ role }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endset %} 

{{ xGovukSummaryCard({
  
  rows: [
    {
      key: {
        text: "Do you have any industry or occupational expertise?"
      },
      value: { 
        text: data.anyIndustryExpertise
      },
      actions: {
        items: [{
          text: "Change",
          visuallyHiddenText: "do you have any industry or occupational expertise?",
          href: "/application/industry-expertise"
        }]
      }
    },
    {
      key: {
        text: "Describe your experience, qualifications, skills and professional achievements to evidence your expertise in your industry or occupation"
      },
      value: { 
        text: data.industryExpertiseDetails
      },
      actions: {
        items: [{
          text: "Change",
          visuallyHiddenText: "Describe your experience, qualifications, skills and professional achievements to evidence your expertise in your industry or occupation",
          href: "./add-details"
        }]
      }
    } if data.anyIndustryExpertise == "Yes"
  ]
}) }}
