
{{ xGovukSummaryCard({
  rows: [
    {
      key: {
        text: "Are you currently a member of any professional bodies, associations or institutes?"
      },
      value: { 
        text: data.anyMemberships or "Not provided"
      },
      actions: {
        items: [{
          text: "Change ",
          visuallyHiddenText: "Are you currently a member of any professional bodies, associations or institutes?",
          href: "/application/professional-memberships"
        }]
      } if pageType != "Account"
    }]
}) }}

{# Show this if the user says they have memberships to enter #}
{% if data.anyMemberships == "Yes" %}

  {{ xGovukSummaryCard({
    classes: "govuk-!-margin-bottom-9",
    titleText: data.membershipOrganisationName,
    actions: {
      items: [{
        text: "Delete membership ",
        visuallyHiddenText: data.membershipOrganisationName,
        href: "/application/professional-memberships/delete?delete=" + data.membershipOrganisationName
      }]
    } if pageType != "Account",
    rows: [
      {
        key: {
          text: "Organisation name"
        },
        value: { 
          text: data.membershipOrganisationName or "Not provided"
        },
        actions: {
          items: [{
            text: "Change ",
            visuallyHiddenText: "organisation name",
            href: "/application/professional-memberships/add-membership"
          }]
        } if pageType != "Account"
      },
      {
        key: {
          text: "Membership type"
        },
        value: { 
          text: data.membershipType or "Not provided"
        },
        actions: {
          items: [{
            text: "Change ",
            visuallyHiddenText: "Membership type",
            href: "/application/professional-memberships/add-membership"
          }]
        } if pageType != "Account"
      },
      {
        key: {
          text: "Year joined"
        },
        value: { 
          text: data.membershipYearJoined or "Not provided"
        },
        actions: {
          items: [{
            text: "Change ",
            visuallyHiddenText: "year joined",
            href: "/application/professional-memberships/add-membership"
          }]
        } if pageType != "Account"
      }
    ]
  }) }}

{% endif %}
