  {% set livingLocation %}
    {% if data.whereDoYouLive == "In the UK" %}
      {{ data.whereDoYouLive }}
    {% elseif data.whereDoYouLive == "Outside the UK"  %}
      {{ data.selectedCountry }}
    {% endif %}
  {% endset %}
  
  {{ xGovukSummaryCard({
    classes: "govuk-!-margin-bottom-8",
    rows: [{
      key: {
        text: "Full name"
      },
      value: {
        html: data.personalDetails.fullName or "Not provided"
      },
      actions: {
        items: [{
          text: "Change",
          visuallyHiddenText: "full name",
          href: "/application/personal-details"
        }]
      }
    }, 
    {
      key: {
        text: "Email address"
      },
      value: {
        text: data.personalDetails.email or "Not provided"
      },
      actions: {
        items: [{
          text: "Change",
          visuallyHiddenText: "email address",
          href: "/application/personal-details"
        }]
      }
    }, 
    {
      key: {
        text: "Telephone number"
      },
      value: {
        text: data.personalDetails.telephone or "Not provided"
      },
      actions: {
        items: [{
          text: "Change",
          visuallyHiddenText: "Telephone number",
          href: "/application/personal-details"
        }]
      }
    }, 
    {
      key: {
        text: "Where do you live?"
      },
      value: {
        html: livingLocation 
      },
      actions: {
        items: [{
          text: "Change",
          visuallyHiddenText: "where do you live",
          href: "/application/personal-details/where-do-you-live"
        }]
      }
    }, 
    {
      key: {
        text: "Address line 1"
      },
      value: {
        text: data.personalDetails.addressLine1 or "Not provided"
      },
      actions: {
        items: [{
          text: "Change",
          visuallyHiddenText: "address line 1",
          href: "/application/personal-details/contact-address"
        }]
      }
    }, 
    {
      key: {
        text: "Address line 2"
      },
      value: {
        text: data.personalDetails.addressLine2 or "Not provided"
      },
      actions: {
        items: [{
          text: "Change",
          visuallyHiddenText: "address line 2",
          href: "/application/personal-details/contact-address"
        }]
      }
    }, 
    {
      key: {
        text: "Town or city"
      },
      value: {
        text: data.personalDetails.townOrCity or "Not provided"
      },
      actions: {
        items: [{
          text: "Change",
          visuallyHiddenText: "town or city",
          href: "/application/personal-details/contact-address"
        }]
      }
    }, 
    {
      key: {
        text: "Region, state or province"
      },
      value: {
        text: data.personalDetails.region or "Not provided"
      },
      actions: {
        items: [{
          text: "Change",
          visuallyHiddenText: "region, state or province",
          href: "/application/personal-details/contact-address"
        }]
      }
    } if data.whereDoYouLive == "Outside the UK",
    {
      key: {
        text: "Postcode"
      },
      value: {
        text: data.personalDetails.postCode or "Not provided"
      },
      actions: {
        items: [{
          text: "Change",
          visuallyHiddenText: "county",
          href: "/application/personal-details/contact-address"
        }]
      }
    }]
  }) }}