{# Show this if the user says they have qualificatiosn to enter #}
{% if data.anyQualifications == "Yes" %}

  {{ xGovukSummaryCard({
    classes: "govuk-!-margin-bottom-9",
    titleText: data.education.qualName,
    actions: {
      items: [{
        text: "Delete qualification",
        visuallyHiddenText: data.education.qualName,
        href: "/application/education/delete?delete=" + data.education.qualName
      }]
    },
    rows: [
      {
        key: {
          text: "School, college, university or other organisation"
        },
        value: { 
          text: data.education.schoolName or "Not provided"
        },
        actions: {
          items: [{
            text: "Change",
            visuallyHiddenText: "school, college, university or other organisation",
            href: "./add-qualifcation"
          }]
        }
      },
      {
        key: {
          text: "Awarding organisation"
        },
        value: { 
          text: data.awardingOrganisation or "Not provided"
        },
        actions: {
          items: [{
            text: "Change",
            visuallyHiddenText: "awarding organisation",
            href: "./add-qualifcation"
          }]
        }
      },
      {
        key: {
          text: "Qualification, course or subject name"
        },
        value: { 
          text: data.education.qualName or "Not provided"
        },
        actions: {
          items: [{
            text: "Change",
            visuallyHiddenText: "qualification, course or subject name",
            href: "./add-qualifcation"
          }]
        }
      },
      {
        key: {
          text: "Grade"
        },
        value: { 
          text: data.education.grade or "Not provided"
        },
        actions: {
          items: [{
            text: "Change",
            visuallyHiddenText: "grade",
            href: "./add-qualifcation"
          }]
        }
      },
      {
        key: {
          text: "Year qualification was awarded"
        },
        value: { 
          text: data.education.yearAwarded or "Not provided"
        },
        actions: {
          items: [{
            text: "Change",
            visuallyHiddenText: "year qualification was awarded",
            href: "./add-qualifcation"
          }]
        }
      },
      {
        key: {
          text: "Are you able to upload a copy of a certificate for this qualification?"
        },
        value: { 
          text: data.education.uploadAvailable or "Not provided"
        },
        actions: {
          items: [{
            text: "Change",
            visuallyHiddenText: "Are you able to upload a copy of a certificate for this qualification?",
            href: "./upload-available"
          }]
        }
      },
      {
        key: {
          text: "Provide a reason for not being able to upload a copy of a certificate for this qualification"
        },
        value: { 
          text: data.education.noReasonHtml or "Not provided"
        },
        actions: {
          items: [{
            text: "Change",
            visuallyHiddenText: "Provide a reason for not being able to upload a copy of a certificate for this qualification",
            href: "./upload-available"
          }]
        }
      } if data.education.uploadAvailable == "No",
      {
        key: {
          text: "Uploaded file"
        },
        value: { 
          text: data.education.qualificationUpload or "Not provided"
        },
        actions: {
          items: [{
            text: "Change",
            visuallyHiddenText: "Uploaded file",
            href: "./upload-qualification"
          }]
        }
      } if data.education.uploadAvailable == "Yes"
    ]
  }) }}

{% endif %}

{# show this is there are no conflicts of interest #}
{% if data.anyQualifications == "No" %}
  {{ xGovukSummaryCard({
    rows: [
      {
        key: {
          text: "Do you have any qualifications that are relevant to your application?"
        },
        value: { 
          text: data.anyQualifications or "Not provided"
        },
        actions: {
          items: [{
            text: "Change",
            visuallyHiddenText: "do you have any qualifications that are relevant to your application?",
            href: "./../education"
          }]
        }
      }]
  }) }}
{% endif %}
