{# Show this if the user says they have qualificatiosn to enter #}
{% if data.anyQualifications == "Yes" %}

  {{ xGovukSummaryCard({
    classes: "govuk-!-margin-bottom-9",
    titleText: data.education.schoolName,
    actions: {
      items: [{
        text: "Delete qualification",
        visuallyHiddenText: data.education.schoolName,
        href: "/application/education/delete?delete=" + data.education.schoolName
      }]
    },
    rows: [
      {
        key: {
          text: "School, college, university or other organisation"
        },
        value: { 
          text: data.education.schoolName or "Not provided"
        },
        actions: {
          items: [{
            text: "Change",
            visuallyHiddenText: "school, college, university or other organisation",
            href: "./add-certification"
          }]
        }
      },
      {
        key: {
          text: "Qualification, course or subject name"
        },
        value: { 
          text: data.education.qualName or "Not provided"
        },
        actions: {
          items: [{
            text: "Change",
            visuallyHiddenText: "qualification, course or subject name",
            href: "./add-certification"
          }]
        }
      },
      {
        key: {
          text: "Grade"
        },
        value: { 
          text: data.education.grade or "Not provided"
        },
        actions: {
          items: [{
            text: "Change",
            visuallyHiddenText: "grade",
            href: "./add-certification"
          }]
        }
      } if data.education.grade,
      {
        key: {
          text: "Year qualification was awarded"
        },
        value: { 
          text: data.education.yearAwarded or "Not provided"
        },
        actions: {
          items: [{
            text: "Change",
            visuallyHiddenText: "year qualification was awarded",
            href: "./add-certification"
          }]
        }
      }
    ]
  }) }}

{% endif %}

{# show this is there are no conflicts of interest #}
{% if data.anyQualifications == "No" %}
  {{ xGovukSummaryCard({
    rows: [
      {
        key: {
          text: "Do you have any qualifications that are relevant to your application?"
        },
        value: { 
          text: data.anyQualifications or "Not provided"
        },
        actions: {
          items: [{
            text: "Change",
            visuallyHiddenText: "do you have any qualifications that are relevant to your application?",
            href: "./../education"
          }]
        }
      }]
  }) }}
{% endif %}
