  {% set judgementHtml %}
    {% if data.judgements == "No" %}
      {{ data.judgements }}
      {% elseif data.judgements == "Yes" %}
        {{ data.judgements }}
        <p class="govuk-body"><span class="govuk-visually-hidden">Details:</span> {{data.judgementsDetails}}</p> 
      {% else %}
      Not provided
    {% endif %}
  {% endset %}

  {% set bankruptHtml %}
    {% if data.bankrupt == "No" %}
      {{ data.bankrupt }}
      {% elseif data.bankrupt == "Yes" %}
        {{ data.bankrupt }}  
        <p class="govuk-body"><span class="govuk-visually-hidden">Details:</span> {{data.bankruptDetails}}</p> 
      {% else %}
        Not provided
    {% endif %}
  {% endset %}

  {% set misconductHtml %}
    {% if data.misconduct == "No" %}
      {{ data.misconduct }}
      {% elseif data.misconduct == "Yes" %}
        {{ data.misconduct }}
        <p class="govuk-body"><span class="govuk-visually-hidden">Details:</span> {{data.misconductDetails}}</p> 
      {% else %}
        Not provided
      {% endif %}
  {% endset %}

  {% set breachHtml %}
    {% if data.breach == "No" %}
      {{ data.breach }}
      {% elseif data.breach == "Yes" %}
        {{ data.breach }}
        <p class="govuk-body"><span class="govuk-visually-hidden">Details:</span> {{data.breachDetails}}</p> 
      {% else %}
        Not provided
    {% endif %}
  {% endset %}

  {{ xGovukSummaryCard({
    rows: [
    {
      key: {
        text: "Have you ever been convicted of the listed offences?"
      },
      value: {
        html: judgementHtml
      },
      actions: {
        items: [{
          text: "Change ",
          visuallyHiddenText: "have you ever been convicted of any of the listed offences?",
          href: "/application/self-declaration"
        }]
      } if pageType != "Account"
    },
    {
      key: {
        text: "Have you ever been declared bankrupt?"
      },
      value: {
        html: bankruptHtml
      },
      actions: {
        items: [{
          text: "Change ",
          visuallyHiddenText: "have you ever been declared bankrupt?",
          href: "/application/self-declaration/bankrupt"
        }]
      } if pageType != "Account"
    },
    {
      key: {
        text: "Have you ever been guilty of grave professional misconduct?"
      },
      value: {
        html: misconductHtml
      },
      actions: {
        items: [{
          text: "Change ",
          visuallyHiddenText: "have you ever been guilty of grave professional misconduct?",
          href: "/application/self-declaration/misconduct"
        }]
      } if pageType != "Account"
    },
    {
      key: {
        text: "Has your organisation, or you as an individual, ever been in breach of obligations related to tax or social security?"
      },
      value: {
        html: breachHtml
      },
      actions: {
        items: [{
          text: "Change ",
          visuallyHiddenText: "has your organisation, or you as an individual, ever been in breach of obligations related to tax or social security?",
          href: "/application/self-declaration/misconduct"
        }]
      } if pageType != "Account"
    }
    ] 
  }) }}