  {% set judgementHtml %}
    {{ data.judgements }}
    {% if data.judgements == "Yes" %}
      <p class="govuk-body"><span class="govuk-visually-hidden">Details:</span> {{data.judgementsDetails}}</p> 
    {% endif %}
  {% endset %}

  {% set bankruptHtml %}
    {{ data.bankrupt }}
    {% if data.bankrupt == "Yes" %}
      <p class="govuk-body"><span class="govuk-visually-hidden">Details:</span> {{data.bankruptDetails}}</p> 
    {% endif %}
  {% endset %}

  {% set misconductHtml %}
    {{ data.misconduct }}
    {% if data.misconduct == "Yes" %}
      <p class="govuk-body"><span class="govuk-visually-hidden">Details:</span> {{data.misconductDetails}}</p> 
    {% endif %}
  {% endset %}

  {% set breachHtml %}
    {{ data.breach }}
    {% if data.breach == "Yes" %}
      <p class="govuk-body"><span class="govuk-visually-hidden">Details:</span> {{data.breachDetails}}</p> 
    {% endif %}
  {% endset %}

  {{ xGovukSummaryCard({
    rows: [
    {
      key: {
        text: "Have you ever been convicted of the listed offences?"
      },
      value: {
        html: judgementHtml
      },
      actions: {
        items: [{
          text: "Change",
          visuallyHiddenText: "have you ever been convicted of any of the listed offences?",
          href: "/application/self-declaration"
        }]
      }
    },
    {
      key: {
        text: "Have you ever been declared bankrupt?"
      },
      value: {
        html: bankruptHtml
      },
      actions: {
        items: [{
          text: "Change",
          visuallyHiddenText: "have you ever been declared bankrupt?",
          href: "/application/self-declaration/bankrupt"
        }]
      }
    },
    {
      key: {
        text: "Have you ever been guilty of grave professional misconduct?"
      },
      value: {
        html: misconductHtml
      },
      actions: {
        items: [{
          text: "Change",
          visuallyHiddenText: "have you ever been guilty of grave professional misconduct?",
          href: "/application/self-declaration/misconduct"
        }]
      }
    },
    {
      key: {
        text: "Has your organisation, or you as an individual, ever been in breach of obligations related to tax or social security?"
      },
      value: {
        html: breachHtml
      },
      actions: {
        items: [{
          text: "Change",
          visuallyHiddenText: "has your organisation, or you as an individual, ever been in breach of obligations related to tax or social security?",
          href: "/application/self-declaration/misconduct"
        }]
      }
    }
    ] 
  }) }}