{% set qualTypeHtml %}
  {% if data.resultQualType == "Other qualification type" %}
    {% if data.selectedQualification == "A qualification type that isn't listed" %}
      {{ data.selectedQualificationOther }}
    {% else %} 
      {{ data.selectedQualification }}
    {% endif %}
  {% else %}
    {{ data.resultQualType }}
  {% endif %}
{% endset %}

{% set qualTypeSectorHtml %}
  {% if data.selectedQualificationSector == "A qualification type that isn't listed" %}
    {{ data.selectedQualificationOther }}
  {% else %} 
    {{ data.selectedQualificationSector }}
  {% endif %}
{% endset %}

{% set levelHtml %}
  {% if data.resultQualType == "Other qualification type" %}
    <ul class="govuk-list">
      {# loops through and gets al the checked items  #}
      {% for level in data.selectedLevel %}
        <li>
          {% if level == "A qualification level that isn't listed" %}
            {{ data.selectedLevelOther }}
          {% else %} 
            {{ level }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    {{ data.resultLevel }}
  {% endif %}
{% endset %}

{% set levelSectorHtml %}
  <ul class="govuk-list">
    {# loops through and gets al the checked items  #}
    {% for level in data.selectedLevelSector %}
      <li>
        {% if level == "A qualification level that isn't listed" %}
          {{ data.selectedLevelOther }}
        {% else %} 
          {{ level }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endset %}

{% set expertiseTypeHtml %}
  
  {# If at least one item has been checked, display the selections #}
  {% if data.hasMultipleExpertiseTypes %}
    {# multiple #}
    {% if data.referrer == "subjectSearch" %}
      <ul class="govuk-list">
        {# loops through and gets al the checked items  #}
        {% for type in data.expertiseType %}
          <li>
            {{ type }}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    
    {% if data.referrer == "sectorSearch" %}
      <ul class="govuk-list">
        {# loops through and gets al the checked items  #}
        {% for type in data.expertiseTypeSector %}
          <li>
            {{ type }}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endif %}

  {# Todo: not sure if we even need this now #}
  {# If only one type of expertise is selected #}
  {% if not data.hasMultipleExpertiseTypes %}
    {# single #}
    {% if data.anyAssessmentExpertise == "Yes" %}
      Assessment
    {% elseif data.anyIndustryExpertise == "Yes" %}
      Industry or occupational
    {% elseif data.anyTeachingExpertise == "Yes" %}
      Teaching, lecturing or training
    {% endif %}
  {% endif %}
{% endset %}

{# If it is a subjects, apprenticeships or T Level  #}
{% if data.selectedSubject %}
  {{ xGovukSummaryCard({
    titleText: data.selectedSubject,
    actions: {
      items: [{
        text: "Delete choice",
        visuallyHiddenText: data.selectedSubject,
        href: "/application/search/delete?delete=" + data.selectedSubject
      }]
    },
    rows: [
      {
        key: {
          text: "Subjects, apprenticeship or T Level"
        },
        value: { 
          html: data.resultName
        },
        actions: {
          items: [{
            text: "Change",
            visuallyHiddenText: "Subjects, apprenticeship or T Level",
            href: "/application/search/subject-search?referrer=subjectSearch"
          }]
        }
      },
      {
        key: {
          text: "Qualification type"
        },
        value: { 
          html: qualTypeHtml
        },
        actions: {
          items: [{
            text: "Change",
            visuallyHiddenText: "Qualification type",
            href: "/application/search/select-qualification?referrer=subjectSearch"
          }]
        } if data.resultQualType == "Other qualification type"
      },
      {
        key: {
          text: "Qualification level"
        },
        value: { 
          html: levelHtml
        },
        actions: {
          items: [{
            text: "Change",
            visuallyHiddenText: "Qualification level",
            href: "/application/search/select-level?referrer=subjectSearch"
          }]
        } if data.resultQualType == "Other qualification type"
      },
      {
        key: {
          text: "What best describes your type of expertise for this subject?"
        },
        value: { 
          html: expertiseTypeHtml
        },
        actions: {
          items: [{
            text: "Change",
            visuallyHiddenText: "what best describes your type of expertise for this subject?",
            href: "/application/search/select-expertise-type?referrer=subjectSearch"
          }]
        } 
      } if data.hasMultipleExpertiseTypes
    ]
  }) }}
{% endif %}

{# If a sector or industry has been selected  #}
{% if data.selectedIndustry %}
  {{ xGovukSummaryCard({
    titleText: data.selectedIndustry,
    actions: {
      items: [{
        text: "Delete choice",
        visuallyHiddenText: data.selectedIndustry,
        href: "/application/search/delete?delete=" + data.selectedIndustry
      }]
    },
    rows: [
      {
        key: {
          text: "Industry or sector"
        },
        value: { 
          html: data.selectedIndustry
        },
        actions: {
          items: [{
            text: "Change",
            visuallyHiddenText: "type of expertise",
            href: "/application/search/sector-search?referrer=sectorSearch"
          }]
        }
      },
      {
        key: {
          text: "Qualification type"
        },
        value: { 
          html: qualTypeSectorHtml
        },
        actions: {
          items: [{
            text: "Change",
            visuallyHiddenText: "Qualification type",
            href: "/application/search/select-qualification?referrer=sectorSearch"
          }]
        }
      },
      {
        key: {
          text: "Qualification level"
        },
        value: { 
          html: levelSectorHtml 
        },
        actions: {
          items: [{
            text: "Change",
            visuallyHiddenText: "Qualification level",
            href: "/application/search/select-level?referrer=sectorSearch"
          }]
        }
      },
      {
        key: {
          text: "What best describes your type of expertise for this subject?"
        },
        value: { 
          html: expertiseTypeHtml
        },
        actions: {
          items: [{
            text: "Change",
            visuallyHiddenText: "what best describes your type of expertise for this subject?",
            href: "/application/search/select-expertise-type?referrer=sectorSearch"
          }]
        }
      } if data.hasMultipleExpertiseTypes
    ]
  }) }}
{% endif %}