{% set qualTypeHtml %}
  {% if data.resultQualType != "Other qualification type" %}
    {{ data.resultQualType }}
  {% else %}
    <ul class="govuk-list">
      {# loops through and gets al the checked items  #}
      {% for qualificationType in data.selectedQualification %}
        <li>
          {% if qualificationType == "A qualification type that isn't listed" %}
            {{ data.selectedQualificationOther }}
          {% else %} 
            {{ qualificationType }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endset %}

{% set levelHtml %}
  {% if data.resultLevel != "Other qualification level" %}
    {{ data.resultLevel }}
  {% else %}
    <ul class="govuk-list">
      {# loops through and gets al the checked items  #}
      {% for level in data.selectedLevel %}
        <li>
          {% if level == "A qualification level that isn't listed" %}
            {{ data.selectedLevelOther }}
          {% else %} 
            {{ level }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endset %}


{# If it is a subjects, apprenticeships or T Level  #}
{% if data.selectedSubject %}
  {{ xGovukSummaryCard({
    titleText: data.selectedSubject,
    actions: {
      items: [{
        text: "Delete choice",
        visuallyHiddenText: data.selectedSubject,
        href: "/application/search/delete?delete=" + data.selectedSubject
      }]
    },
    rows: [
      {
        key: {
          text: "Subjects, apprenticeship or T Level"
        },
        value: { 
          html: data.resultName
        },
        actions: {
          items: [{
            text: "Change",
            visuallyHiddenText: "Subjects, apprenticeship or T Level",
            href: "./subject-search"
          }]
        }
      },
      {
        key: {
          text: "Qualification type"
        },
        value: { 
          html: qualTypeHtml
        },
        actions: {
          items: [{
            text: "Change",
            visuallyHiddenText: "Qualification type",
            href: "./select-qualification"
          }]
        } if data.resultQualType == "Other qualification type"
      },
      {
        key: {
          text: "Qualification level"
        },
        value: { 
          html: levelHtml
        },
        actions: {
          items: [{
            text: "Change",
            visuallyHiddenText: "Qualification level",
            href: "./select-level"
          }]
        } if data.resultQualType == "Other qualification type"
      }
    ]
  }) }}
{% endif %}

{# If its a sector or industry  #}
{% if data.selectedIndustry %}
  {{ xGovukSummaryCard({
    titleText: data.selectedIndustry,
    actions: {
      items: [{
        text: "Delete choice",
        visuallyHiddenText: data.selectedIndustry,
        href: "/application/search/delete?delete=" + data.selectedIndustry
      }]
    },
    rows: [
      {
        key: {
          text: "Industry or sector"
        },
        value: { 
          html: data.selectedIndustry
        },
        actions: {
          items: [{
            text: "Change",
            visuallyHiddenText: "type of expertise",
            href: "./sector-search"
          }]
        }
      },
      {
        key: {
          text: "Qualification type"
        },
        value: { 
          html: qualTypeHtml
        },
        actions: {
          items: [{
            text: "Change",
            visuallyHiddenText: "Qualification type",
            href: "./select-qualification"
          }]
        }
      },
      {
        key: {
          text: "Qualification level"
        },
        value: { 
          html: levelHtml
        },
        actions: {
          items: [{
            text: "Change",
            visuallyHiddenText: "Qualification level",
            href: "./select-level"
          }]
        }
      }
    ]
  }) }}
{% endif %}