{{ xGovukSummaryCard({
  
  rows: [
    {
      key: {
        text: "Provide details of your experience in developing learning materials"
      },
      value: { 
        text: data.teachingDevelopingDetails
      },
      actions: {
        items: [{
          text: "Change",
          visuallyHiddenText: "Provide details of your experience in developing learning materials",
          href: "/application/teaching-expertise/add-details-developing"
        }]
      }
    } if data.isDeveloping,
    {
      key: {
        text: "Provide details of your experience working in a senior role"
      },
      value: { 
        text: data.teachingSeniorDetails
      },
      actions: {
        items: [{
          text: "Change",
          visuallyHiddenText: "Provide details of your experience working in a senior role",
          href: "/application/teaching-expertise/add-details-senior-role"
        }]
      }
    } if data.isSenior,
    {
      key: {
        text: "Provide details of your experience training other staff"
      },
      value: { 
        text: data.teachingTrainingDetails
      },
      actions: {
        items: [{
          text: "Change",
          visuallyHiddenText: "Provide details of your experience training other staff",
          href: "/application/teaching-expertise/add-details-training-staff"
        }]
      }
    } 
  ]
}) }}
