{{ xGovukSummaryCard({
  
  rows: [
    {
      key: {
        text: "Provide details of your experience in teaching or lecturing"
      },
      value: { 
        text: data.teachingLecturingDetails
      },
      actions: {
        items: [{
          text: "Change",
          visuallyHiddenText: "Provide details of your experience in teaching or lecturing",
          href: "/application/teaching-expertise/add-details-teaching-lecturing"
        }]
      }
    } if data.isDeveloping,
    {
      key: {
        text: "Provide details of your experience working in training"
      },
      value: { 
        text: data.teachingTrainingDetails
      },
      actions: {
        items: [{
          text: "Change",
          visuallyHiddenText: "Provide details of your experience working in training",
          href: "/application/teaching-expertise/add-details-training"
        }]
      }
    } if data.isSenior,
    {
      key: {
        text: "Provide details of your experience in educational management"
      },
      value: { 
        text: data.teachingEducationalManagementDetails
      },
      actions: {
        items: [{
          text: "Change",
          visuallyHiddenText: "Provide details of your experience in educational management",
          href: "/application/teaching-expertise/add-details-educational-management"
        }]
      }
    } if data.isEducationalManagement,
    {
      key: {
        text: "Provide details of your experience in teacher training"
      },
      value: { 
        text: data.teachingTeacherTrainingDetails
      },
      actions: {
        items: [{
          text: "Change",
          visuallyHiddenText: "Provide details of your experience in teacher training",
          href: "/application/teaching-expertise/add-details-teacher-training"
        }]
      }
    } if data.isTeacherTraining
  ]
}) }}
