{{ xGovukSummaryCard({
  
  rows: [
    {
      key: {
        text: "Are you currently working in a teaching, lecturing or training role?"
      },
      value: { 
        text: data.currentlyInTeachingRole or "Not provided"
      },
      actions: {
        items: [{
          text: "Change ",
          visuallyHiddenText: "Are you currently working in a teaching, lecturing or training role?",
          href: "/application/teaching-experience"
        }]
      } if pageType != "Account"
    },  
    {
      key: {
        text: "Provide details of your experience in teaching or lecturing"
      },
      value: { 
        text: data.teachingLecturingDetails or "Not provided"
      },
      actions: {
        items: [{
          text: "Change ",
          visuallyHiddenText: "Provide details of your experience in teaching or lecturing",
          href: "/application/teaching-experience/add-details-teaching-lecturing"
        }]
      } if pageType != "Account"
    } if data.isLecturing,
    {
      key: {
        text: "Provide details of your experience working in training"
      },
      value: { 
        text: data.teachingTrainingDetails or "Not provided"
      },
      actions: {
        items: [{
          text: "Change ",
          visuallyHiddenText: "Provide details of your experience working in training",
          href: "/application/teaching-experience/add-details-training"
        }]
      } if pageType != "Account"
    } if data.isTraining,
    {
      key: {
        text: "Provide details of your experience in educational management"
      },
      value: { 
        text: data.teachingEducationalManagementDetails or "Not provided"
      },
      actions: {
        items: [{
          text: "Change ",
          visuallyHiddenText: "Provide details of your experience in educational management",
          href: "/application/teaching-experience/add-details-educational-management"
        }]
      } if pageType != "Account"
    } if data.isEducationalManagement,
    {
      key: {
        text: "Provide details of your experience in teacher training"
      },
      value: { 
        text: data.teachingTeacherTrainingDetails or "Not provided"
      },
      actions: {
        items: [{
          text: "Change ",
          visuallyHiddenText: "Provide details of your experience in teacher training",
          href: "/application/teaching-experience/add-details-teacher-training"
        }]
      } if pageType != "Account"
    } if data.isTeacherTraining
  ]
}) }}
