  
  {{ xGovukSummaryCard({
    rows: [{
      key: {
        text: "Uploaded file"
      },
      value: {
        text: data.idUpload or "Not provided"
      },
      actions: {
        items: [
          {
            html: "Change",
            visuallyHiddenText: "uploaded file",
            href: "/application/verify-your-identity"
          },
          {
            html: "Delete",
            visuallyHiddenText: "uploaded file",
            href: "/application/verify-your-identity/delete-document"
          }
        ]
      }      
    }]
     

  }) }}