
{% extends "_templates/form-template.html" %}

{% set formAction = "./review" %}
{% set pageHeading = "Add a certification or course" %}

{% block formContent %}

  {# <span class="govuk-caption-l">Education and qualifications</span> #}
  <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
  <p class="govuk-body">You will be able to add more certifications after you finish telling us about the first one.</p>

  {{ govukInput({
    label: {
      text: "School, college, university or other organisation",
      classes: "govuk-label--m"
    }
  } | decorateAttributes(data, "data.education.schoolNameOther")) }}

  {{ govukInput({
    label: {
      text: "Qualification or course name",
      classes: "govuk-label--m"
    }
  } | decorateAttributes(data, "data.education.courseNameOther")) }}

  {{ govukInput({
    label: {
      text: "Grade",
      classes: "govuk-label--m"
    },
    classes: "govuk-!-width-one-quarter"
  } | decorateAttributes(data, "data.education.gradeOther")) }}
  
  {{ govukInput({
    label: {
      text: "Year qualification was awarded",
      classes: "govuk-label--m"
    },
    classes: "govuk-!-width-one-quarter"
  } | decorateAttributes(data, "data.education.yearAwardedOther")) }}

  <input type="hidden" id="jobDetails" name="jobDetails" value="true">

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
    <a class="govuk-link" href="#">Cancel</a>
  </div>

{% endblock %}
