
{% extends "_templates/form-template.html" %}

{% set formAction = "./upload-available" %}
{% set pageHeading = "Add a qualification" %}

{% block formContent %}

  {# <span class="govuk-caption-l">Education and qualifications</span> #}
  <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
  {# <p class="govuk-body">You will be able to add more qualifications, after you have finished telling us about the first qualification.</p> #}
  <p class="govuk-body">For example - ABC College, Diploma in ABC, Merit, 2017</p>
  <p class="govuk-body">Ofqual has the right to request copies of your certificates after the application stage, and failure to provide these may result in your application being rejected.</p>

  {{ govukInput({
    label: {
      text: "School, college, university or other organisation",
      classes: "govuk-label--m"
    }
  } | decorateAttributes(data, "data.schoolName")) }}

  {{ govukInput({
    label: {
      text: "Awarding organisation (optional)",
      classes: "govuk-label--m"
    }
  } | decorateAttributes(data, "data.awardingOrganisation")) }}

  {{ govukInput({
    label: {
      text: "Qualification, course, subject or title",
      classes: "govuk-label--m"
    }
  } | decorateAttributes(data, "data.qualName")) }}
  

  {{ govukInput({
    label: {
      text: "Grade (optional)",
      classes: "govuk-label--m"
    },
    classes: "govuk-!-width-one-quarter"
  } | decorateAttributes(data, "data.grade")) }}
  
  {{ govukInput({
    label: {
      text: "Year awarded",
      classes: "govuk-label--m"
    },
    hint: {
      text: "For example, 2018"
    },
    classes: "govuk-!-width-one-quarter"
  } | decorateAttributes(data, "data.yearQualAwarded")) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
    <a class="govuk-link" href="/application">Cancel</a>
  </div>

{% endblock %}
