
{% extends "_templates/form-template.html" %}

{% set formAction = "/qualifications-answer" %}
{% set pageHeading = "Do you have any qualifications that are relevant to your application?" %}

{% block formContent %}

  <h1 class="govuk-heading-l">Relevant qualifications</h1>

  <p class="govuk-body">
    Tell us about your qualifications that are related to the teaching, assessment or industry expertise that you can advise Ofqual on.
  </p>

  {{ govukRadios ({
    fieldset: {
      legend: {
        text: pageHeading,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--m"      
      }
    },
    hint: {
      text: "Add examples of qualifications here"
    },
    items: [
      {
        text: "Yes"
      },
      {
        text: "No"
      }
    ]
  } | decorateAttributes(data, "data.anyQualifications")) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
    <a class="govuk-link" href="/application">Cancel</a>
  </div>

{% endblock %}
