
{% extends "_templates/form-template.html" %}

{% set formAction = "/qualifications-answer" %}
{% set pageHeading = "Do you have any qualifications relevant to your area of expertise?" %}

{% block formContent %}

  <h1 class="govuk-heading-l">Your qualifications</h1>

  <p class="govuk-body">
    Tell us about the qualifications that you have, that are relevant to the area(s) of expertise  you can provide to Ofqual.
  </p>

  <p class="govuk-body">
    This may include any occupational qualifications, teaching qualifications, assessor qualifications, degrees, diplomas or awards.
  </p>

  <p class="govuk-body">
    We do not need to know about general qualifications you have undertaken before the age of 18, such as any GCSEs or A Levels, unless they are relevant to your area of expertise.
  </p>

  {{ govukRadios ({
    fieldset: {
      legend: {
        text: pageHeading,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--m"      
      }
    },
    _hint: {
      text: "For example - ABC College, Diploma in ABC, Merit, 2017"
    },
    items: [
      {
        text: "Yes"
      },
      {
        text: "No"
      }
    ]
  } | decorateAttributes(data, "data.anyQualifications")) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
    <a class="govuk-link" href="/application">Cancel</a>
  </div>

{% endblock %}
