
{% extends "_templates/form-template.html" %}

{% set formAction = "/upload-available-answer" %}
{% set pageHeading = "Are you able to upload a copy of a certificate for this qualification?" %}

{% block formContent %}

  <span class="govuk-caption-l">{{ data.qualName }}</span>
  {% set noHtml %}
    {{ govukInput({
      classes: "govuk-!-width-two-thirds",
      label: {
        text: "Provide a reason",
        classes: "govuk-label--s"
      }
    } | decorateAttributes(data, "data.noQualReasonHtml")) }}

    {{ govukInsetText({
      text: "Ofqual has the right to request copies of your certificates at a later date, and failure to provide these may result in your application being rejected or your contract being terminated."
    }) }}
  {% endset -%}

  {{ govukRadios ({
    fieldset: {
      legend: {
        text: pageHeading,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"      
      }
    },
    items: [
      {
        text: "Yes"
      },
      {
        text: "No",
        conditional: {
          html: noHtml
        }
      }
    ]
  } | decorateAttributes(data, "data.qualUploadAvailable")) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
    <a class="govuk-link" href="/application">Cancel</a>
  </div>

{% endblock %}
