
{% extends "_templates/form-template.html" %}

{% set formAction = "./review" %}
{% set pageHeading = "Upload a scan or photograph of the qualification" %}

{% block formContent %}
  
  <span class="govuk-caption-l">{{ data.education.qualName }}</span>
  <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

  <p class="govuk-body">Supported file types: gif, jpg, jpeg, pdf, png.</p>

  {{ govukFileUpload({
    label: {
      text: "Upload a file",
      classes: "govuk-label--s"
    }
  } | decorateAttributes(data, "data.education.qualificationUpload")) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
    <a class="govuk-link" href="/application">Cancel</a>
  </div>

{% endblock %}
