{% extends "_templates/form-template.html" %}

{% set pageHeading = "Confirm personal details" %}
{% set formAction = "/apply" %}
{% set backText = "Back to application" %}
{% set backLink = "/apply" %}
{% set layoutWidth = "fullWidthLayout" %}
{% set taskId = "1" %}

{% block formContent %}

  <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

  {# {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Full name"
        },
        value: {
          text: data.personalDetials.fullName
        },
        actions: {
          items: [
            {
              href: "./../personal-details",
              text: "Change",
              visuallyHiddenText: " full name"
            }
          ]
        }
      }
    ]
  }) }} #}

  {# {{ xGovukSummaryCard({
    classes: "govuk-!-margin-bottom-9",
    titleText: "Sarah Philips",
    actions: {
      items: [{
        text: "Delete",
        visuallyHiddenText: "Sarah Philips",
        href: "/user/A10/delete"
      }]
    },
    rows: [{
      key: {
        text: "Address"
      },
      value: {
        html: "72 Guild Street\nLondon\nSE23 6FH" | nl2br
      },
      actions: {
        items: [{
          text: "Change",
          visuallyHiddenText: "address for Sarah Philips",
          href: "/user/A10/address"
        }]
      }
    }, {
      key: {
        text: "Telephone"
      },
      value: {
        text: "07700 900457"
      },
      actions: {
        items: [{
          text: "Change",
          visuallyHiddenText: "telephone for Sarah Philips",
          href: "/user/A10/telephone"
        }]
      }
    }]
  }) }} #}

 {% set recordBaseRows = [
  {
    key: {
      text: "Full name"
    },
    value: {
      text: data.personalDetials.fullName or "Not provided"
    },
    actions: {
      items: [
        {
          href: "../personal-details",
          text: "Change",
          visuallyHiddenText: "full name"
        }
      ]
    }
  }, 
  {
    key: {
      text: "Email address"
    },
    value: {
      text: data.personalDetials.email or "Not provided"
    },
    actions: {
      items: [
        {
          href: "../personal-details",
          text: "Change",
          visuallyHiddenText: "email address"
        }
      ]
    }
  },
  {
    key: {
      text: "Address line 1"
    },
    value: {
      text: data.personalDetials.addressLine1 or "Not provided"
    },
    actions: {
      items: [
        {
          href: "../personal-details",
          text: "Change",
          visuallyHiddenText: "address line 1"
        }
      ]
    }
  },
  {
    key: {
      text: "Address line 2"
    },
    value: {
      text: data.personalDetials.addressLine2 or "Not provided"
    },
    actions: {
      items: [
        {
          href: "../personal-details",
          text: "Change",
          visuallyHiddenText: "address line 2"
        }
      ]
    }
  },
  {
    key: {
      text: "Town or city"
    },
    value: {
      text: data.personalDetials.townOrCity or "Not provided"
    },
    actions: {
      items: [
        {
          href: "../personal-details",
          text: "Change",
          visuallyHiddenText: "town or city"
        }
      ]
    }
  },
  {
    key: {
      text: "County"
    },
    value: {
      text: data.personalDetials.county or "Not provided"
    },
    actions: {
      items: [
        {
          href: "../personal-details",
          text: "Change",
          visuallyHiddenText: "county"
        }
      ]
    }
  },
  {
    key: {
      text: "Postcode"
    },
    value: {
      text: data.personalDetials.postCode or "Not provided"
    },
    actions: {
      items: [
        {
          href: "../personal-details",
          text: "Change",
          visuallyHiddenText: "postcode"
        }
      ]
    }
  }
  ] %}

  {% set recordBaseHtml %}
    {{ govukSummaryList({
      rows: recordBaseRows
    }) }}
  {% endset %}

  {{ appSummaryCard({
    classes: "govuk-!-margin-bottom-6",
    _titleText: "Personal details",
    html: recordBaseHtml
  }) }}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Have you completed this section?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        value: "complete",
        text: "Yes, I’ve completed this section"
      },
      {
        value: "inProgress",
        html: "No, I’ll come back to it later"
      }
    ]
  } | decorateAttributes(data, "data.personalDetails")) }}

  {# <input type="hidden" id="personalDetails" name="personalDetails" value="complete"> #}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
    <a class="govuk-link" href="/apply">Cancel</a>
  </div>

{% endblock %}