{% extends "_templates/form-template.html" %}

{% set pageHeading = "Confirm personal details" %}
{# {% set successMessage %}Your complaint has been closed{% endset %} #}
{% set formAction = "/apply" %}
{% set backText = "Back to application" %}
{% set backLink = "/apply" %}
{% set layoutWidth = "fullWidthLayout" %}
{% set taskId = "1" %} 

{% block formContent %}

  <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

  {# {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Full name"
        },
        value: {
          text: data.personalDetials.fullName
        },
        actions: {
          items: [
            {
              href: "./../personal-details",
              text: "Change",
              visuallyHiddenText: " full name"
            }
          ]
        }
      }
    ]
  }) }} #}

  {# {{ xGovukSummaryCard({
    classes: "govuk-!-margin-bottom-9",
    titleText: "Sarah Philips",
    actions: {
      items: [{
        text: "Delete",
        visuallyHiddenText: "Sarah Philips",
        href: "/user/A10/delete"
      }]
    },
    rows: [{
      key: {
        text: "Address"
      },
      value: {
        html: "72 Guild Street\nLondon\nSE23 6FH" | nl2br
      },
      actions: {
        items: [{
          text: "Change",
          visuallyHiddenText: "address for Sarah Philips",
          href: "/user/A10/address"
        }]
      }
    }, {
      key: {
        text: "Telephone"
      },
      value: {
        text: "07700 900457"
      },
      actions: {
        items: [{
          text: "Change",
          visuallyHiddenText: "telephone for Sarah Philips",
          href: "/user/A10/telephone"
        }]
      }
    }]
  }) }} #}

 {% set recordBaseRows = [
  {
    key: {
      text: "Full name"
    },
    value: {
      text: record.trainingDetails.traineeId or "Not provided"
    },
    actions: {
      items: [
        {
          href: recordPath + "/trainee-id" | addReferrer(referrer),
          text: "Change",
          visuallyHiddenText: "trainee ID"
        }
      ]
    } if canAmend
  }
  ] %}


  {% set recordBaseHtml %}
    {{ govukSummaryList({
      rows: recordBaseRows
    }) }}
  {% endset %}

  {{ appSummaryCard({
    classes: "govuk-!-margin-bottom-6",
    titleText: "Personal details",
    html: recordBaseHtml
  }) }}


  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Have you completed this section?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        value: "Yes",
        text: "Yes, I’ve completed this section"
      },
      {
        value: "No",
        html: "No, I’ll come back to it later"
      }
    ]
  } | decorateAttributes(data, "data.task" + taskId + "End")) }}

  {# This sets a flag in the data to tell us the user has submitted the close request   #}
  <input type="hidden" id="task1End" name="task1End" value="true">


  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
    <a class="govuk-link" href="/apply">Cancel</a>
  </div>

{% endblock %}