
{% extends "_templates/form-template.html" %}

{% set pageHeading = "Personal details" %}
{% set formAction = "./personal-details/check-answers" %}
{# {% set taskId = "1" %} #}

{% block formContent %}

  <h1 class="govuk-heading-l">Personal information</h1>

  {{ govukInput({
      label: {
        text: "Full name",
        classes: "govuk-label--s"
      },
      classes: "govuk-!-width-full-width",
      attributes: {
        spellcheck: "false"
      },
      type: "text"
  } | decorateAttributes(data, "data.personalDetials.fullName")) }}

    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--s" for="telephone-number">
        UK telephone number
      </label>
      <input class="govuk-input govuk-input--width-20" id="telephone-number" name="telephone-number" type="tel" autocomplete="tel">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--s" for="email">
        Email address
      </label>
      <input class="govuk-input" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
    </div>

  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h2 class="govuk-heading-m">
       Your address
      </h2>
    </legend>

    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--s" for="address-line-1">
        Address line 1
      </label>
      <input class="govuk-input" id="address-line-1" name="address-line-1" type="text" autocomplete="address-line1">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--s" for="address-line-2">
        Address line 2 (optional)
      </label>
      <input class="govuk-input" id="address-line-2" name="address-line-2" type="text" autocomplete="address-line2">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--s" for="address-town">
        Town or city
      </label>
      <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text" autocomplete="address-level2">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--s" for="address-county">
        County (optional)
      </label>
      <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--s" for="address-postcode">
        Postcode
      </label>
      <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text" autocomplete="postal-code">
    </div>

  </fieldset>
  
  {# This sets a flag in the data to tell us the user has started the this section #}
  {# <input type="hidden" id="task1Start" name="task1Start" value="true"> #}

  {{ govukButton({
    text: "Continue"
  }) }}

{% endblock %}
