
{% extends "_templates/form-template.html" %}

{% set pageHeading = "Are you sure you want to delete this reference?" %}
{% set formAction = "./review" %}

{% block formContent %}

  {% set areaOfExpertise %}
    {{ data.delete }}
  {% endset %}

  <span class="govuk-caption-l">{{ areaOfExpertise }}</span>
  <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Yes, delete this reference",
      classes: "govuk-button--warning",
      href: "/application/sorry"
    }) }}
    <a class="govuk-link" href="./review">Cancel</a>
  </div>
  
{% endblock %}
