
{% extends "_templates/form-template.html" %}

{% set pageHeading = "Do you have any potential conflicts of interests?" %}
{% set formAction = "/conflict-of-interest-answer" %}

{% block formContent %}

  <h1 class="govuk-heading-l">Provide a reference</h1>
  <p class="govuk-body">You need to provide the details of at least one person who can give reference for you.</p>
  <p class="govuk-body">The reference should be:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      A current of previous employer
    </li>
    <li>
      A current or previous client if you are self-employed 
    </li>
  </ul>

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Add a reference",
      href: "./references/add-reference"
    }) }}
  </div>

{% endblock %}
