
{% extends "_templates/form-template.html" %}

{% set pageHeading = "Provide a reference" %}

{% block formContent %}

  <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
  <p class="govuk-body">Your reference(s) should be from someone that you have a professional relationship with.</p>
  <p class="govuk-body">The reference could be:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      a current or previous employer
    </li>
    <li>
      a current or previous professional colleague within your industry
    </li>
  </ul>
  <p class="govuk-body">We recommend that you provide the details of two references. Ofqual will contact your reference(s) using the contact details provided.</p>

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Add a reference",
      href: "./references/add-reference"
    }) }}
  </div>

{% endblock %}
