
{% extends "_templates/form-template.html" %}

{% set formAction = "/memberships-answer" %}
{% set pageHeading = "Are you currently a member of any professional bodies, associations or institutes?" %}

{% block formContent %}
{# 
  <h1 class="govuk-heading-l">Professional memberships</h1>

  <p class="govuk-body">
    Tell us about the qualifications that you have, that are relevant to the area(s) of expertise  you can provide to Ofqual.
  </p>

  <p class="govuk-body">
    This may include any occupational qualifications, teaching qualifications, assessor qualifications, degrees, diplomas or awards.
  </p>

  <p class="govuk-body">
    We do not need to know about general qualifications you have undertaken before the age of 18, such as any GCSEs or A Levels, unless they are relevant to your area of expertise.
  </p> #}

  {{ govukRadios ({
    fieldset: {
      legend: {
        text: pageHeading,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"      
      }
    },
    hint: {
      text: "For example... [example] [example]"
    },
    items: [
      {
        text: "Yes"
      },
      {
        text: "No"
      }
    ]
  } | decorateAttributes(data, "data.anyMemberships")) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
    <a class="govuk-link" href="/application">Cancel</a>
  </div>

{% endblock %}
