
{% extends "_templates/form-template.html" %}

{% set formAction = "/application/select-area-answer" %}
{% set pageHeading = "Select the qualification area" %}

{# Not being used #}
{# {% set expertiseType %}
  {% if data.selectedType == "Teaching or training expertise" %}
    teaching or training
  {% elseif data.selectedType == "assessment expertise" %}
    assessment
  {% elseif data.selectedType == "Subject matter expertise" %}
    subject matter
  {% endif %}
{% endset %} #}

{% block formContent %}

  <h1 class="govuk-heading-l">Tell us about your teaching, training, assessment, or industry expertise.</h1>
  <p class="govuk-body">
    What do we mean by expertise?
  </p>

  {{ govukRadios({
    fieldset: {
      legend: {
        text: pageHeading,
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        text: "Subject qualifications",
        hint: {
          text: "Hint text here"
        }
      },
      {
        text: "Vocational, industry and occupational qualifications",
        hint: {
          text: "Hint text here"
        }
      }
    ]
  } | decorateAttributes(data, "data.selectedArea")) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
    <a class="govuk-link" href="#">Cancel</a>
  </div>

{% endblock %}
