
{% extends "_templates/form-template.html" %}

{% set formAction = "/application/select-area-answer" %}
{% set pageHeading = "Select your area of exptertise" %}

{# Not being used #}
{# {% set expertiseType %}
  {% if data.selectedType == "Teaching or training expertise" %}
    teaching or training
  {% elseif data.selectedType == "assessment expertise" %}
    assessment
  {% elseif data.selectedType == "Subject matter expertise" %}
    subject matter
  {% endif %}
{% endset %} #}

{% block formContent %}

  <h1 class="govuk-heading-l">Your areas of expertise</h1>
  <p class="govuk-body">
    Tell us about your academic, assessment, industry and vocational and technical expertise to support our review and monitoring of the qualifications we regulate.
  </p>

  {{ govukRadios({
    fieldset: {
      legend: {
        text: pageHeading,
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        text: "Academic subjects",
        hint: {
          text: "Including advanced extension award qualifications, project qualifications (at any level), GCE Qualifications and GCSE Qualifications"
        }
      },
      {
        text: "Vocational, sector or industry",
        hint: {
          text: "Including apprenticeship end-point assessments, technical and occupational routes, and industry/sector expertise"
        }
      }
    ]
  } | decorateAttributes(data, "data.selectedArea")) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
    <a class="govuk-link" href="#">Cancel</a>
  </div>

{% endblock %}
