
{% extends "_templates/form-template.html" %}

{% set pageHeading = "Review your details" %}
{% set backText = "Back to application" %}
{% set backLink = "/application" %}
{% set layoutWidth = "fullWidthLayout" %}

{% block formContent %}

  <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
  
  {% include "_includes/summary-cards/expertise.html" %}

  {{ govukButton({
    text: "Add another area of expertise",
    classes: "govuk-button--secondary",
    href: "./"
  }) }} 

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Have you completed this section?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        value: "complete",
        text: "Yes, I’ve completed this section"
      },
      {
        value: "inProgress",
        html: "No, I’ll come back to it later"
      }
    ]
  } | decorateAttributes(data, "data.expertiseDetails")) }}

  {# Enable the next section to be active by resetting the value #}
  <input type="hidden" id="experienceDetails" name="experienceDetails" value="">

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
    <a class="govuk-link" href="./">Cancel</a>
  </div>

{% endblock %}
