
{% extends "_templates/form-template.html" %}

{% set pageHeading = "Review your answers" %}
{% set formAction = "/review-expertise-answer" %}
{% set layoutWidth = "fullWidthLayout" %}

{% block formContent %}

  <h1 class="govuk-heading-l">Review your areas of expertise</h1> 
  
  {% include "_includes/shared/expertise-card.html" %}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Did you want to add more expertise?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        value: "yes",
        text: "Yes"
      },
      {
        value: "no",
        html: "No, I've finished adding my expertise"
      }
    ]
  } | decorateAttributes(data, "data.addAnotherExpertise")) }}


  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
    <a class="govuk-link" href="./">Cancel</a>
  </div>

{% endblock %}
