
{% extends "_templates/form-template.html" %}

{% set formAction = "/application/select-area-answer" %}

{% set expertiseType %}
  {% if data.selectedType == "Teaching or training expertise" %}
    teaching or training
  {% elseif data.selectedType == "assessment expertise" %}
    assessment
  {% elseif data.selectedType == "Subject matter expertise" %}
    subject matter
  {% endif %}
{% endset %}

{% set pageHeading %}
  Select the qualification area that your {{ expertiseType }} expertise relates to
{% endset %}

{% block formContent %}

  {# <span class="govuk-caption-l">{{ data.selectedType }}</span> #}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: pageHeading,
        classes: "govuk-fieldset__legend--l govuk-fieldset__legend--sentence-case",
        isPgeHeading: true
      }
    },
    items: [
      {
        text: "General subject qualifications",
        hint: {
          text: "Hint text here"
        }
      },
      {
        text: "Vocational, industry and occupational qualifications",
        hint: {
          text: "Hint text here"
        }
      }
    ]
  } | decorateAttributes(data, "data.selectedArea")) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Continue"
    }) }}
    <a class="govuk-link" href="#">Cancel</a>
  </div>

{% endblock %}
