
{% extends "_templates/form-template.html" %}

{% set formAction = "/application/select-sector-answer" %}

{% set pageHeading %}
  {# the must be on their second loop #}
  {% if data.route %}
  {# {% if data.route and "Business and administration" in data.route or "Care services" in data.route %}  #}
    Select another sector
  {# must be the first tie on the page #}
  {% else %}
      Select a sector
  {% endif %}
{% endset %}

{% block formContent %}

    {# {% for route in data.routes %}
      test
    {% endfor %}

  {% set routeOptions = [] %}
    {% for route in data.routes %}
      {% set routeOptions = routes | push ({
        text: route
      }) %}
  {% endfor %} #}

  {% set routes = []  %}

  {% for route in data.routeData  %}
    {% set routes = routes | push ({ 
      text: route.name
    }) %}
  {% endfor %}

  {{ routes | log }}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: pageHeading,
        classes: "govuk-fieldset__legend--l",
        isPgeHeading: true
      }
    },
    hint: {
      text: "You will be able to add another sector after you finshed telling us about the first one."
    },
   items: routes
  } | decorateAttributes(data, "data.selectedRoute")) }}

  {% set detailsHtml %}
    <p class="govuk-body">
      If you can't find your sector...
    </p>
  {% endset %}

  {{ govukDetails({
    summaryText: "I can't find my sector",
    text: detailsHtml | safe
  }) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
    <a class="govuk-link" href="#">Cancel</a>
  </div>

{% endblock %}
