
{% extends "_templates/form-template.html" %}

{% set formAction = "/application/expertise/select-type" %}
{% set pageHeading = "Select a subject" %}

{% block formContent %}

  {# <span class="govuk-caption-l">{{ data.selectedRoute }}</span> #}
  <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

  {# set up which data set to pull from depednng on which route was chosen #}
  {% set subjects = []  %}
  
  {% for subject in data.subjectData  %}
    {% set subjects = subjects | push ({ 
      text: subject
    }) %}
  {% endfor %}

  <p class="govuk-body">You will be able to add another subject after you finsh telling us about the first one.</p>
  <div class="app-c-option-select" data-module="option-select" data-filter-element="&amp;lt;label for=&amp;quot;input-fc26c623&amp;quot; class=&amp;quot;govuk-label govuk-visually-hidden&amp;quot;&amp;gt;
        Filter subjects
  &amp;lt;/label&amp;gt;
      &amp;lt;input name=&amp;quot;option-select-filter&amp;quot; id=&amp;quot;input-fc26c623&amp;quot; class=&amp;quot;app-c-option-select__filter-input govuk-input&amp;quot; type=&amp;quot;text&amp;quot; aria-describedby=&amp;quot;checkboxes-fbb01ca9-count&amp;quot; aria-controls=&amp;quot;checkboxes-fbb01ca9&amp;quot;&amp;gt;
  ">


    <div role="group" aria-labelledby="option-select-title-countries" class="app-c-option-select__container js-options-container" id="list_of_countries_to_filter" tabindex="-1">
      <div class="app-c-option-select__container-inner js-auto-height-inner"> 
        <span id="checkboxes-fbb01ca9-count" class="app-c-option-select__count govuk-visually-hidden" aria-live="polite" data-single="option found" data-multiple="options found" data-selected="selected"></span>
        <div id="checkboxes-fbb01ca9" class="gem-c-checkboxes govuk-form-group" data-module="gem-checkboxes">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m gem-c-checkboxes__legend--hidden govuk-visually-hidden">Occupations</legend>

              {{ govukRadios({
                fieldset: {
                  legend: {
                    text: "Subjects",
                    classes: "govuk-visually-hidden"
                  }
                },
              items: subjects
              } | decorateAttributes(data, "data.selectedSubject")) }}

          </fieldset>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/public/javascripts/option-select.js"></script>
  
  {% set detailsHtml %}
    <p class="govuk-body">
      If you can't see your subject then choose one that closely matches yours. 
    </p>
  {% endset %}

  {{ govukDetails({
    summaryText: "I can't find my subject",
    text: detailsHtml | safe
  }) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
    <a class="govuk-link" href="#">Cancel</a>
  </div>

{% endblock %}
