
{% extends "_templates/form-template.html" %}

{% set formAction = "/select-route-answer" %}

{% set pageHeading = "Select the occupations you have significant teaching, assessment or sector experience in" %}

{% block formContent %}

  <span class="govuk-caption-l">{{ data.selectedRoute }}
  <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

<div class="app-c-option-select" data-module="option-select" data-filter-element="    &amp;lt;label for=&amp;quot;input-fc26c623&amp;quot; class=&amp;quot;govuk-label govuk-visually-hidden&amp;quot;&amp;gt;
      Filter Countries
&amp;lt;/label&amp;gt;
    &amp;lt;input name=&amp;quot;option-select-filter&amp;quot; id=&amp;quot;input-fc26c623&amp;quot; class=&amp;quot;app-c-option-select__filter-input govuk-input&amp;quot; type=&amp;quot;text&amp;quot; aria-describedby=&amp;quot;checkboxes-fbb01ca9-count&amp;quot; aria-controls=&amp;quot;checkboxes-fbb01ca9&amp;quot;&amp;gt;
">

	<div role="group" aria-labelledby="option-select-title-countries" class="app-c-option-select__container js-options-container" id="list_of_countries_to_filter" tabindex="-1">
		<div class="app-c-option-select__container-inner js-auto-height-inner"> 
      <span id="checkboxes-fbb01ca9-count" class="app-c-option-select__count govuk-visually-hidden" aria-live="polite" data-single="option found" data-multiple="options found" data-selected="selected"></span>
			<div id="checkboxes-fbb01ca9" class="gem-c-checkboxes govuk-form-group" data-module="gem-checkboxes">
				<fieldset class="govuk-fieldset">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--m gem-c-checkboxes__legend--hidden govuk-visually-hidden">Occupations</legend>
					<ul class="govuk-checkboxes gem-c-checkboxes__list">
						
            
            <li class="govuk-checkboxes__item">
							<input type="checkbox" name="filter_demo[]" id="afghanistan" value="afghanistan" class="govuk-checkboxes__input" />
							<label for="afghanistan" class="govuk-label govuk-checkboxes__label">Afghanistan</label>
						</li>
						<li class="govuk-checkboxes__item">
							<input type="checkbox" name="filter_demo[]" id="albania" value="albania" class="govuk-checkboxes__input" />
							<label for="albania" class="govuk-label govuk-checkboxes__label">Albania</label>
						</li>
						<li class="govuk-checkboxes__item">
							<input type="checkbox" name="filter_demo[]" id="algeria" value="algeria" class="govuk-checkboxes__input" />
							<label for="algeria" class="govuk-label govuk-checkboxes__label">Algeria</label>
						</li>
						<li class="govuk-checkboxes__item">
							<input type="checkbox" name="filter_demo[]" id="american_samoa" value="american_samoa" class="govuk-checkboxes__input" />
							<label for="american_samoa" class="govuk-label govuk-checkboxes__label">American Samoa</label>
						</li>
						<li class="govuk-checkboxes__item">
							<input type="checkbox" name="filter_demo[]" id="andorra" value="andorra" class="govuk-checkboxes__input" />
							<label for="andorra" class="govuk-label govuk-checkboxes__label">Andorra</label>
						</li>
						<li class="govuk-checkboxes__item">
							<input type="checkbox" name="filter_demo[]" id="angola" value="angola" class="govuk-checkboxes__input" />
							<label for="angola" class="govuk-label govuk-checkboxes__label">Angola</label>
						</li>
						<li class="govuk-checkboxes__item">
							<input type="checkbox" name="filter_demo[]" id="anguilla" value="anguilla" class="govuk-checkboxes__input" />
							<label for="anguilla" class="govuk-label govuk-checkboxes__label">Anguilla</label>
						</li>
						<li class="govuk-checkboxes__item">
							<input type="checkbox" name="filter_demo[]" id="antigua_and_barbuda" value="antigua_and_barbuda" class="govuk-checkboxes__input" />
							<label for="antigua_and_barbuda" class="govuk-label govuk-checkboxes__label">Antigua and Barbuda</label>
						</li>
						<li class="govuk-checkboxes__item">
							<input type="checkbox" name="filter_demo[]" id="argentina" value="argentina" class="govuk-checkboxes__input" />
							<label for="argentina" class="govuk-label govuk-checkboxes__label">Argentina</label>
						</li>
						<li class="govuk-checkboxes__item">
							<input type="checkbox" name="filter_demo[]" id="armenia" value="armenia" class="govuk-checkboxes__input" />
							<label for="armenia" class="govuk-label govuk-checkboxes__label">Armenia</label>
						</li>
						<li class="govuk-checkboxes__item">
							<input type="checkbox" name="filter_demo[]" id="aruba" value="aruba" class="govuk-checkboxes__input" />
							<label for="aruba" class="govuk-label govuk-checkboxes__label">Aruba</label>
						</li>
						<li class="govuk-checkboxes__item">
							<input type="checkbox" name="filter_demo[]" id="australia" value="australia" class="govuk-checkboxes__input" />
							<label for="australia" class="govuk-label govuk-checkboxes__label">Australia</label>
						</li>
						<li class="govuk-checkboxes__item">
							<input type="checkbox" name="filter_demo[]" id="austria" value="austria" class="govuk-checkboxes__input" />
							<label for="austria" class="govuk-label govuk-checkboxes__label">Austria</label>
						</li>
						<li class="govuk-checkboxes__item">
							<input type="checkbox" name="filter_demo[]" id="azerbaijan" value="azerbaijan" class="govuk-checkboxes__input" />
							<label for="azerbaijan" class="govuk-label govuk-checkboxes__label">Azerbaijan</label>
						</li>
						<li class="govuk-checkboxes__item">
							<input type="checkbox" name="filter_demo[]" id="bahamas" value="bahamas" class="govuk-checkboxes__input" />
							<label for="bahamas" class="govuk-label govuk-checkboxes__label">Bahamas</label>
						</li>
						<li class="govuk-checkboxes__item">
							<input type="checkbox" name="filter_demo[]" id="bahrain" value="bahrain" class="govuk-checkboxes__input" />
							<label for="bahrain" class="govuk-label govuk-checkboxes__label">Bahrain</label>
						</li>
						<li class="govuk-checkboxes__item">
							<input type="checkbox" name="filter_demo[]" id="bangladesh" value="bangladesh" class="govuk-checkboxes__input" />
							<label for="bangladesh" class="govuk-label govuk-checkboxes__label">Bangladesh</label>
						</li>
						<li class="govuk-checkboxes__item">
							<input type="checkbox" name="filter_demo[]" id="barbados" value="barbados" class="govuk-checkboxes__input" />
							<label for="barbados" class="govuk-label govuk-checkboxes__label">Barbados</label>
						</li>
						<li class="govuk-checkboxes__item">
							<input type="checkbox" name="filter_demo[]" id="belarus" value="belarus" class="govuk-checkboxes__input" />
							<label for="belarus" class="govuk-label govuk-checkboxes__label">Belarus</label>
						</li>
						<li class="govuk-checkboxes__item">
							<input type="checkbox" name="filter_demo[]" id="belgium" value="belgium" class="govuk-checkboxes__input" />
							<label for="belgium" class="govuk-label govuk-checkboxes__label">Belgium</label>
						</li>
						<li class="govuk-checkboxes__item">
							<input type="checkbox" name="filter_demo[]" id="belize" value="belize" class="govuk-checkboxes__input" />
							<label for="belize" class="govuk-label govuk-checkboxes__label">Belize</label>
						</li>
						<li class="govuk-checkboxes__item">
							<input type="checkbox" name="filter_demo[]" id="benin" value="benin" class="govuk-checkboxes__input" />
							<label for="benin" class="govuk-label govuk-checkboxes__label">Benin</label>
						</li>
						<li class="govuk-checkboxes__item">
							<input type="checkbox" name="filter_demo[]" id="bermuda" value="bermuda" class="govuk-checkboxes__input" />
							<label for="bermuda" class="govuk-label govuk-checkboxes__label">Bermuda</label>
						</li>
						<li class="govuk-checkboxes__item">
							<input type="checkbox" name="filter_demo[]" id="bhutan" value="bhutan" class="govuk-checkboxes__input" />
							<label for="bhutan" class="govuk-label govuk-checkboxes__label">Bhutan</label>
						</li>
						<li class="govuk-checkboxes__item">
							<input type="checkbox" name="filter_demo[]" id="bolivia" value="bolivia" class="govuk-checkboxes__input" />
							<label for="bolivia" class="govuk-label govuk-checkboxes__label">Bolivia</label>
						</li>
						<li class="govuk-checkboxes__item">
							<input type="checkbox" name="filter_demo[]" id="cote" value="cote" class="govuk-checkboxes__input" />
							<label for="cote" class="govuk-label govuk-checkboxes__label">Cote d’Ivoire</label>
						</li>
						<li class="govuk-checkboxes__item">
							<input type="checkbox" name="filter_demo[]" id="sthelena" value="sthelena" class="govuk-checkboxes__input" />
							<label for="sthelena" class="govuk-label govuk-checkboxes__label">St Helena, Ascension and Tristan da Cunha</label>
						</li>
						<li class="govuk-checkboxes__item">
							<input type="checkbox" name="filter_demo[]" id="trinidad" value="trinidad" class="govuk-checkboxes__input" />
							<label for="trinidad" class="govuk-label govuk-checkboxes__label">Trinidad & Tobago</label>
						</li>
					</ul>
				</fieldset>
			</div>
		</div>
	</div>
</div>

{# <script>
  document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
</script> #}

<script type="text/javascript" src="/public/javascripts/option-select.js"></script>


  <div class="govuk-button-group">
    {{ govukButton({
      text: "Continue"
    }) }}
    <a class="govuk-link" href="#">Cancel</a>
  </div>

{% endblock %}
