{% extends "_templates/form-template.html" %}

{% set formAction = "./confirmation" %}

{% block formContent %}

  {# <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop"> #}

      <h1 class="govuk-heading-l">Review your answers</h1>
      
      <h2 class="govuk-heading-m">Your details</h2>
      
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Title"
            },
            value: {
              text: data.title or 'Not provided'
            },
            actions: {
              items: [
                {
                  href: "./../example-folder",
                  text: "Change",
                  visuallyHiddenText: "the title"
                }
              ]
            }
          },
          {
            key: {
              text: "Full name"
            },
            value: {
              text: data.fullName or 'Not provided'
            },
            actions: {
              items: [
                {
                  href: "./../example-folder",
                  text: "Change",
                  visuallyHiddenText: "the full name"
                }
              ]
            }
          },
          {
            key: {
              text: "Phone number"
            },
            value: {
              text: data.phone or 'Not provided'
            },
            actions: {
              items: [
                {
                  href: "./../example-folder",
                  text: "Change",
                  visuallyHiddenText: "the phone number"
                }
              ]
            }
          },
          {
            key: {
              text: "Email address"
            },
            value: {
              text: data.email or 'Not provided'
            },
            actions: {
              items: [
                {
                  href: "./../example-folder",
                  text: "Change",
                  visuallyHiddenText: " email address"
                }
              ]
            }
          }
        ]
      }) }}

      {% if data.subject %}
      
        <h2 class="govuk-heading-m">Subject details</h2>
        
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Subject"
              },
              value: {
                text: data.subject or 'Not provided'
              },
              actions: {
                items: [
                  {
                    href: "./search-for-subject",
                    text: "Change",
                    visuallyHiddenText: " subject"
                  }
                ]
              }
            }
          ]
        }) }}

      {% endif %}

      <input type="hidden" id="confirmEnquiry" name="confirmEnquiry" value="true">

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Submit question"
        }) }}
        <a class="govuk-link" href="#">Cancel</a>
      </div>
  
    {# </div>
  </div> #}
  
{% endblock %}