{% extends "_templates/page-template.html" %}

{% set pageHeading = "Your enquiry has been submitted" %}
{% set backLink = "false" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set panelHtml %}
        We have sent you a confirmation email to email@email.com
      {% endset %}

      {{ govukPanel({
        titleText: "Your enquiry has been submitted",
        html: panelHtml
      }) }}

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">
        You will receive an email with a link for you to <a href="./../manage/notification-email" class="govuk-link">sign in to manage your case, view and update your question to Ofqual</a>.
      </p>

      <p>We take all questions seriously, and if you ask us a question you will be notified by email once we have an answer for you. You will need to follow the link within the email and sign in to read our response and manage your case.</p>
      <p>We will:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>contact you within 3 working days with a response to your enquiry</li>
        <li>send notifications related to your question</li>
      </ul>

      <p class="govuk-body">
        <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
      </p>          
  
    </div>
  </div>
  
{% endblock %}