
{% extends "_templates/form-template.html" %}

{% set pageHeading = "Page heading" %}
{% set formAction = "./branching-question" %}

{% block formContent %}

  <span class="govuk-caption-l">Caption</span>  
  <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

  {{ govukInput({
    label: {
      text: "Title (optional)",
      classes: "govuk-label--s"
    },
    classes: "govuk-input govuk-input--width-5"
  } | decorateAttributes(data, "data.title")) }}

  {{ govukInput({
    label: {
      text: "Full name",
      classes: "govuk-label--s"
    },
    classes: "govuk-input govuk-!-width-two-thirds"
  } | decorateAttributes(data, "data.fullName")) }}
  
  
  {{ govukInput({
    label: {
      text: "Telephone number (optional)",
      classes: "govuk-label--s"
    },
    classes: "govuk-input govuk-!-width-two-thirds"
  } | decorateAttributes(data, "data.phone")) }}
  
  {{ govukInput({
    label: {
      text: "Email address",
      classes: "govuk-label--s"
    },
    hint: {
      text: "This email will be used to send you updates about your question"
    },
    classes: "govuk-input govuk-!-width-two-thirds"
  } | decorateAttributes(data, "data.email")) }}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Form label",
        classes: "govuk-label--s"
      }
    },
    items: [
      {
        value: "Option 1",
        text: "Option 1"
      },
      {
        value: "Option 2",
        text: "Option 2"
      },
      {
        value: "Option 3",
        text: "Option 3"
      }
    ]
  } | decorateAttributes(data, "data.nameHere")) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Continue"
    }) }}
    <a class="govuk-link" href="#">Cancel</a>
  </div>

{% endblock %}
