
{% extends "_templates/form-template.html" %}

{% set pageHeading = "Search for the subject" %}
{% set formAction = "./check-answers" %}

{% block formContent %}

  <span class="govuk-caption-l">Caption</span>
  <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

  <div class="body-text">
    <span class="govuk-hint">Education, Science or Psychology for example</span>
    <div id="tt-default" class="autocomplete-wrapper govuk-!-width-full-width govuk-!-margin-top-2 govuk-!-margin-bottom-6 govuk-body"></div>
  </div>

  <a href="./check-answers" class="govuk-link govuk-body">I can't find the subject, skip this step</a>

  <script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>

  <script type="text/javascript">
    var subjects = [
      "Accounting and finance",
      "Agriculture, horticulture and the environment",
      "Animal care, grooming and veterinary science",
      "Art, design and photography",
      "Building and construction",
      "Business management, marketing and sales",
      "Communication and journalism",
      "Cosmetic and complementary therapies",
      "Counselling",
      "Design technology, product design and graphics",
      "Economics",
      "Education",
      "Electronics",
      "Engineering",
      "English and literacy",
      "First Aid",
      "Geography",
      "Health and safety (children and adults)",
      "Health and social care",
      "History and classics",
      "Hospitality, food and catering",
      "ICT and computer science",
      "Law",
      "Mathematics and numeracy",
      "Media",
      "Medicine, nursing and dentistry",
      "Modern and foreign languages",
      "Music and music technology",
      "Performing arts, dance and drama",
      "Politics",
      "Project qualifications",
      "Protection and security services",
      "Psychology",
      "Public services",
      "Religious Education, philosophy and theology",
      "Science",
      "Sign language",
      "Sociology ",
      "Sport, PE and personal training",
      "TEFL/ESOL",
      "Transportation operations and maintenance",
      "Travel and tourism",
      "NA",
      "Multiple"
    ];

  </script>

  <script type="text/javascript">
    var element = document.querySelector('#tt-default')
    var id = 'autocomplete-default'
    accessibleAutocomplete({
      element: element,
      id: id,
      source: subjects,
      name: "subject"
    })
  </script>

  <div class="govuk-button-group govuk-!-margin-top-6">
    {{ govukButton({
      text: "Continue"
    }) }}
    <a class="govuk-link" href="./../frontdoor">Cancel</a>
  </div>

{% endblock %}
