
{% extends "_templates/form-template.html" %}

{% set formAction = "/assessment-designing" %}
{% set pageHeading = "Provide details of your experience in designing and setting assessments" %}

{% block formContent %}

  <span class="govuk-caption-l">Assessment expertise </span>
  <h1 class="govuk-heading-l">Designing and setting assessments</h1>

  <p class="govuk-body">
    Make sure you cover how this applies to the subject(s), qualification type(s) and level(s) you've selected:
  </p>

  {% set subjectsHtml %}
    {# Build an list of the items selected #}
    <ul class="govuk-list govuk-list--bullet">
      {# loops through and gets all the checked items #}
        <li>
          {# If its not an "other" subject, show the subject and qual type/level #}
          {% if data.selectedSubject and data.resultQualType == ("End-point assessment" or "T Level") %}
            {{ data.selectedSubject }}
          {# If it is an "other" subject, so just show the subject #}
          {% else %}
            {{ data.resultName }}
            {% if data.selectedQualification == "I don't know the qualification type" %}
              {% if data.selectedLevel == "I don't know the level" %}
                {% else %} 
                ({{ data.selectedLevel }})
              {% endif %}
            {% else %} 
              {% if data.selectedLevel == "I don't know the level" %}
                ({{ data.selectedQualification }})
                {% else %} 
                ({{ data.selectedQualification }} – {{ data.selectedLevel }})
              {% endif %}
            {% endif %}
          {% endif %}
        </li>
    </ul>
  {% endset %}

  {{ subjectsHtml | safe }}

  {% set detailsHtml %}
    <p class="govuk-body">This is your opportunity to provide information and evidence about your expertise and the activities you have selected. You can use this section to tell us about:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>your understanding of key assessment concepts such as validity and reliability</li>
      <li>your awareness of the strengths and limitations of different assessment methods</li>
      <li>providing analytical feedback to others</li>
      <li>qualifications you have reviewed</li>
      <li>knowlege and understanding of assessment principles and practices</li>
      <li>experience of criteria for evaluation and standards setting and maintenance</li>
      <li>achievements in your roles such as, key note speaker, research or consultancy achievements</li>
      <li>analytical and judgement skills that enable you to understand approaches and demonstrate your ability to provide conclusions</li>
      <li>communication skills that demonstrate your ability to write clear evidence based reports</li>
      <li>ability to work with others</li>
    </ul>
    <p class="govuk-body">Evidence of your subject expertise will be covered in the areas of expertise section.</p>
  {% endset %}

  {{ govukDetails({
    summaryText: "What should I include?",
    html: detailsHtml
  }) }}

  {{ govukCharacterCount({
    maxwords: 500,
    rows: "14",
    label: {
      text: pageHeading,
      classes: "govuk-label--m"
    }
   } | decorateAttributes(data, "data.assessmentDesigningDetails")) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
    <a class="govuk-link" href="/application">Cancel</a>
  </div>

{% endblock %}
