
{% extends "_templates/form-template.html" %}

{% set formAction = "./add-details" %}
{% set pageHeading = "Which assessment activities or responsibilities have you completed in this subject?" %}

{% block formContent %}

  <span class="govuk-caption-l">Assessment</span>

  {% set natureOtherHtml %}
    {{ govukTextarea({
      _classes: "govuk-!-width-two-thirds",
      label: {
        text: "Provide details (optional)",
        classes: "govuk-label--s"
      }
    } | decorateAttributes(data, "data.assessmentExpertiseTypeOther")) }}
  {% endset -%}
  
  {{ govukCheckboxes({
    fieldset: {
      legend: {
        text: pageHeading,
        classes: "govuk-fieldset__legend--l",
        isPageHeading: true
      }
    },
    hint: {
      text: "Select all that apply"
    },
    items: [
      {
        text: "Marking assessments"
      },
      {
        text: "Moderating assessments"
      },
      {
        text: "Designing and setting assessments"
      },
      {
        text: "Reviewing assessment performance"
      }
    ]
  } | decorateAttributes(data, "data.assessmentExpertiseType")) }}
  
  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
    <a class="govuk-link" href="/application">Cancel</a>
  </div>

{% endblock %}
