
{% extends "_templates/form-template.html" %}

{% set formAction = "./add-details" %}
{% set pageHeading = "Which activities or responsibilities have you completed?" %}

{% block formContent %}

  <span class="govuk-caption-l">Assessment</span>

  {% set natureOtherHtml %}
    {{ govukTextarea({
      _classes: "govuk-!-width-two-thirds",
      label: {
        text: "Provide details (optional)",
        classes: "govuk-label--s"
      }
    } | decorateAttributes(data, "data.expertiseType.assessmentOther")) }}
  {% endset -%}
  
  {{ govukCheckboxes({
    fieldset: {
      legend: {
        text: pageHeading,
        classes: "govuk-fieldset__legend--l",
        isPageHeading: true
      }
    },
    hint: {
      text: "Select all that apply"
    },
    items: [
      {
        text: "Checking and verifying the marking of others (as a moderator, or as an internal or external verifier)"
      },
      {
        text: "Designing and/or setting assessments"
      },
      {
        text: "Designing or writing question papers or assessment tasks"
      },
      {
        text: "Designing the assessment approach for a qualification"
      },
      {
        text: "Determining key grade boundaries for examinations or assessments"
      },
      {
        text: "Evaluating the effectiveness of specific assessment design and approaches"
      },
      {
        text: "Leading a team of markers, examiners or assessors"
      },
      {
        text: "Marking assessments"
      },
      {
        text: "Researching or developing assessment policy and practices"
      },
      {
        text: "Reviewing or overseeing qualification standards"
      },
      {
        text: "Reviewing the performance of assessments (individual questions, assessment tasks, mark schemes)"
      },
      {
        text: "Reviewing the validity and reliability of the qualification, as part of the qualification lifecycle"
      },
      {
        text: "Setting standards for qualification outcomes"
      },
      {
        text: "An option that isn't listed",
        conditional: {
          html: natureOtherHtml
        }
      }
    ]
  } | decorateAttributes(data, "data.expertiseType.assessment")) }}
  
  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
    <a class="govuk-link" href="/application">Cancel</a>
  </div>

{% endblock %}
