
{% extends "_templates/page-template.html" %}

{% set pageHeading = "Select your area of exptertise" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">Add your work history</h1>

      <p class="govuk-body">
        You will be asked to provide the employer name, job title, start and end dates of your work history. 
      </p>
      <p class="govuk-body">
        If you're self employed, or have had multiple job titles under one employer, add a new role for each job title. If you have worked for Ofqual outside of the subject matter expert service, or you have worked for other regulatory bodies, include these roles in this section. 
      </p>
      <p class="govuk-body">
        You will only need to add roles that relate to your area of expertise.
      </p>
      

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Add a role",
          href: "./experience-details/job-details"
        }) }}
      </div>

    </div>
  </div>

{% endblock %}
