
{% extends "_templates/page-template.html" %}

{% set pageHeading = "Select your area of exptertise" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">Add your work history</h1>
      <p class="govuk-body">
        Add your work history relevant to your area of expertise to support your application. For example, related to any teaching, assessment or industry experience. 
      </p>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Add a role",
          href: "./experience-details/job-details"
        }) }}
      </div>

    </div>
  </div>

{% endblock %}
