
{% extends "_templates/form-template.html" %}

{% set formAction = "/application/select-area-answer" %}
{% set pageHeading = "Select your area of exptertise" %}

{% block formContent %}

  <h1 class="govuk-heading-l">Your work history</h1>
  <p class="govuk-body">
    Add work history relevant to your academic, assessment, industry and vocational and technical expertise. 
  </p>
  {# <h2 class="govuk-heading-l">No work history added</h2> #}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Add a job",
      href: "./experience-details/job-details-1"
    }) }}
    {# <a class="govuk-link" href="#">Cancel</a> #}
  </div>

{% endblock %}
