
{% extends "_templates/form-template.html" %}

{% set formAction = "./summary-of-activity" %}
{# TODO: Get the date arrays working #}
{% set startDateArray = data.roleStartDate | toDateArray %}
{% set pageHeading %}
 {# If a job already exists #}
 {% if data.job.roleName %}
    Add another role
  {% else %}
    Add a role
  {% endif%}
{% endset %}

{% block formContent %}

  <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

  <p class="govuk-body">You will be able to add more roles after you finsh telling us about the first one.</p>

  {{ govukInput({
    label: {
      text: "Name of employer",
      classes: "govuk-label--m"
    },
    hint: {
      text: "If you have worked for yourself, enter 'self-employed"
    }
  } | decorateAttributes(data, "data.job.employerName")) }}

  {{ govukInput({
    label: {
      text: "Role",
      classes: "govuk-label--m"
    },
    _hint: {
      text: "If you have had more than one role, enter your most relevant role"
    }
  } | decorateAttributes(data, "data.job.roleName")) }}

  {% set startDateHintHtml %}
    For example, <time datetime="">3 2019</time>
  {% endset %}

  {{ govukDateInput({
    id: data[roleStartDate],
    namePrefix: data[roleStartDate],
    fieldset: {
      legend: {
      text: "Add your start date",
      classes: "govuk-fieldset__legend--m"
      }
    },
    hint: {
      html: startDateHintHtml
    },
    items: [
        {
          name: "month",
          classes: "govuk-input--width-2",
          value: data[roleStartDate][month]
        },
        {
          name: "year",
          classes: "govuk-input--width-4",
          value: data[roleStartDate][year]
        }
      ]
  }) }}

  {% set conditionalCloseDateHtml %}

    {% set startDateHintHtml %}
      For example, <time datetime="">5 2021</time>
    {% endset %}

    {{ govukDateInput({
      id: data[roleEndDate],
      namePrefix: data[roleEndDate],
      fieldset: {
        legend: {
        text: "Add your end date",
        classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        html: startDateHintHtml
      },
      items: [
          {
            name: "month",
            classes: "govuk-input--width-2",
            value: data.roleEndDate.month
          },
          {
            name: "year",
            classes: "govuk-input--width-4",
            value: data.roleEndDate.year
          }
        ]
    }) }}

  {% endset %}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Are you still in this role?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        text: "Yes"
      },
      {
        text: "No",
        conditional: {
          html: conditionalCloseDateHtml
        }
      }
    ]
  } | decorateAttributes(data, "data.roleEnded")) }}

  <input type="hidden" id="jobDetails" name="jobDetails" value="true">

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
    <a class="govuk-link" href="#">Cancel</a>
  </div>

{% endblock %}
