
{% extends "_templates/form-template.html" %}

{% set pageHeading = "Review your work history" %}
{% set formAction = "/review-jobs-answer" %}
{% set layoutWidth = "fullWidthLayout" %}
{% set backText = "Back to application" %}
{% set backLink = "/application" %}

{% block formContent %}

  <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

  {# If there are no jobs listed - show the section not complete #}
  {# {% if not data.jobTitle %}
    {{ appInsetText({
      sectionName: "Experience details",
      sectionHref: "./../experience-details",
      classes: "app-inset-text--error" if data.showErrors == "true"
    })}}
  {% endif %}  #}
  
  {% include "_includes/summary-cards/experience.html" %}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Did you want to add another role?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        text: "Yes"
      },
      {
        text: "No, I've finished adding roles"
      }
    ]
  } | decorateAttributes(data, "data.addAnotherJob")) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
    <a class="govuk-link" href="/application">Cancel</a>
  </div>

{% endblock %}
