
{% extends "_templates/form-template.html" %}

{% set formAction = "./review" %}
{% set pageHeading = "Provide a summary of your responsibilities and activities for this role" %}

{% block formContent %}

  <span class="govuk-caption-l">{{ data.job.roleName }}</span>

  {{ govukCharacterCount({
    maxwords: 1500,
    rows: "12",
    label: {
      text: pageHeading,
      isPageHeading: true,
      classes: "govuk-label--l"
    },
    _hint: {
      text: "Add suggestions on what we want them to say here..."
    }
   } | decorateAttributes(data, "data.job.summaryOfActivity")) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
    <a class="govuk-link" href="/application">Cancel</a>
  </div>

{% endblock %}
