
{% extends "_templates/form-template.html" %}

{% set pageHeading = "Right to work in the United Kingdom" %}
{% set formAction = "./right-to-work" %}

{% block formContent %}

  <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
  <p class="govuk-body">Successful applicants who have the right to work in the United Kingdom (UK) may be commissioned by Ofqual to carry out any assignment that is relevant to their area of expertise.</p>
 
  <p class="govuk-body">Successful applicants who do not have the right to work in the UK, and live outside of the UK, EEA or Switzerland, may be commissioned to carry out limited desk based assignments from their home country.</p>

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Do you live in the UK?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        text: "Yes"
      },
      {
        text: "No"
      }
    ]
  } | decorateAttributes(data, "data.liveInUk")) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
    <a class="govuk-link govuk-body" href="/application">Cancel</a>
  </div>

{% endblock %}
