
{% extends "_templates/page-template.html" %}

{% set pageHeading = "Verify your identity" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
      <p class="govuk-body">
        As you have not provided a UK or Irish passport, or birth or adoption certificate, you will be contacted by the Ofqual subject matter experts team before your application is evaluated. The team will discuss with you alternative forms of identification that you can provide.
      </p>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue",
          href: "/application/right-to-work/review"
        }) }}
      </div>

    </div>
  </div>

{% endblock %}
