
{% extends "_templates/form-template.html" %}

{% set pageHeading = "What is your right to work status?" %}
{% set formAction = "./review" %}

{% block formContent %}

  {% set otherDetailsHtml %}
    {{ govukInput({
      label: {
        text: "Provide details",
        classes: "govuk-label--s"
      }
    } | decorateAttributes(data, "data.otherStatusDetails")) }}
  {% endset %}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: pageHeading,
        classes: "govuk-fieldset__legend--l",
        isPageHeading: true
      }
    },
    items: [
      {
        text: "UK citizenship"
      },
      {
        text: "European Economic Area (EEA) citizenship"
      },
      {
        text: "An option that isn't listed",
        conditional: {
          html: otherDetailsHtml
        }
      }
    ]
  } | decorateAttributes(data, "data.rightToWorkStatus")) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
    <a class="govuk-link govuk-body" href="/application">Cancel</a>
  </div>

{% endblock %}
