
{% extends "_templates/page-template.html" %}

{% set backLink = "false" %}
{% set bodyClasses = "is-email-template" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="app-email-template">
        <img src="/public/images/ofqual-logo.png" alt="Ofqual logo" width="155px" class="govuk-!-margin-bottom-3">
        <p class="govuk-body">Confirm your email address to apply to provide expertise:</p>
        <p class="govuk-body">
        <a href="/apply" class="govuk-link">https://www.apply-to-provide-expertise.ofqual.gov.uk/applicant/sign-in/confirm?token=wx2AfgEnKAD-_AhZViCc</a></p>
        <p class="govuk-body">You can then save and return to your application.</p>
      </div>

    </div>
  </div>

{% endblock %}
