{% extends "_templates/page-template.html" %}

{% set pageHeading = "Your application" %}
{% set primaryNavActive = "Your details" %}
{% set pageType = "Account" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">Submitted 10 Feb 2023 </span>
      <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
      {# Include all the application sections #}
      {% include "_includes/shared/application-sections.html" %}
    <div>
  </div>
{% endblock %}