
{% extends "_templates/form-template.html" %}

{% set serviceName = "GOV.UK One Login" %}
{% set pageHeading = "Check your email" %}
{% set formAction = "/phone-code" %}
{% set signedOut = "true" %}

{% block formContent %}
  <h1 class="govuk-heading-l">Check your phone</h1>
  {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

  {% set insetTextHtml %}
    <p class="govuk-body">We have sent a code to <span class="govuk-body govuk-!-font-weight-bold">********001</span></p>
  {% endset %}

  {{ govukInsetText({
    html: insetTextHtml
  }) }}

  <p class="govuk-body">It might take a few minutes to arrive. The code will expire after 2 hours.</p>

  {{ govukInput({
    label: {
    text: "Enter the 6 digit security code"
    },
    classes: "govuk-input--width-5",
    id: "width-6",
    name: "width-6"
  }) }}

  {% set detailsHtml %}
    <p class="govuk-body govuk-!-margin-bottom-0">
      We can <a href="#">send the code again</a> if the code is not working or you did not receive it.
    </p>
  {% endset %}

  {{ govukDetails({
    summaryText: "Problems with the code?",
    text: detailsHtml | safe
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}

{% endblock %}
