{% extends "_templates/page-template.html" %}

{% set pageHeading = "Subject matter specialist account" %}
{% set backLink = "false" %}
{% set primaryNavActive = "Home" %}
{% set pageType = "Account" %}

{# {% if data.applicationStatus == "In review" %}
  {% set pageHeading = "My application" %}
{% endif %}

{% if data.applicationStatus == "Application accepted" %}
  {% set pageHeading = "My account" %}
  {% set pageType = "Account" %}
{% endif %} #}

{% block content %}

  <div class="govuk-grid-row">
    {% if data.applicationStatus != "Submitted" %}
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
      <p class="govuk-body">Content to be designed.</p>
    </div>
    {% endif %}
    {# Show the success banner if the application has just been submitted #}
    {% if data.applicationStatus == "Submitted" %}
    <div class="govuk-grid-column-full">
      <div class="govuk-width-container">
        <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                  Application submitted
                </h1>
                <!-- <div class="govuk-panel__body">
                  Your reference number<br><strong>HDJ2123F</strong>
                </div> -->
              </div>
              <p class="govuk-body">We have sent a confirmation email to <strong>{{ data.email or "name@email.com" }}</strong>.</p>
              <h2 class="govuk-heading-m">What happens next</h2>
              <p class="govuk-body">
                Your application has been received and will now be reviewed.
              </p>
              <p class="govuk-body">
                We will contact you either to confirm if you have been accepted or rejected, or to ask for more information. You should hear the outcome of your application within 60 days.
              </p>
              <p class="govuk-body">
                <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
              </p>
            </div>
          </div>
        </main>
      </div>
    </div>
  {% endif %}

  {% if data.applicationStatus == "In review" or data.applicationStatus == "Application accepted" %}
    <div class="govuk-grid-column-full">   
      <section class="govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m govuk-!-font-size-27">Status</h2>
        {% include "_includes/summary-cards/application-status.html" %}
      </section>
      {# Include all the application sections #}
      {% include "_includes/shared/application-sections.html" %}
    <div>
  {% endif %}

{% endblock %}