
{% extends "_templates/form-template.html" %}

{% set pageHeading = "Do you want to search for a thing?" %}
{% set backLink = "false" %}
{% set formAction = "/account/check-your-emails" %}
{% set signedOut = "true" %}

{% block formContent %}

  <h1 class="govuk-heading-l">Sign in with your GOV.UK account</h1>

  {{ govukInput({
    label: { 
      classes: "govuk-label--m"
    },
    hint: {
      text: "Enter your email address to sign in."
    },
    classes: "govuk-!-width-two-thirds",
    attributes: {
      spellcheck: "false"
    },
    autocomplete: "email",
    type: "email"
    } | decorateAttributes(data, "data.checkEmail")) }}


  {{ govukButton({
    text: "Continue"
  }) }}

{% endblock %}
