
{% extends "layout.html" %}

{% set serviceName = "Subject matter specialists" %}
{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% set signedOut = "true" %}
{% set backLink = "false" %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/government/organisations">Organisations</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/government/organisations/ofqual">Ofqual</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-margin-bottom-1">
      <h1 class="gem-c-title__text govuk-heading-xl">
        {{ serviceName }}
      </h1>
      <nav class="contents-list" aria-label="Contents" role="navigation" data-module="track-click"></nav>
        <h2 class="govuk-heading-s contents-list__title">
        Contents
        </h2>
        <ol class="govuk-list contents-list__list">
          <li class="contents-list__list-item govuk-body-s">The role</li> 
          <li class="contents-list__list-item"><a href="/subject-matter-specialists/who-can-be-a-specialist" class="contents-list__link govuk-body-s govuk-link">Who can be a subject matter specialist</a></li> 
          <li class="contents-list__list-item"><a href="/subject-matter-specialists/application-process" class="contents-list__link govuk-body-s govuk-link">Application process</a></li>
          <li class="contents-list__list-item"><a href="/subject-matter-specialists/apply-specialists" class="contents-list__link govuk-body-s govuk-link">Apply to be a subject matter specialist</a></li>
          <li class="contents-list__list-item"><a href="/subject-matter-specialists/sign-in-specialists-account" class="contents-list__link govuk-body-s govuk-link">Sign in to your account</a></li>   
        </ol>
      </nav>
    </div>
    <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-margin-top-4">
      <hr>
      <h1 class="govuk-heading-l govuk-!-margin-top-4">The role</h1>
      
      <h2 class="govuk-heading-m">Who are Ofqual? </h2>
      <p>Ofqual is the Office of Qualifications and Examinations Regulation (Ofqual) and we regulate qualifications, examinations and assessments in England. </p>
      
      <h2 class="govuk-heading-m">What is an Ofqual subject matter specialist? </h2>
      <p>Subject matter specialists provide advice to Ofqual to support our work on qualifications and assessments across England. These may include GCSEs, A levels, T Levels, Apprenticeships, functional skills and vocational qualifications.</p>
      <p>Subject matter specialists work on a contractual basis and provide invaluable advice to Ofqual as we carry out our role in regulating qualifications. Subject matter specialists are commissioned for individual assignments as and when Ofqual requires.</p>
      
      <h2 class="govuk-heading-m">What is the role?</h2>
      <p>As a subject matter specialist for Ofqual, you may be contracted to support the review of qualifications and assessments relevant to your subject or occupational areas. You will use communication and analytical judgement skills in the following types of activities:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          reviewing and reporting on the content of qualifications and the quality of their assessments
        </li>
        <li>
          providing specialist opinions to evaluate the validity of qualifications and assessments
        </li>
        <li>
          working on large scale projects where qualifications are being developed
        </li>
        <li>
          contributing to research projects
        </li>
        <li>
          attending and contributing to panel meetings to discuss a qualification review
        </li>
        <li>
          completing a written report within an agreed time frame
        </li>
      </ul>

      <h2 class="govuk-heading-m">Will I be paid?</h2>
      <p>If you are commissioned for a piece of work, yes - the pay for each assignment is typically based on a daily standard rate, which will be confirmed by the manager contracting each assignment. </p>
      <p>The rate will be communicated with you prior to any work you are contracted to undertake. </p>

      <h2 class="govuk-heading-m">Will I have to travel?</h2>
      <p>The majority of commissions do not require any travel, as most projects are remote and desk based. </p>
      <p>If Ofqual requires a subject matter specialist to travel to a location, you will be contacted by the commissioning manager to arrange this and any expenses will be discussed. </p>
    </div>
    <div class="govuk-grid-column-one-third-from-desktop app-related govuk-!-margin-top-5">
      <h2 class="govuk-heading-s govuk-!-margin-top-2 govuk-!-margin-bottom-2">
       Related content
      </h2>
      <ul class="app-related__list">
        <li class="app-related__list-item"><a href="https://www.gov.uk/guidance/ofqual-rolling-update" class="govuk-body-s govuk-link">Latest updates from Ofqual </a></li>
        <li class="app-related__list-item"><a href="https://register.ofqual.gov.uk/" class="govuk-body-s govuk-link">Find a regulated qualification or organisation</a></li>
        <li class="app-related__list-item"><a href="https://www.gov.uk/guidance/apply-to-have-your-qualifications-regulated" class="govuk-body-s govuk-link">Apply to have your qualifications regulated</a></li> 
        <li class="app-related__list-item"><a href="https://contact.ofqual.gov.uk/" class="govuk-body-s govuk-link">Contact Ofqual</a></li> 
        
      </ul>
    </div>
  </div>
  <nav class="govuk-pagination govuk-pagination--block" role="navigation" aria-label="results">
    <div class="govuk-pagination__next">
      <a class="govuk-link govuk-pagination__link" href="/subject-matter-specialists/who-can-be-a-specialist" rel="next"> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
          <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
        </svg> <span class="govuk-pagination__link-title">Next</span><span class="govuk-visually-hidden">:</span>
        <span class="govuk-pagination__link-label">Who can be a subject matter specialist</span></a>
    </div>
  </nav>
  
{% endblock %}
