
{% extends "_templates/form-template.html" %}

{% set pageHeading = "Add a conflict of interest" %}
{% set formAction = "./review" %}

{% block formContent %}

  <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

  <p class="govuk-body">You will be able to add more potential conflicts of interest after you finish telling us about the first one.</p>

  {{ govukInput({
    label: {
      text: "Name of organisation",
      classes: "govuk-label--m"
    }
  } | decorateAttributes(data, "data.conflictOrganisation")) }}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Type of conflict",
        classes: "govuk-fieldset__legend--m"
      }
    },
    hint: {
      text: "Select one per conflict"
    },
    items: [
      {
        text: "I am an employee of an Awarding Organisation that is regulated by Ofqual"
      },
      {
        text: "I work for an Awarding Organisation as an external consultant or advisor"
      },
      {
        text: "I have previously been employed or contracted by an Awarding Organisation"
      },
      {
        text: "I have an immediate family member who is employed or contracted by an Awarding Organisation"
      },
      {
        text: "I am or have been employed or contracted by an exam board that is not regulated by Ofqual"
      },
      {
        text: "Other"
      }
    ]
  } | decorateAttributes(data, "data.conflictType")) }}

  {{ govukTextarea({
    label: {
      text: "Details of conflict",
      classes: "govuk-label--m"
    },
    hint: {
      text: "By providing further details, we may be able to manage the conflict and the type of work that you may be contracted to complete"
    }
  } | decorateAttributes(data, "data.conflictDetails")) }}

  {% set startDateHintHtml %}
    For example, <time datetime="">3 2019</time>
  {% endset %}

  {{ govukDateInput({
    id: data[roleStartDate],
    namePrefix: data[roleStartDate],
    fieldset: {
      legend: {
      text: "Add the start date",
      classes: "govuk-fieldset__legend--m"
      }
    },
    hint: {
      html: startDateHintHtml
    },
    items: [
        {
          name: "month",
          classes: "govuk-input--width-2",
          value: data[roleStartDate][month]
        },
        {
          name: "year",
          classes: "govuk-input--width-4",
          value: data[roleStartDate][year]
        }
      ]
  }) }}

  {% set conditionalCloseDateHtml %}

    {% set startDateHintHtml %}
      For example, <time datetime="">5 2021</time>
    {% endset %}

    {{ govukDateInput({
      id: data[roleEndDate],
      namePrefix: data[roleEndDate],
      fieldset: {
        legend: {
        text: "Add the end date",
        classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        html: startDateHintHtml
      },
      items: [
          {
            name: "month",
            classes: "govuk-input--width-2",
            value: data.roleEndDate.month
          },
          {
            name: "year",
            classes: "govuk-input--width-4",
            value: data.roleEndDate.year
          }
        ]
    }) }}

  {% endset %}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Is this a current conflict of interest?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        text: "Yes"
      },
      {
        text: "No",
        conditional: {
          html: conditionalCloseDateHtml
        }
      }
    ]
  } | decorateAttributes(data, "data.currentConflict")) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
    <a class="govuk-link govuk-body" href="/application">Cancel</a>
  </div>

{% endblock %}
