
{% extends "_templates/form-template.html" %}

{% set pageHeading = "Do you have any potential conflicts of interests?" %}
{% set formAction = "/conflict-of-interest-answer" %}

{% block formContent %}

  <h1 class="govuk-heading-l">Conflict of interest</h1>
  <p class="govuk-body">Conflicts of interests include any affiliations with awarding organisations, or with other educational organisations, such as the Department for Education (DfE) or Institute for Apprenticeships and Technical Education (IfATE).</p>
  <p class="govuk-body">The work that subject matter specialists carry out for Ofqual varies, therefore it is important that Ofqual is aware of any potential conflicts so that we are able to manage these appropriately.</p>
  <p class="govuk-body">Conflicts of interest may be recent or historic, and it is important to inform Ofqual of your potential conflicts as the types of work that you may be contracted to complete will vary.</p>
  <p class="govuk-body">Failure to inform Ofqual about any potential conflicts of interest may result in your application being rejected during the evaluation stage.  Once approved, your conflicts of interest need to be kept up to date, failure to do so may result in Ofqual ending your contract with immediate affect.</p>

  {{ govukRadios({
    fieldset: {
      legend: {
        text: pageHeading,
        classes: "govuk-fieldset__legend--m",
        isPageHeading: true
      }
    },
    items: [
      {
        text: "Yes"
      },
      {
        text: "No"
      }
    ]
  } | decorateAttributes(data, "data.conflictOfInterest")) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Save and continue"
    }) }}
    <a class="govuk-link govuk-body" href="/application">Cancel</a>
  </div>

{% endblock %}
