// Template for overrirdes 

.start-page {
    .govuk-header + .govuk-phase-banner {
        display: none;
    }
}

.display-none {
    display: none;
}

.display-flex {
    display: flex;
}

.border-bottom-none {
    border-bottom: none;
}

.vertical-align {
    vertical-align: top;
}

@include govuk-media-query($from: tablet) {
.float-right {
    float: right;
}

.x-govuk-summary-card {
    @include govuk-responsive-margin(8, "top");
}

.govuk-heading-l {
    margin-top: 20px;
}
}
