.app-notification-number {
  @include govuk-font($size: 14, $line-height: 1.25);
  border-radius: 50%;
  background-color: govuk-colour('red');
  color: govuk-colour('white');
  font-weight: bold;
  width: 22px;
  height: 20px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  // position: absolute;
  top: -0px;
  right: 0;
  margin-left: 2px;
  padding-top: 2px;
}

.moj-primary-navigation__link:focus {
  .app-notification-number  {
    background-color: $govuk-focus-text-colour;
  }
}

.moj-side-navigation {
  padding-top: 5px;
}

.moj-side-navigation {
  padding-top: 5px;
}

@include govuk-media-query($from: tablet) {
  .moj-side-navigation {
    display: flex;
    }
}
