// Summary card
.x-govuk-summary-card {
    margin-bottom: govuk-spacing(8) !important;
    
    & + .x-govuk-summary-card {
        margin-top: govuk-spacing(8) !important;
    }
    
    .x-govuk-summary-card__title {
        font-weight: 700;
    }

    .x-govuk-summary-card__title .govuk-heading-m {
        font-size: 24px !important;
    }
    
}
