{% extends "_templates/page-template.html" %}

{% set pageHeading = "Your application" %}
{% set backLink = "false" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-2">{{ pageHeading }}</h1>
      <p class="govuk-hint govuk-!-margin-bottom-6">Last saved: <time datetime="">{{ "" | today |  govukDate }}, 14:54</time></p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <section class="govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m">Personal details</h2>
        <ul class="app-task-list">
          {{ appTaskListItem({
            name: 'Personal information',
            href: 'application/personal-details',
            taskName: data.personalDetails
          })}}
        </ul>
      </section>

      <section class="govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m">Qualification details</h2>
         <ul class="app-task-list">
            {{ appTaskListItem({
              name: 'Title here',
              href: '#',
              taskName: data['task--name-contact']
            })}}
          </ul>
      </section>
      
      {# <section class="govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m">Expertise details</h2>
        <ul class="app-task-list">
          {{ appTaskListItem({
            name: 'Title here',
            url: '#',
            taskName: data['task--name-contact']
          })}}
        </ul>
      </section>
      
      <section class="govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m">References</h2>
        <ul class="app-task-list">
          {{ appTaskListItem({
            name: 'Title here',
            url: '#',
            taskName: data['task--name-contact']
          })}}
        </ul>
      </section>
      
      <section class="govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m">ID check</h2>
        <ul class="app-task-list">
          {{ appTaskListItem({
            name: 'Title here',
            url: '#',
            taskName: data['task--name-contact']
          })}}
        </ul>
      </section>
      
      <section class="govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m">Personal statement</h2>
        <ul class="app-task-list">
          {{ appTaskListItem({
            name: 'Title here',
            url: '#',
            taskName: data['task--name-contact']
          })}}
        </ul>
      </section> #}

      <h2 class="govuk-heading-m">Review and send</h2>

      <p class="govuk-body">Review and send your application to Ofqual.</p>

      {# Clear out the errors on the review page if they exist  #}
      {# {% set reviewPageHref %}
        {% if data.applicationIncomplete == "true" %}
          /application/review?showErrors=false
        {% else %}
          /application/review?applicationIncomplete=false
        {% endif %}
      {% endset %}  #}
      
      {{ govukButton({
        text: "Review your application",
        href: " /application/review?showErrors=false"
      }) }}

    </div>
    <div class="govuk-grid-column-one-third">
      <aside class="app-related" role="complementary">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-2" id="support-title">Get help</h2>
        <ul class="govuk-list govuk-!-font-size-16">
          <li>Call 0800 389 2500 or email <a class="govuk-link" href="websupport@ofqual.gov.uk">websupport@ofqual.gov.uk</a></li>
          <li>Monday to Friday, 8:30am to 5:30pm (except public&nbsp;holidays)</li>
          <li>Free of charge</li>
        </ul>
      </aside>
  </div>
  
{% endblock %}