{% extends "_templates/page-template.html" %}

{% set pageHeading = "Your application" %}
{% set backLink = "false" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">{{ pageHeading }}</h1>
      <p class="govuk-hint govuk-!-margin-bottom-6">Last saved <time datetime="">{{ "" | today |  govukDate }}, 14:54</time></p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <section class="govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m govuk-!-font-size-27">Personal details</h2>
        <ul class="app-task-list">
          {{ appTaskListItem({
            name: 'Personal information and contact address',
            href: 'application/personal-details',
            _href: '#',
            taskName: data.personalDetailsCompleted
          })}}
        </ul>
      </section>

      <section class="govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m govuk-!-font-size-27">Education details</h2>
        <ul class="app-task-list">
          {{ appTaskListItem({
            name: 'Your qualifications',
            href: 'application/education',
            taskName: data.educationCompleted
          })}}
          {# {{ appTaskListItem({
            name: 'Professional achievements',
            href: 'application/professional-achievements',
            taskName: data.professionalAchievementDetails
          })}} #}
        </ul>
      </section>

      <section class="govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m govuk-!-font-size-27">Work history</h2>
        <ul class="app-task-list">
          {{ appTaskListItem({
            name: 'Work history',
            href: 'application/experience-details',
            taskName: data.workHistoryCompleted
          })}}
          {{ appTaskListItem({
            name: 'Professional memberships',
            href: 'application/professional-memberships',
            taskName: data.professionalMembershipsCompleted
          })}}
          {{ appTaskListItem({
            name: 'References',
            href: 'application/references',
            taskName: data.referencesCompleted
          })}}
        </ul>
      </section>      
      
      <section class="govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m govuk-!-font-size-27">Subjects that you can provide expertise on</h2>
        <ul class="app-task-list">
          {{ appTaskListItem({
            name: 'Subjects',
            href: 'application/search',
            taskName: data.adviseAreasCompleted
          })}}
        </ul>
      </section>

      <section class="govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m govuk-!-font-size-27">Evidence of expertise</h2>
        <ul class="app-task-list">
          {# If the Subjects of expertise is complete #}
          {% if data.adviseAreasCompleted == "complete" %}
          {# loops through and gets all the checked type of expertise #}
          {% for type in data.expertiseType %}   
            {% if type == "Assessment" %}
              {{ appTaskListItem ({
                name: 'Assessment expertise',
                href: '/assessment-type-answer',
                taskName: data.assessmentExpertiseCompleted
              })}}
            {% endif %}
            {% if type == "Industry, occupational or professional" %}
              {{ appTaskListItem ({
                name: 'Industry, occupational or professional expertise',
                href: '/application/industry-expertise',
                taskName: data.industryExpertiseCompleted
              })}}
            {% endif %}
            {% if type == "Teaching, lecturing or training" %}
              {{ appTaskListItem ({
                name: 'Teaching, lecturing or training expertise',
                href: '/application/teaching-expertise/currently-in-role',
                taskName: data.teachingExpertiseCompleted
              })}}
            {% endif %}
            {% endfor %}
            {{ appTaskListItem({
              name: 'Communication and analytical judgement skills',
              href: 'application/communication-analytical-judgement-skills',
              taskName: data.communicationCompleted
            })}}
            {{ appTaskListItem({
              name: 'Professional achievements',
              href: 'application/professional-achievements',
              taskName: data.professionalAchievementDetails
            })}}
            {# Otherwise Subjects of expertise IS NOT complete #}
            {% else %}
            {{ appTaskListItem({
              name: 'Evidence',
              href: 'application/',
              hint: "Complete subjects first",
              taskName: data.evidenceExpertiseCompleted
            })}}
          {% endif %}
        </ul>
      </section>
      
      <section class="govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m govuk-!-font-size-27">Conflict of interest</h2>
        <ul class="app-task-list">
          {{ appTaskListItem({
            name: 'Conflict of interest',
            href: 'application/conflict-of-interest',
            taskName: data.conflictOfInterestCompleted
          })}}
        </ul>
      </section>

      <section class="govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m govuk-!-font-size-27">Identity and verification checks</h2>
        <ul class="app-task-list">
          {{ appTaskListItem({
            name: 'Self declaration',
            href: 'application/self-declaration',
            taskName: data.declarationCompleted
          })}}
          {{ appTaskListItem({
            name: 'Your right to work status',
            href: 'application/right-to-work',
            taskName: data.rightToWorkCompleted
          })}}
          {{ appTaskListItem({
            name: 'Provide proof of identification',
            href: 'application/verify-your-identity',
            taskName: data.verifyIdentityCompleted
          })}}
        </ul>
      </section>     

      <h2 class="govuk-heading-m govuk-!-font-size-27">Review and send</h2>

      <p class="govuk-body">Review and send your application to Ofqual.</p>

      {# Clear out the errors on the review page if they exist  #}
      {# {% set reviewPageHref %}
        {% if data.applicationIncomplete == "true" %}
          /application/review?showErrors=false
        {% else %}
          /application/review?applicationIncomplete=false
        {% endif %}
      {% endset %}  #}
      
      {{ govukButton({
        text: "Review your application",
        href: " /application/review?showErrors=false"
      }) }}

    </div>
    <div class="govuk-grid-column-one-third">
      <aside class="app-related" role="complementary">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-2" id="support-title">Get help</h2>
        <ul class="govuk-list govuk-!-font-size-16">
          <li>Call 0800 389 2500 or email <a class="govuk-link" href="technical.support@ofqual.gov.uk">technical.support@ofqual.gov.uk</a></li>
          <li>Monday to Friday, 8:30am to 5:30pm (except public&nbsp;holidays)</li>
          <li>Free of charge</li>
        </ul>
      </aside>
  </div>
  
{% endblock %}