{% extends "_templates/page-template.html" %}

{% set pageHeading = "Review your application" %}
{% set backText = "Back to application" %}
{% set backLink = "/application" %}
{% set referrer = "/review" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      
      {# Only show the error summary if one or more of the sections is empty on submit and errors is enabled in the admin settings #}
      {% if data.showErrors == "true" and data.settings.enableErrors == "true" %}
        {{ govukErrorSummary({
          titleText: "Your application cannot be submitted because it’s incomplete",
          errorList: [
            {
              text: "Personal details not marked as complete",
              href: "./personal-details"
            } if data.personalDetailsCompleted != "complete",
            {
              text: "Education and qualifications not marked as complete",
              href: "#"
            } if data.educationCompleted != "complete"
          ]
        }) }}

      {% endif %}

      <h1 class="govuk-heading-xl">{{ pageHeading }}</h1>

      {# Include all the application sections #}
      {% include "_includes/shared/application-sections.html" %}      

      {# Only juggle this url if errors are enabled in the admin settings #}
      {% if data.settings.enableErrors == "true" %}
      {# If there are incomplete sections we want to keep the user on this page and display an error summary  #}
      {# If all sections are complete we send them back to a completed application  #}
        {% set reviewSubmissionHref %}
          {% if data.personalDetailsCompleted != "complete" or data.qualificationDetails != "complete" %}
            /application/review?showErrors=true
          {% else %}
            /application?applicationSubmitted=true
          {% endif %}
        {% endset %}
      {% else %}
        {% set reviewSubmissionHref %}
          /application/submit 
        {% endset %}
      {% endif %}

      {{ govukButton({
        text: "Continue",
        href: reviewSubmissionHref
      }) }}

    </div>
  </div>
  
{% endblock %}