{% extends "_templates/page-template.html" %}

{% set pageHeading = "Review your application" %}
{% set backText = "Back to application" %}
{% set backLink = "/application" %}
{% set referrer = "/review" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      
      {# Only show the error summary if one or more of the sections is empty on submit and errors is enabled in the admin settings #}
      {% if data.showErrors == "true" and data.settings.enableErrors == "true" %}
        {{ govukErrorSummary({
          titleText: "Your application cannot be submitted because it’s incomplete",
          errorList: [
            {
              text: "Personal details not marked as complete",
              href: "./personal-details"
            } if data.personalDetails != "complete",
            {
              text: "Education and qualifications not marked as complete",
              href: "#"
            } if data.educationDetails != "complete"
          ]
        }) }}

      {% endif %}

      <h1 class="govuk-heading-xl">{{ pageHeading }}</h1>

      <section class="govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m govuk-!-font-size-27">Personal details</h2>
        {% if data.personalDetails == "complete" %}
          {% include "_includes/summary-cards/personal-details.html" %}
        {% else %}
          {{ appInsetText({
            sectionName: "Personal details",
            sectionHref: "./personal-details",
            classes: "app-inset-text--error" if data.showErrors == "true"
          })}}
        {% endif %}
      </section>
      
      <section class="govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m govuk-!-font-size-27">Education details</h2>
        {% if data.educationDetails == "complete" %}
          <h2 class="govuk-heading-m">Your qualifications</h2>
          {% include "_includes/summary-cards/qualifications.html" %}
        {% else %}
          {{ appInsetText({
            sectionName: "Your qualifications",
            sectionHref: "./education",
            classes: "app-inset-text--error" if data.showErrors == "true"
          })}}
        {% endif %}
        {# {% if data.professionalAchievementDetails == "complete" %}
          <h2 class="govuk-heading-m">Professional achievements</h2>
          {% include "_includes/summary-cards/professional-achievements.html" %}
        {% else %}
          {{ appInsetText({
            sectionName: "Professional achievements",
            sectionHref: "./professional-achievements",
            classes: "app-inset-text--error" if data.showErrors == "true"
          })}}
        {% endif %} #}
      </section>

      <section class="govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m govuk-!-font-size-27">Work history</h2>
        {% if data.experienceDetails == "complete" %}
          <h2 class="govuk-heading-m">Work history</h2>
          {% include "_includes/summary-cards/experience.html" %}
        {% else %}
          {{ appInsetText({
            sectionName: "Work history",
            sectionHref: "./experience-details",
            classes: "app-inset-text--error" if data.showErrors == "true"
          })}}
        {% endif %} 
        {% if data.experienceDetails == "complete" %}
          <h2 class="govuk-heading-m">professional memberships</h2>
          {% include "_includes/summary-cards/memberships.html" %}
        {% else %}
          {{ appInsetText({
            sectionName: "Professional memberships",
            sectionHref: "./professional-memberships",
            classes: "app-inset-text--error" if data.showErrors == "true"
          })}}
        {% endif %} 
        {% if data.referencesCompleted == "complete" %}
          <h2 class="govuk-heading-m">References</h2>
          {% include "_includes/summary-cards/references.html" %}
        {% else %}
          {{ appInsetText({
            sectionName: "References",
            sectionHref: "./references",
            classes: "app-inset-text--error" if data.showErrors == "true"
          })}}
        {% endif %} 
      </section>

      <section class="govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m govuk-!-font-size-27">Type of expertise</h2>
        {% if data.assessmentExpertiseCompleted == "complete" %}
          <h2 class="govuk-heading-m">Assessment expertise</h2>
          {% include "_includes/summary-cards/assessment-expertise.html" %}
        {% else %}
          {{ appInsetText({
            sectionName: "Assessment expertise",
            sectionHref: "./assessment-expertise",
            classes: "app-inset-text--error" if data.showErrors == "true"
          })}}
        {% endif %}
        {% if data.assessmentExpertiseCompleted == "complete" %}
          <h2 class="govuk-heading-m">Industry or occupational expertise</h2>
          {% include "_includes/summary-cards/industry-expertise.html" %}
        {% else %}
          {{ appInsetText({
            sectionName: "Industry or occupational expertise",
            sectionHref: "./industry-expertise",
            classes: "app-inset-text--error" if data.showErrors == "true"
          })}}
        {% endif %}
        {% if data.assessmentExpertiseCompleted == "complete" %}
          <h2 class="govuk-heading-m">Teaching, lecturing or training expertise</h2>
          {% include "_includes/summary-cards/teaching-expertise.html" %}
        {% else %}
          {{ appInsetText({
            sectionName: "Teaching, lecturing or training expertise",
            sectionHref: "./teaching-expertise",
            classes: "app-inset-text--error" if data.showErrors == "true"
          })}}
        {% endif %}
      </section>
      
      <section class="govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m govuk-!-font-size-27">Areas you can advise on</h2>
        {% if data.areaDetails == "complete" %}
          {% include "_includes/summary-cards/subjects.html" %}
        {% else %}
          {{ appInsetText({
            sectionName: "Subjects and/or sectors you can advise on",
            sectionHref: "./search",
            classes: "app-inset-text--error" if data.showErrors == "true"
          })}}
        {% endif %} 
      </section>
      
      <section class="govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m govuk-!-font-size-27">Conflict of interest</h2>
        {% if data.conflictOfInterestCompleted == "complete" %}
          {% include "_includes/summary-cards/conflict-of-interest.html" %}
        {% else %}
          {{ appInsetText({
            sectionName: "Conflict of interest",
            sectionHref: "./conflict-of-interest",
            classes: "app-inset-text--error" if data.showErrors == "true"
          })}}
        {% endif %} 
      </section>
      
      <section class="govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m govuk-!-font-size-27">Identity and verification checks</h2>
        {% if data.declarationDetails == "complete" %}
          <h2 class="govuk-heading-m">Self declaration</h2>
          {% include "_includes/summary-cards/self-declaration.html" %}
        {% else %}
          {{ appInsetText({
            sectionName: "Self declaration",
            sectionHref: "./self-declaration",
            classes: "app-inset-text--error" if data.showErrors == "true"
          })}}
        {% endif %} 
        {% if data.rightToWorkDetails == "complete" %}
          <h2 class="govuk-heading-m">Your right to work status</h2>
          {% include "_includes/summary-cards/right-to-work.html" %}
        {% else %}
          {{ appInsetText({
            sectionName: "Right to work",
            sectionHref: "./right-to-work",
            classes: "app-inset-text--error" if data.showErrors == "true"
          })}}
        {% endif %} 
        {% if data.verifyIdentityCompleted == "complete" %}
          <h2 class="govuk-heading-m">Verify your identity</h2>
          {% include "_includes/summary-cards/verify.html" %}
        {% else %}
          {{ appInsetText({
            sectionName: "Provide proof of identification",
            sectionHref: "./verify-your-identity",
            classes: "app-inset-text--error" if data.showErrors == "true"
          })}}
        {% endif %} 
      </section>
      

      {# Only juggle this url if errors are enabled in the admin settings #}
      {% if data.settings.enableErrors == "true" %}
      {# If there are incomplete sections we want to keep the user on this page and display an error summary  #}
      {# If all sections are complete we send them back to a completed application  #}
        {% set reviewSubmissionHref %}
          {% if data.personalDetails != "complete" or data.qualificationDetails != "complete" %}
            /application/review?showErrors=true
          {% else %}
            /application?applicationSubmitted=true
          {% endif %}
        {% endset %}
      {% else %}
        {% set reviewSubmissionHref %}
          /application/equality-and-diversity 
        {% endset %}
      {% endif %}

      {{ govukButton({
        text: "Continue",
        href: reviewSubmissionHref
      }) }}

    </div>
  </div>
  
{% endblock %}