
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      
      <h1 class="govuk-heading-l">{{ serviceName }}</h1>
      <p class="govuk-body">Use this service to apply to be an subject matter expert in specific subjects or industries to support Ofqual in regulating a range of qualifications.</p>
      <p class="govuk-body">Ofqual is looking for people across different disciplines to apply to become a subject matter expert. Such as:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>an assessor or an examiner</li>
        <li>have extensive skills and experience in a particular industry</li>
        <li>a teacher, lecturer, trainer, practitioner, or an academic</li>
      </ul>
      <h2 class="govuk-heading-m">Before you start</h2>
      <p class="govuk-body">You can read the <a href="https://www.gov.uk/guidance/apply-to-be-an-external-expert-with-ofqual" class="govuk-link">subject matter experts</a> guidance for further information.</p>
      <p class="govuk-body">You will be asked to provide the following:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Personal details</li>
        <li>Education</li>
        <li>Types of expertise</li>
        <li>Work history</li>
        <li>Areas you can advise on</li>
        <li>Conflicts of interest</li>
        <li>Identity and verification checks</li>
      </ul>
      <p class="govuk-body">You will need certification dates and scanned copies, employment dates and details and scanned copies of identification documents.</p>
      <p class="govuk-body">You can save your application and come back to it at any time.</p>
      {{ govukButton({
        text: "Start your application",
        href: "/application",
        isStartButton: true
      }) }}

    </div>
  </div>

{% endblock %}
