{% extends "_templates/page-template.html" %}

{% set pageHeading = "Submit application" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">{{ pageHeading }}</h1>

      <p class="govuk-body">
        By submitting your application, you are agreeing to the <a href="#" class="govuk-link">terms and conditions</a> of the subject matter experts service.
      </p>
      <p class="govuk-body">
        I confirm that the information given is true, complete and accurate.
      </p>

      {{ govukButton({
        text: "Submit application",
        href: "/dashboard?applicationStatus=Submitted"
      }) }}

    </div>
  </div>
  
{% endblock %}