	    <section class="govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m govuk-!-font-size-27">Personal details</h2>
        {% if data.personalDetailsCompleted == "complete" %}
          {% include "_includes/summary-cards/personal-details.html" %}
        {% else %}
          {{ appInsetText({
            sectionName: "Personal details",
            sectionHref: "./personal-details",
            classes: "app-inset-text--error" if data.showErrors == "true"
          })}}
        {% endif %}
      </section>
      
      <section class="govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m govuk-!-font-size-27">Education details</h2>
        {% if data.educationCompleted == "complete" %}
          <h2 class="govuk-heading-m">Qualifications</h2>
          {% include "_includes/summary-cards/qualifications.html" %}
        {% else %}
          {{ appInsetText({
            sectionName: "Your qualifications",
            sectionHref: "./qualifications",
            classes: "app-inset-text--error" if data.showErrors == "true"
          })}}
        {% endif %}
        {# {% if data.furtherEvidenceDetails == "complete" %}
          <h2 class="govuk-heading-m">Further supporting evidence</h2>
          {% include "_includes/summary-cards/further-evidence.html" %}
        {% else %}
          {{ appInsetText({
            sectionName: "Further supporting evidence",
            sectionHref: "./further-evidence",
            classes: "app-inset-text--error" if data.showErrors == "true"
          })}}
        {% endif %} #}
      </section>

      <section class="govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m govuk-!-font-size-27">Work history</h2>
        {% if data.workHistoryCompleted == "complete" %}
          <h2 class="govuk-heading-m">Work history</h2>
          {% include "_includes/summary-cards/work-history.html" %}
        {% else %}
          {{ appInsetText({
            sectionName: "Work history",
            sectionHref: "./work-history",
            classes: "app-inset-text--error" if data.showErrors == "true"
          })}}
        {% endif %} 
        {% if data.workHistoryCompleted == "complete" %}
          <h2 class="govuk-heading-m">Professional memberships</h2>
          {% include "_includes/summary-cards/memberships.html" %}
        {% else %}
          {{ appInsetText({
            sectionName: "Professional memberships",
            sectionHref: "./professional-memberships",
            classes: "app-inset-text--error" if data.showErrors == "true"
          })}}
        {% endif %} 
        {% if data.referencesCompleted == "complete" %}
          <h2 class="govuk-heading-m">References</h2>
          {% include "_includes/summary-cards/references.html" %}
        {% else %}
          {{ appInsetText({
            sectionName: "References",
            sectionHref: "./references",
            classes: "app-inset-text--error" if data.showErrors == "true"
          })}}
        {% endif %} 
      </section>
      
      <section class="govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m govuk-!-font-size-27">Subject or occupational areas</h2>
        {% if data.adviseAreasCompleted == "complete" %}
          {% include "_includes/summary-cards/subjects.html" %}
        {% else %}
          {{ appInsetText({
            sectionName: "Subject or occupational areas",
            sectionHref: "./search",
            classes: "app-inset-text--error" if data.showErrors == "true"
          })}}
        {% endif %} 
      </section>

      <section class="govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m govuk-!-font-size-27">Evidence of experience</h2>
        {# If the Subjects of expertise is NOT complete #}
        {% if data.adviseAreasCompleted != "complete" %}
          <p class="govuk-body">You must complete subject or occupational area(s) first.</p>
        {# Otherwise Subjects of expertise IS complete #}
        {% else %}
          {% for type in data.expertiseType %}
            {% if type == "Assessment" %}
              {% if data.assessmentExpertiseCompleted == "complete" %}
                <h2 class="govuk-heading-m">Assessment experience</h2>
                {% include "_includes/summary-cards/assessment-experience.html" %}
                {% else %}
                {{ appInsetText ({
                  sectionName: 'Assessment experience',
                  sectionHref: '/assessment-type-answer',
                  classes: "app-inset-text--error" if data.showErrors == "true"
                })}}
              {% endif %}
            {% endif %}
            {% if type == "Industry, occupational or professional" %}
              {% if data.industryExpertiseCompleted == "complete" %}
                <h2 class="govuk-heading-m">Industry, occupational or professional experience</h2>
                {% include "_includes/summary-cards/industry-experience.html" %}
                {% else %}
                {{ appInsetText ({
                  sectionName: "Industry, occupational or professional experience",
                  sectionHref: "./industry-experience",
                  classes: "app-inset-text--error" if data.showErrors == "true"
                })}}
              {% endif %}
            {% endif %}
            {% if type == "Teaching, lecturing or training" %}
              {% if data.teachingExpertiseCompleted == "complete" %}
                <h2 class="govuk-heading-m">Teaching, lecturing or training experience</h2>
                {% include "_includes/summary-cards/teaching-experience.html" %}
                {% else %}
                {{ appInsetText ({
                  sectionName: "Teaching, lecturing or training experience",
                  sectionHref: "/teaching-type-answer",
                  classes: "app-inset-text--error" if data.showErrors == "true"
                })}}
              {% endif %}
            {% endif %}
          {% endfor %}
          {% if data.communicationCompleted == "complete" %}
          <h2 class="govuk-heading-m">Communication and analytical judgement skills</h2>
          {% include "_includes/summary-cards/communication-analytical-judgement-skills.html" %}
        {% else %}
          {{ appInsetText({
            sectionName: "Communication and analytical judgement skills",
            sectionHref: "./communication-analytical-judgement-skills",
            classes: "app-inset-text--error" if data.showErrors == "true"
          })}}
        {% endif %} 
        {% if data.furtherEvidenceDetails == "complete" %}
          <h2 class="govuk-heading-m">Further supporting evidence</h2>
          {% include "_includes/summary-cards/further-evidence.html" %}
        {% else %}
          {{ appInsetText({
            sectionName: "Further supporting evidence",
            sectionHref: "./further-evidence",
            classes: "app-inset-text--error" if data.showErrors == "true"
          })}}
        {% endif %} 
        {% endif %}
      </section>
      
      <section class="govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m govuk-!-font-size-27">Conflict of interest</h2>
        {% if data.conflictOfInterestCompleted == "complete" %}
          {% include "_includes/summary-cards/conflict-of-interest.html" %}
        {% else %}
          {{ appInsetText({
            sectionName: "Conflict of interest",
            sectionHref: "./conflict-of-interest",
            classes: "app-inset-text--error" if data.showErrors == "true"
          })}}
        {% endif %} 
      </section>
      
      <section class="govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m govuk-!-font-size-27">Identity and verification checks</h2>
        {% if data.declarationCompleted == "complete" %}
          <h2 class="govuk-heading-m">Self declaration</h2>
          {% include "_includes/summary-cards/self-declaration.html" %}
        {% else %}
          {{ appInsetText({
            sectionName: "Self declaration",
            sectionHref: "./self-declaration",
            classes: "app-inset-text--error" if data.showErrors == "true"
          })}}
        {% endif %} 
        {% if data.verifyIdentityCompleted == "complete" %}
          <h2 class="govuk-heading-m">Identity checks</h2>
          {% include "_includes/summary-cards/verify-identity.html" %}
        {% else %}
          {{ appInsetText({
            sectionName: "Identity checks",
            sectionHref: "./verify-identity",
            classes: "app-inset-text--error" if data.showErrors == "true"
          })}}
        {% endif %} 
      </section>