	    <section class="govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m govuk-!-font-size-27">Personal details</h2>
        {% if data.personalDetailsCompleted == "complete" %}
          {% include "_includes/summary-cards/personal-details.html" %}
        {% else %}
          {{ appInsetText({
            sectionName: "Personal details",
            sectionHref: "./personal-details",
            classes: "app-inset-text--error" if data.showErrors == "true"
          })}}
        {% endif %}
      </section>
      
      <section class="govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m govuk-!-font-size-27">Education details</h2>
        {% if data.educationCompleted == "complete" %}
          <h2 class="govuk-heading-m">Qualifications</h2>
          {% include "_includes/summary-cards/qualifications.html" %}
        {% else %}
          {{ appInsetText({
            sectionName: "Your qualifications",
            sectionHref: "./education",
            classes: "app-inset-text--error" if data.showErrors == "true"
          })}}
        {% endif %}
        {# {% if data.professionalAchievementDetails == "complete" %}
          <h2 class="govuk-heading-m">Professional achievements</h2>
          {% include "_includes/summary-cards/professional-achievements.html" %}
        {% else %}
          {{ appInsetText({
            sectionName: "Professional achievements",
            sectionHref: "./professional-achievements",
            classes: "app-inset-text--error" if data.showErrors == "true"
          })}}
        {% endif %} #}
      </section>

      <section class="govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m govuk-!-font-size-27">Work history</h2>
        {% if data.workHistoryCompleted == "complete" %}
          <h2 class="govuk-heading-m">Work history</h2>
          {% include "_includes/summary-cards/experience.html" %}
        {% else %}
          {{ appInsetText({
            sectionName: "Work history",
            sectionHref: "./experience-details",
            classes: "app-inset-text--error" if data.showErrors == "true"
          })}}
        {% endif %} 
        {% if data.workHistoryCompleted == "complete" %}
          <h2 class="govuk-heading-m">Professional memberships</h2>
          {% include "_includes/summary-cards/memberships.html" %}
        {% else %}
          {{ appInsetText({
            sectionName: "Professional memberships",
            sectionHref: "./professional-memberships",
            classes: "app-inset-text--error" if data.showErrors == "true"
          })}}
        {% endif %} 
        {% if data.referencesCompleted == "complete" %}
          <h2 class="govuk-heading-m">References</h2>
          {% include "_includes/summary-cards/references.html" %}
        {% else %}
          {{ appInsetText({
            sectionName: "References",
            sectionHref: "./references",
            classes: "app-inset-text--error" if data.showErrors == "true"
          })}}
        {% endif %} 
      </section>
      
      <section class="govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m govuk-!-font-size-27">Subjects that you can provide expertise on</h2>
        {% if data.adviseAreasCompleted == "complete" %}
          {% include "_includes/summary-cards/subjects.html" %}
        {% else %}
          {{ appInsetText({
            sectionName: "Subjects that you can provide expertise on",
            sectionHref: "./search",
            classes: "app-inset-text--error" if data.showErrors == "true"
          })}}
        {% endif %} 
      </section>

      <section class="govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m govuk-!-font-size-27">Evidence of expertise</h2>
        {# If the Subjects of expertise is NOT complete #}
        {% if data.adviseAreasCompleted != "complete" %}
          <p class="govuk-body">You must complete subjects that you can provide expertise on first.</p>
        {# Otherwise Subjects of expertise IS complete #}
        {% else %}
          {% for type in data.expertiseType %}
            {% if type == "Assessment" %}
              {% if data.assessmentExpertiseCompleted == "complete" %}
                <h2 class="govuk-heading-m">Assessment expertise</h2>
                {% include "_includes/summary-cards/assessment-expertise.html" %}
                {% else %}
                {{ appInsetText ({
                  sectionName: 'Assessment expertise',
                  sectionHref: '/assessment-type-answer',
                  classes: "app-inset-text--error" if data.showErrors == "true"
                })}}
              {% endif %}
            {% endif %}
            {% if type == "Industry, occupational or professional" %}
              {% if data.industryExpertiseCompleted == "complete" %}
                <h2 class="govuk-heading-m">Industry, occupational or professional expertise</h2>
                {% include "_includes/summary-cards/industry-expertise.html" %}
                {% else %}
                {{ appInsetText ({
                  sectionName: "Industry, occupational or professional expertise",
                  sectionHref: "./industry-expertise",
                  classes: "app-inset-text--error" if data.showErrors == "true"
                })}}
              {% endif %}
            {% endif %}
            {% if type == "Teaching, lecturing or training" %}
              {% if data.teachingExpertiseCompleted == "complete" %}
                <h2 class="govuk-heading-m">Teaching, lecturing or training expertise</h2>
                {% include "_includes/summary-cards/teaching-expertise.html" %}
                {% else %}
                {{ appInsetText ({
                  sectionName: "Teaching, lecturing or training expertise",
                  sectionHref: "/teaching-type-answer",
                  classes: "app-inset-text--error" if data.showErrors == "true"
                })}}
              {% endif %}
            {% endif %}
          {% endfor %}
          {% if data.communicationCompleted == "complete" %}
          <h2 class="govuk-heading-m">Communication, analytical and judgement skills</h2>
          {% include "_includes/summary-cards/communication-analytical-judgement-skills.html" %}
        {% else %}
          {{ appInsetText({
            sectionName: "Communication, analytical and judgement skills",
            sectionHref: "./communication-analytical-judgement-skills",
            classes: "app-inset-text--error" if data.showErrors == "true"
          })}}
        {% endif %} 
        {% if data.professionalAchievementDetails == "complete" %}
          <h2 class="govuk-heading-m">Professional achievements</h2>
          {% include "_includes/summary-cards/professional-achievements.html" %}
        {% else %}
          {{ appInsetText({
            sectionName: "Professional achievements",
            sectionHref: "./professional-achievements",
            classes: "app-inset-text--error" if data.showErrors == "true"
          })}}
        {% endif %} 
        {% endif %}
      </section>
      
      <section class="govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m govuk-!-font-size-27">Conflict of interest</h2>
        {% if data.conflictOfInterestCompleted == "complete" %}
          {% include "_includes/summary-cards/conflict-of-interest.html" %}
        {% else %}
          {{ appInsetText({
            sectionName: "Conflict of interest",
            sectionHref: "./conflict-of-interest",
            classes: "app-inset-text--error" if data.showErrors == "true"
          })}}
        {% endif %} 
      </section>
      
      <section class="govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m govuk-!-font-size-27">Identity and verification checks</h2>
        {% if data.declarationCompleted == "complete" %}
          <h2 class="govuk-heading-m">Self declaration</h2>
          {% include "_includes/summary-cards/self-declaration.html" %}
        {% else %}
          {{ appInsetText({
            sectionName: "Self declaration",
            sectionHref: "./self-declaration",
            classes: "app-inset-text--error" if data.showErrors == "true"
          })}}
        {% endif %} 
        {% if data.rightToWorkCompleted == "complete" %}
          <h2 class="govuk-heading-m">Right to work status</h2>
          {% include "_includes/summary-cards/right-to-work.html" %}
        {% else %}
          {{ appInsetText({
            sectionName: "Right to work",
            sectionHref: "./right-to-work",
            classes: "app-inset-text--error" if data.showErrors == "true"
          })}}
        {% endif %} 
        {% if data.verifyIdentityCompleted == "complete" %}
          <h2 class="govuk-heading-m">Verify your identity</h2>
          {% include "_includes/summary-cards/verify.html" %}
        {% else %}
          {{ appInsetText({
            sectionName: "Provide proof of identification",
            sectionHref: "./verify-your-identity",
            classes: "app-inset-text--error" if data.showErrors == "true"
          })}}
        {% endif %} 
      </section>