{# Set a flag to test of the selected subject has been deleted, this comes fomr the hidden input on the delete screen #}
{% set deletedSubject = data.delete %}

{{ deletedSubject | log }}
{{ data.selectedSubject | log }}

{# If a subject has been selected #}
{% if data.selectedSubject  %}

  {% set qualificationHtml %}
    {# Build an list of the items selected #}
    <ul class="govuk-list">
      {% for qualification in data.selectedQualification %}
        <li>
          {{ qualification }}
        </li>
        {% if "Something that isn't listed" in data.selectedQualification %}
          <li>
            {{ data.selectedQualificationOther }}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endset %} 

  {% set levelHtml %}
    {# Build an list of the items selected #}
    <ul class="govuk-list">
      {% for level in data.selectedLevel %}
        <li>
          {{ level }}
        </li>
        {% if "Something that isn't listed" in data.selectedLevel %}
          <li>
            {{ data.selectedLevelOther }}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endset %}

  {% if deletedSubject != data.selectedSubject %}

    {{ xGovukSummaryCard({
      classes: "govuk-!-margin-bottom-9",
      titleText: data.selectedSubject,
      actions: {
        items: [{
          text: "Delete choice",
          visuallyHiddenText: data.selectedSubject,
          href: "./delete?delete=" + data.selectedSubject
        }]
      },
      rows: [
        {
          key: {
            text: "Area of expertise"
          },
          value: { 
            text: "Academic subjects"
          }
        },
        {
          key: {
            text: "Subject"
          },
          value: { 
            text: data.selectedSubject or "Not provided"
          },
          actions: {
            items: [{
              text: "Change",
              visuallyHiddenText: "subject",
              href: "./select-subject"
            }]
          }
        },
        {
          key: {
            text: "Qualifications"
          },
          value: { 
            html: qualificationHtml
          },
          actions: {
            items: [{
              text: "Change",
              visuallyHiddenText: "Qualifications",
              href: "./select-qualification"
            }]
          }
        },
        {
          key: {
            text: "Qualification levels"
          },
          value: { 
            html: levelHtml
          },
          actions: {
            items: [{
              text: "Change",
              visuallyHiddenText: "Qualification levels",
              href: "./select-levels"
            }]
          }
        }
      ]
    }) }}

  {% endif %}

{% endif %}

{# If an occupation has been selected #}
{% if data.selectedOccupation %}
  
  {{ xGovukSummaryCard({
    classes: "govuk-!-margin-bottom-9",
    titleText: data.selectedOccupation,
    actions: {
      items: [{
        text: "Delete choice",
        visuallyHiddenText: data.selectedOccupation,
        href: "/register-your-interest/delete?delete=" + data.selectedOccupation
      }]
    },
    rows: [
      {
        key: {
          text: "Area of expertise"
        },
        value: { 
          text: "Vocational, sector or industry"
        }
      },
      {
        key: {
          text: "Sector"
        },
        value: { 
          text: data.selectedRoute or "Not provided"
        }
      },
      {
        key: {
          text: "Occupation"
        },
        value: { 
          text: data.selectedOccupation or "Not provided"
        },
        actions: {
          items: [{
            text: "Change",
            visuallyHiddenText: "occupation",
            href: "./select-occupation"
          }]
        }
      }
    ]
  }) }}

{% endif %}

{% if not data.selectedArea %}

  {{ appInsetText({
    sectionName: "Expertise details",
    sectionHref: "./../expertise",
    classes: "app-inset-text--error" if data.showErrors == "true"
  })}}

{% endif %}