{% set levelsHtmlCareServices %}
    
    {% if data.level.careServices %}
      
      {% if data.level.careServices == "An option that isn't listed" %}
        {{ data.level.careServicesOther }}
      {# if not either of these two, list out the levels #}
      {% elseif data.level.careServices != "I don't know the level" or data.level.careServices != "An option that isn't listed" %}
        <ul class="govuk-list">
          {% for level in data.level.careServices %}
            <li>
              {{ level }}
            </li>
          {% endfor %}
        </ul>
      {# if I dont know, list "I dont know" #}
      {% elseif data.level.careServices == "I don't know the level" %}
        {{ data.level.careServices }}
      {% endif %}

    {% endif %}

  {% endset %}
  
  {% set levelsHtmlBusinessHuman %}
    
    {% if data.level.business.human %}
      
      {% if data.level.business.human == "An option that isn't listed" %}
        {{ data.level.business.humanOther }}
      {# if not either of these two, list out the levels #}
      {% elseif data.level.business.human != "I don't know the level" or data.level.business.human != "An option that isn't listed" %}
        <ul class="govuk-list">
          {% for level in data.level.business.human %}
            <li>
              {{ level }}
            </li>
          {% endfor %}
        </ul>
      {# if I dont know, list "I dont know" #}
      {% elseif data.level.business.human == "I don't know the level" %}
        {{ data.level.business.human }}
      {% endif %}

    {% endif %}

  {% endset %}
  
  {% set levelsHtmlBusinessManagement %}
    
    {% if data.level.business.management %}
      
      {% if data.level.business.management == "An option that isn't listed" %}
        {{ data.level.business.managementOther }}
      {# if not either of these two, list out the levels #}
      {% elseif data.level.business.management != "I don't know the level" or data.level.business.management != "An option that isn't listed" %}
        <ul class="govuk-list">
          {% for level in data.level.business.management %}
            <li>
              {{ level }}
            </li>
          {% endfor %}
        </ul>
      {# if I dont know, list "I dont know" #}
      {% elseif data.level.business.management == "I don't know the level" %}
        {{ data.level.business.management }}
      {% endif %}

    {% endif %}

  {% endset %}

  {% if data.pathway.business %}
  
    {% if "Human resources" in data.pathway.business and data.confirmDeleteBuisnessHuman != "true" %}

        {{ xGovukSummaryCard({
          classes: "govuk-!-margin-bottom-9",
          titleText: "Business and administration",
          actions: {
            items: [{
              text: "Delete choice",
              visuallyHiddenText: "Business and administration - Human resources",
              href: "/register-your-interest/delete?delete=deleteBuisnessHuman"
            }]
          },
          rows: [{
            key: {
              text: "Area of focus"
            },
            value: { 
              text: "Human resources"
            },
            actions: {
              items: [{
                text: "Change",
                visuallyHiddenText: "area of focus",
                href: "./select-pathways-business"
              }]
            }
          },{
            key: {
              text: "Qualification level/s of expertise"
            },
            value: { 
              html: levelsHtmlBusinessHuman
            },
            actions: {
              items: [{
                text: "Change",
                visuallyHiddenText: "qualification level/s of expertise ",
                href: "./select-levels-business#human-resources"
              }]
            }
          }]
        }) }}

    {% endif %}

    {% if "Management and administration" in data.pathway.business and data.confirmDeleteBuisnessManagement != "true" %}
    
        {{ xGovukSummaryCard({
          classes: "govuk-!-margin-bottom-9",
          titleText: "Business and administration",
          actions: {
            items: [
            {
              text: "Delete choice",
              visuallyHiddenText: " management and administration",
              href: "/register-your-interest/delete?delete=deleteBuisnessManagement"
            }
            ]
          },
          rows: [{
            key: {
              text: "Area of focus"
            },
            value: { 
              text: "Management and administration"
            },
            actions: {
              items: [{
                text: "Change",
                visuallyHiddenText: "area of focus",
                href: "./select-pathways-business"
              }]
            }
          },{
            key: {
              text: "Qualifcation level/s of expertise"
            },
            value: { 
              html: levelsHtmlBusinessManagement
            },
            actions: {
              items: [{
                text: "Change",
                visuallyHiddenText: "qualifcation level/s of expertise ",
                href: "./select-levels-business#management-and-administration"
              }]
            }
          }]
        }) }}
    {% endif %}

  {% endif %}

  {% if data.route %}

    {% if "Care services" in data.route and data.confirmDeleteCareServices != "true" %}
    
      {{ xGovukSummaryCard({
        classes: "govuk-!-margin-bottom-9",
        titleText: "Care services",
        actions: {
          items: [{
            text: "Delete choice",
            visuallyHiddenText: "Care services",
            href: "/register-your-interest/delete?delete=deleteCareServices"
          }]
        },
        rows: [{
          key: {
            text: "Area of focus"
          },
          value: { 
            text: "Care services"
          }
        },{
          key: {
            text: "Qualifcation level/s of expertise"
          },
          value: { 
            html: levelsHtmlCareServices
          },
          actions: {
            items: [{
              text: "Change",
              visuallyHiddenText: "qualifcation level/s of expertise ",
              href: "./select-levels-care-services"
            }]
          }
        }]
      }) }}

    {% endif %}

  {% endif %}