
{% extends "_templates/page-template.html" %}

{% set pageHeading = "Apply to provide expertise" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

    <p class="govuk-body">Use this service to Apply to provide expertise to regulating qualifications and assessments with Ofqual.</p>

    {{ govukButton({
      text: "Start now",
      href: "./account",
      isStartButton: true
    }) }}  

    <h2 class="govuk-heading-m">Before you start</h2>
    <p class="govuk-body">Check what qualifications you’ll need. You’ll also need to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li class="govuk-body">this thing</li>
      <li class="govuk-body">another thing</li>
    </ul>

    <h2 class="govuk-heading-m">Get advice and support</h2>
    <p class="govuk-body">You can get more information here...</p>
    
    </div>
  </div>

{% endblock %}
