
{% extends "_templates/form-template.html" %}

{% set pageHeading = "Admin settings" %}
{% set formAction = "/application" %}

{% block formContent %}

  <h1 class="govuk-heading-l">Admin settings<h1>
  
  {{ govukCheckboxes({
    fieldset: {
      legend: {
        text: "Enable errors on application review screen",
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        value: "true",
        text: "Enable errors"
      }
    ]
  } | decorateAttributes(data, "data.settings.enableErrors")) }}
  

  {# <h2 class="govuk-heading-m">Searching for subjects/qualifications<h2>

   {{ govukRadios({
    items: [
      {
        text: "Version 1",
        hint: {
          text: "Search by acamedic or vocational subjects"
        }
      },
      {
        text: "Version 2",
        hint: {
          text: "Search by qualification or sub-sector subject area"
        }
      }
    ]
  } | decorateAttributes(data, "data.settings.searchApproach")) }} #}
  

  {{ govukButton({
    text: "Update settings"
  }) }}

{% endblock %}
