
{% extends "_templates/form-template.html" %}

{% set pageHeading = "Admin settings" %}
{% set formAction = "/application" %}

{% block formContent %}

  <h1 class="govuk-heading-l">Admin settings<h1>
  
  {{ govukCheckboxes({
    fieldset: {
      legend: {
        text: "Enable errors on application review screen",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [
      {
        value: "true",
        text: "Enable errors"
      }
    ]
  } | decorateAttributes(data, "data.settings.enableErrors")) }}

  <hr class="govuk-section-break govuk-section-break--visible">
  
  <h2 class="govuk-heading-l">Types of expertise<h2>
  
  {{ govukCheckboxes({
    fieldset: {
      legend: {
        text: "Enable assessment expertise",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [
      {
        text: "Yes"
      }
    ]
  } | decorateAttributes(data, "data.anyAssessmentExpertise")) }}  
  
  {{ govukCheckboxes({
    fieldset: {
      legend: {
        text: "Enable industry or occupational expertise",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [
      {
        text: "Yes"
      }
    ]
  } | decorateAttributes(data, "data.anyIndustryExpertise")) }}  
  
  {{ govukCheckboxes({
    fieldset: {
      legend: {
        text: "Enable teaching, lecturing or training expertise",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [
      {
        text: "Yes"
      }
    ]
  } | decorateAttributes(data, "data.anyTeachingExpertise")) }}  

  <h2 class="govuk-heading-l">Areas you can advise on<h2>

  {{ govukCheckboxes({
    fieldset: {
      legend: {
        text: "Enable areas you can advise on",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [
      {
        text: "Yes"
      }
    ]
  } | decorateAttributes(data, "data.adviseAreasCompleted")) }}

  {# <hr class="govuk-section-break govuk-section-break--visible">

  <h2 class="govuk-heading-l">View the application in various states<h2>
  <h3 class="govuk-heading-s">Before submit<h3>

  <p class="govuk-body"><a href="/populate-application" class="govuk">View a completed application</a></p>

  <h3 class="govuk-heading-s">After submit<h3>

  <p class="govuk-body"><a href="/application-submitted-in-review" class="govuk">View a submitted application: "In review"</a></p>
  <p class="govuk-body"><a href="/application-submitted-accepted" class="govuk">View a submitted application: "Application accepted"</a></p>
  <p class="govuk-body"><a href="#" class="govuk">View a submitted application: "More information required"</a></p> #}
  

  {{ govukButton({
    text: "Update settings"
  }) }}

{% endblock %}
