
{% extends "_templates/form-template.html" %}

{% set pageHeading = "Admin settings" %}
{% set formAction = "/application" %}

{% block formContent %}

  <h1 class="govuk-heading-l">Admin settings</h1>
  
  <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Enable evidence of expertise section</h2>
  <p class="govuk-body govuk-!-margin-bottom-6"><a href="/admin-settings" class="govuk">View with subjects section complete</a></p>
  
  {{ govukCheckboxes({
    fieldset: {
      legend: {
        text: "Enable errors on application review screen",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [
      {
        value: "true",
        text: "Enable errors"
      }
    ]
  } | decorateAttributes(data, "data.settings.enableErrors")) }}

  {{ govukButton({
    text: "Update settings"
  }) }}

{% endblock %}
