{% extends "_templates/page-template.html" %}

{% set backLink = "false" %}
{% set primaryNavActive = "Dashboard" %}

{% if data.applicationStatus == "In review" or data.applicationStatus == "Action required" %}
  {% set pageHeading = "My application" %}
{% endif %}

{% if data.applicationStatus == "Application accepted" %}
  {% set pageHeading = "My account" %}
  {% set pageType = "Dashboard" %}
{% endif %}

{% block content %}

  <div class="govuk-grid-row">
    {# Show the success banner if the application is in review #}
    {% if data.applicationStatus == "In review" %}
      <div class="govuk-grid-column-full">
        {% set html %}
          <h3 class="govuk-notification-banner__heading">
            Application successfully submitted
          </h3>
        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: 'success'
        }) }}
      </div>
    {% endif %}
    
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

      <section class="govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m govuk-!-font-size-27">Status</h2>
        {% include "_includes/summary-cards/application-status.html" %}
      </section>
    
      {# Include the task list #}
      {% include "_includes/shared/application-tasklist.html" %}
    
      {# Include all the application sections #}
      {# {% include "_includes/shared/application-sections.html" %} #}

      </div>

      <div class="govuk-grid-column-one-third">
        <aside class="app-related" role="complementary">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-2" id="support-title">Get help</h2>
          <ul class="govuk-list govuk-!-font-size-16">
            <li>Call 0800 389 2500 or email <a class="govuk-link" href="websupport@ofqual.gov.uk">websupport@ofqual.gov.uk</a></li>
            <li>Monday to Friday, 8:30am to 5:30pm (except public&nbsp;holidays)</li>
            <li>Free of charge</li>
          </ul>
        </aside>
      </div>

  </div>

{% endblock %}