{% extends "layout.html" %}
{% set bodyClasses = "start-page" %}
{% set signedOut = "true" %}
{# {% set hidePrimaryNav = true %} #}

{% block pageTitle %}
  {{ pageHeading }} - GOV.UK
{% endblock %}

{% set pageHeading = serviceName %}

{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}
  <div class="start-page-banner">

    <div class="govuk-width-container">
      <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
          {{ govukTag({
            text: "prototype",
            classes: "govuk-phase-banner__content__tag start-page-banner__tag"
          }) | indent(4) | trim }}
          <span class="govuk-phase-banner__text start-page-banner__text">
            This is a prototype of a new service. <a href="#" class="govuk-link start-page-banner__link">Give feedback to help us improve this service</a>.
          </span>
        </p>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">

          <h1 class="start-page-banner__text start-page-banner__heading govuk-heading-xl">{{pageHeading}}</h1>
          <p class="start-page-banner__text start-page-banner__description govuk-body govuk-!-font-size-27">Provide qualification, assessment or occupational expertise.
          </p>
          <div class="start-page-banner__actions">
            {{ govukButton({
              text: "Sign in",
              href: "/account",
              classes: "start-page-banner__button",
              isStartButton: true
            }) }}
            <p class="govuk-body start-page-banner__text">or
            <a class="govuk-link govuk-link--no-visited-state" href="/account/create-account">create an account</a></p>
          </div>

        </div>
      </div>
    </div>

    </div>

  {# pulls in default gov uk template #}
  {{super()}}
{% endblock %}

{% block content %}

<div class="govuk-grid-row govuk-!-margin-bottom-7">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h2 class="govuk-heading-m">
      What is an Ofqual subject matter expert?
    </h2>
    
    <p>Ofqual is looking for people across different disciplines to apply to become a subject matter expert.</p>

    <p>Subject matter experts work externally from Ofqual supporting work on qualifications and assessments across England. These may include GCSEs, A Levels, T-Levels, Apprenticeships, BTECs, functional skills and vocational qualifications.</p>
    
    <p>Subject matter experts work on a contractual basis when needed and are invaluable to the work Ofqual do to ensure the qualifications that we regulate are fit for purpose, ensuring that the right things can be assessed consistently.</p>

    <h2 class="govuk-heading-m">
      Who should apply?
    </h2>

    <p>We are looking for people from a range of backgrounds, such as:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        an assessor or an examiner
      </li>
      <li>
        have extensive skills and experience in a particular industry
      </li>
      <li>
        a teacher, lecturer, trainer, practitioner, or an academic
      </li>
    </ul>

    <p>For example, a Psychology A Level teacher in a school, a space engineering technician with substantial experience in your field, an exam question writer for an Awarding Organisation, a plumbing apprenticeship end-point assessment assessor.</p>

    <p>There is a vast amount of qualifications that need experts to review and we value the range of skills and experience that subject matter experts can provide.</p>

    <h2 class="govuk-heading-m">
      What is the role?
    </h2>

    <p>As a subject matter expert for Ofqual, you may be contracted to support the review of qualifications relevant to your field, such as:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        comment on the content of qualifications and the quality of their assessments
      </li>
      <li>
        provide specialist opinion, professional insight or industry expertise
      </li>
      <li>
        become involved in large scale projects where qualifications are being developed, or respond to ad hoc queries
      </li>
      <li>
        contribute to research projects
      </li>
      <li>
        attend and contribute to panel meetings to discuss a qualification review
      </li>
      <li>
        complete a written report within an agreed time frame
      </li>
    </ul>

    <h2 class="govuk-heading-m">
      Why should I apply?
    </h2>

    <p>This is a great opportunity to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
         use your professional expertise to help shape and improve the education system
      </li>
      <li>
        be involved in crucial pieces of work that will benefit learners
      </li>
      <li>
        gain an insight into how qualifications are regulated
      </li>
      <li>
        be a representative for your subject or industry
      </li>
    </ul>

    <h2 class="govuk-heading-m">
      Will I be paid?
    </h2>

    <p>Yes - the pay for each assignment is set by the manager contracting the work, with each assignment individually appraised.</p>

    <p>The rate will be communicated with you prior to any work you are contracted to undertake.</p>

    <h2 class="govuk-heading-m">
      How is the application evaluated?
    </h2>

    <p>All applications are evaluated against the eligibility criteria set out in the <a href="#" class="govu-link">Person specification (PDF, 147 KB, 5 pages)</a>.</p>

    <p>Your application will be reviewed on your areas of expertise aligning with the evidence you've provided.  Applicants must undergo satisfactory reference and identity checks and accept our terms and conditions prior to being appointed as a subject matter expert.</p>

    <h2 class="govuk-heading-m">
      What happens after the application is evaluated?
    </h2>
    
    <p>Your application will be accepted or rejected.</p>

    <p>If appointed as a subject matter expert, you will be contracted as an external contractor to carry out specific projects and assignments.</p>

    <p>It is important to note, depending on your area of expertise aligning with Ofqual's or The Department for Education's requirements, commissions are not guaranteed during the contractual period.</p>

    <p>As a subject matter expert, you are expected to complete assignments to a high standard and will receive feedback following the completion of each assignment in the following areas:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        quality of work
      </li>
      <li>
        working independently
      </li>
      <li>
        working to time
      </li>
      <li>
        working to specification
      </li>
      <li>
        professionalism
      </li>
    </ul>
    
    {# <h2 class="govuk-heading-l">
      Latest news and updates
    </h2>

    <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Ofqual are now accepting bids for work</h3>
    <p>20 January 2023</p> 
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus fringilla justo, at bibendum diam gravida vel. In blandit finibus orci, a fringilla massa. Nullam ut elementum neque, eu scelerisque risus. </p> 
    
    <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Complete your ID check be to eligable to bid for work in 2023</h3>
    <p>31 September 2022</p> 
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus fringilla justo, at bibendum diam gravida vel. In blandit finibus orci, a fringilla massa. Nullam ut elementum neque, eu scelerisque risus. </p>

    <p><a href="#" class="govuk-link">More news and updates from {{ pageHeading }}</a>.</p>  #}

  </div>
</div>

{% endblock %}