
{% extends "layout.html" %}
{% set signedOut = "true" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      
      <h1 class="govuk-heading-l">{{ serviceName }} prototype</h1>
      
      <h2 class="govuk-heading-m">Register your interest</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/register-your-interest">Start page</a></li>
      </ul>

      <h2 class="govuk-heading-m">{{ serviceName }}</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/home">Home page (signed out)</a></li>
        <li><a href="/application/start">Start page</a></li>
        <li><a href="/account">Create an account</a></li>
        <li><a href="/application">Your application</a></li>
        <li><a href="/application/equality-and-diversity">Equality and diversity</a></li>
        <li><a href="/application/how-did-you-hear-about-this-service">How did you hear about this service?</a></li>
        <li><a href="/application/submit">Submit application</a></li>
      </ul>
      
      {# <hr class="govuk-section-break govuk-section-break--visible"> #}

      <h2 class="govuk-heading-m">View the application in various states<h2>
      <h3 class="govuk-heading-s">Before submit<h3>

      <p class="govuk-body"><a href="/populate-application-gq" class="govuk">GQ - View a completed application</a></p>
      <p class="govuk-body"><a href="/populate-application-vtq" class="govuk">VTQ - View a completed application</a></p>

      <h3 class="govuk-heading-s">Dashboard - after submit<h3>

      <p class="govuk-body"><a href="/application-submitted-gq-in-review" class="govuk">GQ - View a submitted application (In review)</a></p>
      <p class="govuk-body"><a href="/application-submitted-vtq-in-review" class="govuk">VTQ - View a submitted application (In review)</a></p>
      <p class="govuk-body"><a href="/application-submitted-gq-accepted" class="govuk">GQ - View a submitted application (Application accepted)</a></p>
      <p class="govuk-body"><a href="/application-submitted-vtq-accepted" class="govuk">VTQ - View a submitted application (Application accepted)</a></p>
      
      {# <h2 class="govuk-heading-m">Demos</h2>
      <a href="/application/expertise/select-occupation-demo" class="govuk-body">Select an occupation (Option search/select demo)</a> #}
      
      <h2 class="govuk-heading-m">Admin settings</h2>
      <p class="govuk-body">The <code>Admin</code> section allows us to set up the prototype in different states.</p>
      <a href="/admin" class="govuk-link govuk-body">View admin settings</a>

    </div>
  </div>

{% endblock %}
