
{% extends "layout.html" %}
{% set signedOut = "true" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      
      <h1 class="govuk-heading-l">{{ serviceName }} prototype</h1>
      
      <h2 class="govuk-heading-m">Register your interest</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/register-your-interest">Start page</a></li>
      </ul>

      <h2 class="govuk-heading-m">{{ serviceName }}</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/subject-matter-specialists">GOV.UK start page (signed out)</a></li>
        <li><a href="/one-login">Create a GOV.UK One Login account</a></li>
        <li><a href="/application">Your application</a></li>
        <li><a href="/application/equality-and-diversity">Equality and diversity</a></li>
        <li><a href="/application/how-did-you-hear-about-this-service">How did you hear about this service?</a></li>
        <li><a href="/application/submit">Submit application</a></li>
        <li><a href="/account?applicationStatus=Submitted">Submitted application</a></li>
      </ul>
      
      {# <hr class="govuk-section-break govuk-section-break--visible"> #}

      <h2 class="govuk-heading-m">View the application in various states<h2>
      <h3 class="govuk-heading-s">Before submit<h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/populate-application-gq" class="govuk">GQ - View a completed application</a></li>
        <li><a href="/populate-application-vtq" class="govuk">VTQ - View a completed application</a></li>
        <li><a href="/populate-application-as" class="govuk">Assessment Specialist - View a completed application</a></li>
      </ul>
      <h3 class="govuk-heading-s">Account - after submit<h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/application-submitted-gq" class="govuk">Submitted application (with GQ data)</a></li>
        <li><a href="/application-submitted-vtq" class="govuk">Submitted application (with VTQ data)</a></li>
        <!-- <li><a href="/application-submitted-gq-in-review" class="govuk">GQ - View a submitted application (Awaiting decision)</a></li>
        <li><a href="/application-submitted-vtq-in-review" class="govuk">VTQ - View a submitted application (Awaiting decision)</a></li>
        <li><a href="/application-submitted-as-in-review" class="govuk">Assessment Specialist - View a submitted application (Awaiting decision)</a></li>
        <li><a href="/application-submitted-gq-accepted" class="govuk">GQ - View a submitted application (Accepted)</a></li>
        <li><a href="/application-submitted-vtq-accepted" class="govuk">VTQ - View a submitted application (Accepted)</a></li>
        <li><a href="/application-submitted-as-accepted" class="govuk">Assessment Specialist - View a submitted application (Accepted)</a></li> -->
      </ul>

      {# <h2 class="govuk-heading-m">Demos</h2>
      <a href="/application/expertise/select-occupation-demo" class="govuk-body">Select an occupation (Option search/select demo)</a> #}
      
      <h2 class="govuk-heading-m">Admin settings</h2>
      <p class="govuk-body">The <code>Admin</code> section allows us to set up the prototype in different states.</p>
      <a href="/admin" class="govuk-link govuk-body">View admin settings</a>

    </div>
  </div>

{% endblock %}
