
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-l">Apply to provide expertise prototype</h1>
      <p class="govuk-body">The service is for experienced teachers/trainers/lecturers, assessors and industry professionals.</p>
      <p class="govuk-body">Use this service to apply to be an advisor in specific subjects to support Ofqual, in regulating qualifications, apprenticeships and national assessments.</p>
      <p class="govuk-body">You can save your application and come back to it at any time.</p>
      <h2 class="govuk-heading-m">Before you start</h2>
      <p class="govuk-body">You will be asked to provide the following information:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Contact information</li>
        <li>Education and qualifications</li>
        <li>Work history</li>
        <li>Types of expertise</li>
        <li>Areas you can advise on</li>
        <li>Personal statement</li>
        <li>Verify your identity</li>
      </ul>
      <p class="govuk-body">You will need employment dates, certification details, employment information and verification documents to support your application.</p>
      {{ govukButton({
        text: "Start your application",
        href: "./application",
        isStartButton: true
      }) }}

    </div>
  </div>

{% endblock %}
