{% extends "layout.html" %}

{% block pageTitle %}
  {{ pageHeading }} - {{serviceName}} - GOV.UK
{% endblock %}

{% if not backLink %}
    {% set backLink = 'javascript:history.back();' %}
{% endif %}
{% if not backText %}
    {% set backText = 'Back'  %}
{% endif %}

{% if backLink == 'false' %}
    {% set backLink = false %}
{% endif %}

{% if backText == 'false' %}
    {% set backText = '' %}
{% endif %}

{% block pageNavigation %}
  {% if backLink %}
    {{ govukBackLink({
      text: backText,
      href: backLink
    }) }}
  {% endif %}
{% endblock %}



{% block content %}

  {% if layoutWidth != "fullWidthLayout" %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
  {% endif %}

    <form{% if formAction %} action="{{ formAction }}"{% endif %} method="post" novalidate spellcheck="false">
      {% block formContent %}
      {% endblock %}
    </form>

  {% if layoutWidth != "fullWidthLayout"%}
      </div>
    </div>
  {% endif %}

{% endblock %}



