
{% extends "_templates/form-template.html" %}

{% set serviceName = "Register your interest to be an expert" %}
{% set bodyClasses = "about-you-page" %}
{% set pageHeading = "About you" %}
{% set formAction = "./select-route" %}

{% block formContent %}

  <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

  {{ govukInput({
    label: {
      text: "Full name",
      classes: "govuk-label--s"
    },
    classes: "govuk-input govuk-!-width-two-thirds"
  } | decorateAttributes(data, "data.fullName")) }}

  {{ govukInput({
    label: {
      text: "Email address",
      classes: "govuk-label--s"
    },
    hint: {
      text: "This email will be used to send you updates about your registration"
    },
    classes: "govuk-input govuk-!-width-two-thirds",
    type: "email",
    autocomplete: "email",
    spellcheck: false
  } | decorateAttributes(data, "data.email")) }}

  {% set otherHtml %}
    {{ govukInput({
      classes: "govuk-!-width-two-thirds",
      label: {
        text: "Enter details (optional)",
        classes: "govuk-label--s"
      }
    } | decorateAttributes(data, "data.institutionTypeOther")) }}
  {% endset -%}

  {{ govukCheckboxes({
    fieldset: {
      legend: {
        text: "What type of institution or sector do you currently work in?",
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      text: "Select all that apply"
    },
    items: [
      {
        text: "Further education provider"
      },
      {
        html: "Higher education provider"
      },
      {
        html: "Independent training provider"
      },
      {
        html: "Industry"
      },
      {
        html: "School"
      },
      {
        html: "Sixth form college"
      },
      {
        html: "I'm retired or unemployed"
      },
      {
        divider: "or"
      },
      {
        text: "An option that isn't listed",
        conditional: {
          html: otherHtml
        }
      }
    ]
  } | decorateAttributes(data, "data.institutionType")) }}
  
  {# {{ govukInput({
    label: {
      text: "Job title (optional)",
      classes: "govuk-label--s"
    },
    classes: "govuk-input govuk-!-width-two-thirds"
  } | decorateAttributes(data, "data.jobTitle")) }} #}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Continue"
    }) }}
    <a class="govuk-link" href="./">Cancel</a>
  </div>

{% endblock %}
