
{% extends "_templates/form-template.html" %}

{% set pageHeading = "Is there anythig else you want to tell us?" %}
{% set formAction = "./review" %}

{% block formContent %}

  {{ govukCharacterCount({
    maxlength: 300,
    label: {
      text: pageHeading,
      classes: "govuk-label--l",
      isPageHeading: true
    },
    hint: {
      text: "I wonder what we want to say here."
    }
  } | decorateAttributes(data, "data.anythingElse")) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Continue"
    }) }}
    <a class="govuk-link" href="./">Cancel</a>
  </div>

{% endblock %}
