
{% extends "_templates/form-template.html" %}

{% set serviceName = "Register your interest to be a subject expert" %}
{% set pageHeading = "Is there anything else you want to say? (optional)" %}
{% set formAction = "./review" %}

{% block formContent %}

  {{ govukCharacterCount({
    maxlength: 250,
    label: {
      text: pageHeading,
      classes: "govuk-label--l",
      isPageHeading: true
    },
    hint: {
      text: "This is to give people an opportunity to say something about their levels of experince if it's less than three?"
    }
  } | decorateAttributes(data, "data.additionalInformation")) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Continue"
    }) }}
    <a class="govuk-link" href="./">Cancel</a>
  </div>

{% endblock %}
