
{% extends "_templates/page-template.html" %}

{% set serviceName = "Register your interest to be an expert" %}
{% set pageHeading = "Register your interest with Ofqual" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

    {{ govukPanel({
        titleText: "Your registration has been submitted",
        _html: "Your reference number<br><strong>HDJ2123F</strong>"
      }) }}

      {# <p class="govuk-body">We have sent a confirmation email to email@email.com.</p> #}

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">
        What does happen next? Something here about the new systen that's coming, when we'll be in touch and who they can contact in the meantime.  
      </p>
{# 
      <h2 class="govuk-heading-m">Help improve our services</h2>

      <p class="govuk-body">
        Would you like to help improve our services by being involved in future in user research?
        Email <a href="mailto:user.research@ofqual.gov.uk" class="govuk-link">user.research@ofqual.gov.uk</a> to be told about opportunities to take part in user research.
      </p> #}
    </div>
  </div>

{% endblock %}
