
{% extends "_templates/form-template.html" %}

{% set serviceName = "Register your interest to be an expert" %}
{% set pageHeading = "Review your answers" %}
{% set formAction = "/add-another-answer" %}

{% block formContent %}

  <h1 class="govuk-heading-l">Review your answers</h1>

  <h2 class="govuk-heading-m">About you</h2>

  {% set institutionTypeHtml %}
    {# List the "other" option or the selections #}
    {% if data.institutionType == "An option that isn't listed" %}
      {{ data.institutionTypeOther }}
    {% elseif data.institutionType != "An option that isn't listed" %}
      {# <ul class="govuk-list">
        {% for type in data.institutionType %}
          <li>
            {{ type }}
          </li>
        {% endfor %}
      </ul> #}
      {{ data.institutionType }}
    {% endif %} 
  {% endset %} 
  
  {{ xGovukSummaryCard({
    classes: "govuk-!-margin-bottom-9",
    rows: [{
      key: {
        text: "Full name"
      },
      value: { 
        text: data.fullName or "Not provided"
      },
      actions: {
        items: [{
          text: "Change",
          visuallyHiddenText: "full name",
          href: "./about-you"
        }]
      }
    },{
      key: {
        text: "Email address"
      },
      value: { 
        text: data.email or "Not provided"
      },
      actions: {
        items: [{
          text: "Change",
          visuallyHiddenText: "email address",
          href: "./about-you"
        }]
      }
    },{
      key: {
        text: "What type of institution or sector do you currently work in?"
      },
      value: { 
        text: institutionTypeHtml
      },
      actions: {
        items: [{
          text: "Change",
          visuallyHiddenText: "email address",
          href: "./about-you"
        }]
      }
    }]
  }) }}

  <h2 class="govuk-heading-m">Expertise details</h2>
  
  {% include "_includes/shared/sector-cards.html" %}

  {# <h2 class="govuk-heading-m">Additional information</h2>

  {{ xGovukSummaryCard({
    classes: "govuk-!-margin-bottom-9",
    rows: [{
      key: {
        text: "Additional information"
      },
      value: { 
        text: data.additionalInformation or "Not provided"
      },
      actions: {
        items: [{
          text: "Change",
          visuallyHiddenText: "additional information",
          href: "./anything-else"
        }]
      }
    }]
  }) }} #}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Submit registration",
      href: "./confirmation"
    }) }}
    <a class="govuk-link" href="./">Cancel</a>
  </div>

{% endblock %}
