
{% extends "_templates/form-template.html" %}

{% set pageHeading = "Review your answers" %}
{% set formAction = "/add-another-answer" %}

{% block formContent %}

  <h1 class="govuk-heading-l">Confirm your sectors and areas of focus</h1> 

  {{ data.level.careServices | log }}
  
  {% set levelsHtmlCareServices %}
    
    {% if data.level.careServices %}
      
      {% if data.level.careServices == "Something else that isn't listed" %}
        {{ data.level.careServicesOther }}
      {# if not either of these two, list out the levels #}
      {% elseif data.level.careServices != "I don't know the level" or data.level.careServices != "Something else that isn't listed" %}
        <ul class="govuk-list">
          {% for level in data.level.careServices %}
            <li>
              {{ level }}
            </li>
          {% endfor %}
        </ul>
      {# if I dont know, list "I dont know" #}
      {% elseif data.level.careServices == "I don't know the level" %}
        {{ data.level.careServices }}
      {% endif %}

    {% endif %}

  {% endset %}
  
  {% set levelsHtmlBusinessHuman %}
    
    {% if data.level.business.human %}
      
      {% if data.level.business.human == "Something else that isn't listed" %}
        {{ data.level.business.humanOther }}
      {# if not either of these two, list out the levels #}
      {% elseif data.level.business.human != "I don't know the level" or data.level.business.human != "Something else that isn't listed" %}
        <ul class="govuk-list">
          {% for level in data.level.business.human %}
            <li>
              {{ level }}
            </li>
          {% endfor %}
        </ul>
      {# if I dont know, list "I dont know" #}
      {% elseif data.level.business.human == "I don't know the level" %}
        {{ data.level.business.human }}
      {% endif %}

    {% endif %}

  {% endset %}
  
  {% set levelsHtmlBusinessManagement %}
    
    {% if data.level.business.management %}
      
      {% if data.level.business.management == "Something else that isn't listed" %}
        {{ data.level.business.managementOther }}
      {# if not either of these two, list out the levels #}
      {% elseif data.level.business.management != "I don't know the level" or data.level.business.management != "Something else that isn't listed" %}
        <ul class="govuk-list">
          {% for level in data.level.business.management %}
            <li>
              {{ level }}
            </li>
          {% endfor %}
        </ul>
      {# if I dont know, list "I dont know" #}
      {% elseif data.level.business.management == "I don't know the level" %}
        {{ data.level.business.management }}
      {% endif %}

    {% endif %}

  {% endset %}

  {% if data.pathway.business == "Human Resources" and data.confirmDeleteBuisnessHuman != "true" %}
  
    {{ xGovukSummaryCard({
      classes: "govuk-!-margin-bottom-9",
      titleText: "Business and administration",
      actions: {
        items: [{
          text: "Delete",
          visuallyHiddenText: "Business and administration - Human Resources",
          href: "/register-your-interest/delete?delete=deleteBuisnessHuman"
        }]
      },
      rows: [{
        key: {
          text: "Area of focus"
        },
        value: { 
          text: "Human Resources"
        },
        actions: {
          items: [{
            text: "Change",
            visuallyHiddenText: "area of focus",
            href: "./select-pathways-business"
          }]
        }
      },{
        key: {
          text: "Qualifcation level/s of expertise"
        },
        value: { 
          html: levelsHtmlBusinessHuman
        },
        actions: {
          items: [{
            text: "Change",
            visuallyHiddenText: "qualifcation level/s of expertise ",
            href: "./select-levels-business"
          }]
        }
      }]
    }) }}

  {% endif %}

  {% if data.pathway.business == "Management and Administration" and data.confirmDeleteBuisnessManagement != "true" %}
  
    {{ xGovukSummaryCard({
      classes: "govuk-!-margin-bottom-9",
      titleText: "Business and administration",
      actions: {
        items: [
        {
          text: "Delete",
          visuallyHiddenText: "Care services",
          href: "/register-your-interest/delete?delete=deleteCareServices"
        }
        ]
      },
      rows: [{
        key: {
          text: "Area of focus"
        },
        value: { 
          text: "Management and Administration"
        },
        actions: {
          items: [{
            text: "Change",
            visuallyHiddenText: "area of focus",
            href: "./select-pathways-business"
          }]
        }
      },{
        key: {
          text: "Qualifcation level/s of expertise"
        },
        value: { 
          html: levelsHtmlBusinessManagement
        },
        actions: {
          items: [{
            text: "Change",
            visuallyHiddenText: "qualifcation level/s of expertise ",
            href: "./select-levels-business"
          }]
        }
      }]
    }) }}

  {% endif %}

  {% if data.confirmDeleteCareServices != "true" %}
  
    {{ xGovukSummaryCard({
      classes: "govuk-!-margin-bottom-9",
      titleText: "Care services",
      actions: {
        items: [{
          text: "Delete",
          visuallyHiddenText: "Care services",
          href: "/register-your-interest/delete?delete=deleteCareServices"
        }]
      },
      rows: [{
        key: {
          text: "Area of focus"
        },
        value: { 
          text: "Care services"
        }
      },{
        key: {
          text: "Qualifcation level/s of expertise"
        },
        value: { 
          html: levelsHtmlCareServices
        },
        actions: {
          items: [{
            text: "Change",
            visuallyHiddenText: "qualifcation level/s of expertise ",
            href: "./select-levels-care-services"
          }]
        }
      }]
    }) }}

  {% endif %}
  

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Did you want to add another sector and area of focus",
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        value: "yes",
        text: "Yes, I want to add another sector of expertise"
      },
      {
        value: "no",
        html: "No, I've finished adding my expertise"
      }
    ]
  } | decorateAttributes(data, "data.addAnother")) }}


  <div class="govuk-button-group">
    {{ govukButton({
      text: "Continue"
    }) }}
    <a class="govuk-link" href="./">Cancel</a>
  </div>

{% endblock %}
