
{% extends "_templates/form-template.html" %}

{% set serviceName = "Register your interest to be an expert" %}
{% set pageHeading = "Review your answers" %}
{% set formAction = "/add-another-answer" %}
{% set layoutWidth = "fullWidthLayout" %}

{% block formContent %}

  <h1 class="govuk-heading-l">Confirm your areas of expertise</h1> 
  
  {% include "_includes/shared/sector-cards.html" %}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Did you want to add another sector and area of focus",
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        value: "yes",
        text: "Yes, I want to add another sector of expertise"
      },
      {
        value: "no",
        html: "No, I've finished adding my expertise"
      }
    ]
  } | decorateAttributes(data, "data.addAnother")) }}


  <div class="govuk-button-group">
    {{ govukButton({
      text: "Continue"
    }) }}
    <a class="govuk-link" href="./">Cancel</a>
  </div>

{% endblock %}
