
{% extends "_templates/form-template.html" %}

{% set pageHeading = "What specialisms within" + data.route +  " apply to you?" %}
{% set formAction = "/pathway-levels" %}

{# <span class="govuk-caption-l">{{ data.route }}</span>  
<h1 class="govuk-heading-l">{{ pageHeading }}</h1> #}

{% block formContent %}

  {{ govukCheckboxes({
    fieldset: {
      legend: {
        text: pageHeading,
        classes: "govuk-fieldset__legend--m",
        isPgeHeading: false
      }
    },
    hint: {
      text: "Select all that apply."
    },
    items: [
      {
        value: "Agriculture, Land Management and Production",
        text: "Agriculture, Land Management and Production"
      },
      {
        value: "Animal Care and Management",
        text: "Animal Care and Management"
      }
    ]
  } | decorateAttributes(data, "data.pathway.agriculture")) }}



  <div class="govuk-button-group">
    {{ govukButton({
      text: "Continue"
    }) }}
    <a class="govuk-link" href="#">Cancel</a>
  </div>

{% endblock %}
