
{% extends "_templates/form-template.html" %}

{% set serviceName = "Register your interest to be an expert" %}
{% set formAction = "/select-route-answer" %}

{% set pageHeading %}
  {# the must be on theor second loop #}
  {% if data.route %}
  {# {% if data.route and "Business and administration" in data.route or "Care services" in data.route %}  #}
    Select another sector you have expertise in
  {# must be the first tie on the page #}
  {% else %}
      Select a sector you have expertise in
  {% endif %}
{% endset %}

{% block formContent %}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: pageHeading,
        classes: "govuk-fieldset__legend--l",
        isPgeHeading: true
      }
    },
    hint: {
      text: "You will have the ability to add another sector once you have finished telling us about the first one."
    },
    items: [
      {
        value: "Business and administration",
        text: "Business and administration"
      },
      {
        value: "Care services",
        text: "Care services"
      }
    ]
  } | decorateAttributes(data, "data.route")) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Continue"
    }) }}
    <a class="govuk-link" href="#">Cancel</a>
  </div>

  {% set detailsHtml %}
    <p class="govuk-body">
      If you can't see you secotr that means we don't need you at this time. Thanks though! (this content is tbc)
    </p>
  {% endset %}

  {{ govukDetails({
    summaryText: "What if I can't see my sector?",
    text: detailsHtml | safe
  }) }}

{% endblock %}
