
{% extends "_templates/form-template.html" %}

{% set serviceName = "Register your interest to be a subject expert" %}
{% set pageHeading = "Qualification level details" %}
{% set bodyClasses = "select-levels-page-care" %}
{% set formAction = "./review-sectors" %}

{% block formContent %}

  <span class="govuk-caption-l">{{ data.route }}</span>  
  <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

  <p class="govuk-body">List the qualification levels you can provide experience on for each area of focus. <a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels" class="govuk-link">Learn more about what qualification levels mean</a>.</p>

  {% set otherHtml %}
    {{ govukInput({
      classes: "govuk-!-width-two-thirds",
      label: {
        text: "Provide details (optional)",
        classes: "govuk-label--s"
      }
    } | decorateAttributes(data, "data.level.careServicesOther")) }}
  {% endset -%}
  
  {{ govukCheckboxes({
    fieldset: {
      legend: {
        html: "Which qualification levels for Care services can you provide experience in?",
        classes: "govuk-fieldset__legend--m",
        isPgeHeading: false
      }
    },
    hint: {
      text: "Select all that apply"
    },
    items: [
      {
        value: "Level 1",
        text: "Level 1",
        hint: {
          text: "First certificate or or GCSE - grade 3 or D and below for example"
        }
      },
      {
        value: "Level 2",
        text: "Level 2",
        hint: {
          text: "Intermediate apprenticeship or GCSE - grade 4 or C and above for example"
        }
      },
      {
        value: "Level 3",
        text: "Level 3",
        hint: {
          text: "AS/A level or advanced apprenticeship for example"
        }
      },
      {
        value: "Level 4",
        text: "Level 4",
        hint: {
          text: "Certificate of higher education (CertHE) or higher apprenticeship for example"
        }
      },
      {
        value: "Level 5",
        text: "Level 5",
        hint: {
          text: "Diploma of higher education (DipHE) or foundation degree for example"
        }
      },
      {
        value: "Level 6",
        text: "Level 6",
        hint: {
          text: "Degree apprenticeship, degree with honours, graduate certificate or graduate diploma for example"
        }
      },
      {
        value: "Level 7",
        text: "Level 7",
        hint: {
          text: "Master’s degree, postgraduate certificate or postgraduate diploma for example"
        }
      },
      {
        value: "An option that isn't listed",
        text: "An option that isn't listed",
        conditional: {
          html: otherHtml
        }
      },  
      {
        divider: "or"
      },
      {
        value: "My experience in this subject or occupational area is not related to a qualification level",
        text: "My experience in this subject or occupational area is not related to a qualification level"
      }
    ]
  } | decorateAttributes(data, "data.level.careServices")) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Continue"
    }) }}
    <a class="govuk-link" href="./">Cancel</a>
  </div>

{% endblock %}
