
{% extends "_templates/form-template.html" %}

{% set pageHeading = "Qualification level details" %}
{% set bodyClasses = "select-levels-page-care" %}
{% set formAction = "./review-sectors" %}

{% block formContent %}

  <span class="govuk-caption-l">{{ data.route }}</span>  
  <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

  <p class="govuk-body">List the qualification levels you can provide expertise on for each area of focus. <a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels" class="govuk-link">Learn more about what qualification levels mean</a>.</p>

  {% set otherHtml %}
    {{ govukInput({
      classes: "govuk-!-width-two-thirds",
      label: {
        text: "Enter details of the qualification (optional)",
        classes: "govuk-label--s"
      }
    } | decorateAttributes(data, "data.level.careServicesOther")) }}
  {% endset -%}
  
  {{ govukCheckboxes({
    fieldset: {
      legend: {
        html: "Which qualification levels for Care services can you provide expertise in?",
        classes: "govuk-fieldset__legend--m",
        isPgeHeading: false
      }
    },
    hint: {
      text: "Select all that apply"
    },
    items: [
      {
        value: "Level 1",
        text: "Level 1",
        hint: {
          text: "... for example"
        }
      },
      {
        value: "Level 2",
        text: "Level 2",
        hint: {
          text: "... for example"
        }
      },
      {
        value: "Level 3",
        text: "Level 3",
        hint: {
          text: "A/AS level or advanced apprenticeship for example"
        }
      },
      {
        value: "Level 4",
        text: "Level 4",
        hint: {
          text: "... for example"
        }
      },
      {
        value: "Level 5",
        text: "Level 5",
        hint: {
          text: "Diploma of higher education (DipHE) or foundation degree for example"
        }
      },
      {
        value: "Level 6",
        text: "Level 6",
        hint: {
          text: "... for example"
        }
      },
      {
        value: "Level 7",
        text: "Level 7",
        hint: {
          text: "... for example"
        }
      },
      {
        value: "I don't know the level",
        text: "I don't know the level"
      },
      {
        divider: "or"
      },
      {
        value: "Something else that isn't listed",
        text: "Something else that isn't listed",
        conditional: {
          html: otherHtml
        }
      }
    ]
  } | decorateAttributes(data, "data.level.careServices")) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Continue"
    }) }}
    <a class="govuk-link" href="./">Cancel</a>
  </div>

{% endblock %}
