
{% extends "_templates/form-template.html" %}

{% set serviceName = "Register your interest to be an expert" %}
{% set pageHeading = "What are your areas of expertise within this sector?" %}
{% set formAction = "./select-levels-business" %}

{% block formContent %}

  <span class="govuk-caption-l">{{ data.route }}</span>  
  {% include "_includes/pathways/business.html" %}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Continue"
    }) }}
    <a class="govuk-link" href="#">Cancel</a>
  </div>

{% endblock %}
