
{% extends "_templates/form-template.html" %}

{% set pageHeading = "Whare are your areas of focus?" %}
{% set formAction = "./select-levels" %}

{% block formContent %}

  <span class="govuk-caption-l">{{ data.route }}</span>  
  {% if data.route == "Agriculture, environmental and animal care" %}
    {% include "_includes/pathways/agriculture.html" %}
  {% elseif data.route == "Business and administration" %}
    {% include "_includes/pathways/business.html" %}
  {% endif %}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Continue"
    }) }}
    <a class="govuk-link" href="#">Cancel</a>
  </div>

{% endblock %}
