{% extends "_templates/page-template.html" %}

{% set pageHeading = "Application outcome" %}
{% set primaryNavActive = "Messages" %}
{% set pageType = "Account" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-l">24 Feb 2023 </span>
      <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

      {% if data.applicationStatus == "Rejected" %}
        <p class="govuk-body">Your application has been rejected. </p>
        <p class="govuk-body">Thank you for taking the time to apply to be a Subject matter specialist. Please consider applying again in the future. </p>
        <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Rejection reason and feedback</h2>
          <h3 class="govuk-heading-s">{{ data.selectedSubject }} </h3>
          <h4 class="govuk-heading-s">{{ data.subject1FeedbackCategory }}</h4>
          <p class="govuk-body">{{ data.subject1Feedback }}</p>
          <h3 class="govuk-heading-s">{{ data.selectedSubject2 }} </h3>
          <h4 class="govuk-heading-s">{{ data.subject2FeedbackCategory }}</h4>
          <p class="govuk-body">{{ data.subject2Feedback }}</p>
        <p class="govuk-body govuk-!-margin-bottom-6"><a href="/account/your-details/subjects">View the outcome and feedback by subject</a></p>
        {% elseif data.subject1Status == "Rejected" or data.subject2Status == "Rejected" %}
          <p class="govuk-body">You have been partially approved for 1 subject and unsuccessful for 1 subject.</p>
          {% if data.outcomeOverview1 == "true" %}
          <p class="govuk-body govuk-!-margin-bottom-6"><a href="/account/your-details/outcome-overview">Review the outcome of your application</a></p>
          <p class="govuk-body govuk-!-margin-bottom-6">You will be able to work with us on projects related to your approved subjects once you have completed a supplier maintenance form.</p>
          <p class="govuk-body govuk-!-margin-bottom-6">You will recieve a message with details on how to complete the form shortly.</p>
          {% else %}
          <p class="govuk-body govuk-!-margin-bottom-6"><a href="/account/your-details/subjects">Review the outcome of your application</a></p>
          {% endif %}
        {% elseif data.subject1Status == "Accepted" and data.subject2Status == "Accepted" %}
          <p class="govuk-body">Your application has been approved.</p>
          <p class="govuk-body govuk-!-margin-bottom-6"><a href="/account/your-details/subjects">Review the outcome of your application</a></p>
      {% endif %}
      
    </div>
  </div>  

{% endblock %}