{% extends "_templates/page-template.html" %}

{% set pageHeading = "Further evidence needed for your experience in making assessment judgements" %}
{% set primaryNavActive = "Messages" %}
{% set pageType = "Account" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-l">{{ "" | yesterday |  govukDate }} </span>
      <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
      <p class="govuk-body">To proceed with your application we more information about your experience in <span class="govuk-!-font-weight-bold">Making assessment judgements for {{ data.selectedSubject }}</span>.</h2>
      <p class="govuk-body">In your application you mention the type of work you have done but you haven't told us how many years of experience you have. We also need to know the exact qualifications you worked on, including the awarding body. </p>
      {% if data.makingAssessmentsEvidenceSent == "" %}
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Provide evidence",
            href: "/account/your-details/application/further-evidence-making-assessment-judgements"
          }) }}
        </div>
        {% else %} 
      {% endif %}
      {% if data.makingAssessmentsEvidenceSent == "sent" %}
        <hr>
        <div class="govuk-!-margin-top-6">
          <p class="govuk-caption-m govuk-!-margin-bottom-0">You sent evidence {{ "" | today |  govukDate }}</p>
          <h2 class="govuk-heading-l govuk-!-padding-top-0">Your evidence</h2>
          <p class="govuk-body">{{ data.assessmentJudgementDetailsFurtherEvidence }}</p>
        </div>
        {% else %} 
      {% endif %}
    </div>
  </div>  

{% endblock %}