{% extends "_templates/page-template.html" %}

{% set pageHeading = "Further evidence needed for your identity check" %}
{% set primaryNavActive = "Messages" %}
{% set pageType = "Account" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-l">24 Feb 2023 </span>
      <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
      <p class="govuk-body">To proceed with your application we need more evidence of your identity. </p>      
      <p class="govuk-body govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">A UK or Irish passport</span></p>
      <ul class="govuk-list govuk-list--bullet">
        <li>An official letter or document from a government agency or previous employer, showing your name and National Insurance number</li>
      </ul>
      <p class="govuk-body govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">A UK birth or adoption certificate</span></p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Upload a clear photograph or scanned copy of your UK birth or adoption certificate</li>
      </ul>
      <p class="govuk-body govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">A National Insurance letter</span></p>
      <ul class="govuk-list govuk-list--bullet">
        <li>An official letter or document from a government agency or previous employer, showing your name and National Insurance number</li>
      </ul>
      <p class="govuk-body govuk-!-margin-bottom-6"><a href="/account/your-details/application">View the evidence you've already provided </a></p>

      {% if data.identityCheckReply == "noReply" %}
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Reply to message",
            href: "/account/messages/reply?referrer=identity-check-proof"
          }) }}
        </div>
        {% else %} 
      {% endif %}

      {% if data.identityCheckReply == "replied" %}
        <hr>
        <div class="govuk-!-margin-top-6">
          <p class="govuk-caption-m govuk-!-margin-bottom-0">You replied 1 Mar 2023</p>
          <h2 class="govuk-heading-l govuk-!-padding-top-0">Your reply</h2>
          <p class="govuk-body">{{ data.identityMessageReplyEvidence }}</p>
          <p class="govuk-body govuk-!-margin-bottom-6"><a href="#">{{ data.identityMessageReplyUploadEvidence }}</a></p>
        </div>
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Send another reply",
            href: "/account/messages/reply?referrer=identity-check-proof"
          }) }}
        </div>
        {% else %} 
      {% endif %}
    </div>
  </div>  

{% endblock %}