{% extends "_templates/page-template.html" %}

{% set pageHeading = "Further evidence needed for your experience in teacher training" %}
{% set primaryNavActive = "Messages" %}
{% set pageType = "Account" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-l">24 Feb 2023 </span>
      <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
      <p class="govuk-body">To proceed with your application we need more evidence of your experience in: </p>
      <h2 class="govuk-heading-m"><span class="govuk-!-font-weight-bold">Teacher training</span> for {{ data.selectedSubject2 }} </h2>
      <p class="govuk-body">Please provide information and evidence (examples) about the following areas:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>teaching on a PGCE or similar course</li>
        <li>co-tutoring or where you may have mentored trainee teachers or trainers</li>
      </ul>
      <p class="govuk-body govuk-!-margin-bottom-6"><a href="/account/your-details/application">View the evidence you've already provided </a></p>

      {% if data.teachingEvidenceReply == "noReply" %}
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Reply to message",
            href: "/account/messages/reply?referrer=teaching-evidence"
          }) }}
        </div>
        {% else %}
      {% endif %}

      {% if data.teachingEvidenceReply == "replied" %}
        <hr>
        <div class="govuk-!-margin-top-6">
          <p class="govuk-caption-m govuk-!-margin-bottom-0">You replied 1 Mar 2023</p>
          <h2 class="govuk-heading-l govuk-!-padding-top-0">Your reply</h2>
          <p class="govuk-body">{{ data.accountMessageReplyTeachingEvidence }}</p>
          <p class="govuk-body govuk-!-margin-bottom-6"><a href="#">{{ data.accountMessageReplyUploadTeachingEvidence }}</a></p>
        </div>
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Send another reply",
            href: "/account/messages/reply?referrer=teaching-evidence"
          }) }}
        </div>
        {% else %} 
      {% endif %}
    </div>
  </div>  

{% endblock %}