{% extends "_templates/page-template.html" %}

{% set pageHeading = "Messages" %}
{% set backLink = "false" %}
{% set primaryNavActive = "Messages" %}
{% set pageType = "Account" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if data.referrer == "success" %}
        {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
        {% set html %}
          <h3 class="govuk-notification-banner__heading">
            Your message has been sent.
          </h3>
        {% endset %}
        {{ govukNotificationBanner({
          html: html,
          type: 'success'
        }) }}
        {% else %}
      {% endif %}
    </div>
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
    </div>
    <!-- Inbox taken, and edited, from example in HMRC Personal tax account -->
    <div class="govuk-button-group govuk-grid-column-one-third govuk-!-display-block">
      {{ govukButton({
        text: "Send a message",
        href: "/account/messages/send-message?referrer=",
        classes: "govuk-!-margin-right-0 govuk-button--secondary messages--send-button"
      }) }}
    </div>
    <div class="govuk-grid-column-full">
      <table id="messages-table" class="table--borderless partial-highlight govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden govuk-body">Message status</span></th>
            <th scope="col" class="govuk-table__header">Subject</th>
            <th scope="col" class="messages--govuk-table__cell_last" width="160">Date</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% if data.messageSent == "sent" %}
          <tr class="govuk-table__row clickable-row message read">
            <!-- status -->
            <td class="govuk-table__cell messages--govuk-table__cell messages--marker-column">
              <div>&nbsp;</div>
            </td>
            <!-- sender -->
            <td class="govuk-table__cell messages--govuk-table__cell">
              <div class="message read message-subject govuk-body govuk-!-margin-bottom-1">
                <h2 class="govuk-heading-s govuk-!-font-weight-regular govuk-!-margin-bottom-1">
                  <a href="/account/messages/message-sent?referrer=" class="no--underline message-subject govuk-link" data-sso="false" lang="en">
                    {{ data.accountMessageSubject }}
                  </a>
                </h2>
              </div>
            </td>
            <!-- date -->
            <td valign="top" class="messages--govuk-table__cell_last bold">
              <time datetime="">{{ "" | today |  govukDate }}</time>
              <div>&nbsp;</div>
            </td>
          </tr>
          {% else %}
          {% endif %}
          
          {% if data.applicationStatus == "Accepted" or data.applicationStatus == "Rejected" %}
            {% if data.accountMessageOutcome == "Read" %}
              <tr class="govuk-table__row clickable-row message read">
                <!-- status -->
                <td valign="top" class="govuk-table__cell messages--govuk-table__cell messages--marker-column">
                  <div>&nbsp;</div>
                </td>
                <!-- sender -->
                <td class="govuk-table__cell messages--govuk-table__cell">
                  <div class="message read message-subject govuk-body govuk-!-margin-bottom-1">
                    <h2 class="govuk-heading-s govuk-!-font-weight-regular govuk-!-margin-bottom-1">
                      <a href="/message-outcome" class="no--underline message-subject govuk-link" data-sso="false" lang="en">
                        Application outcome
                      </a>
                    </h2>
                  </div>
              </td>
              <!-- date -->
              <td valign="top" class="messages--govuk-table__cell_last bold">
                <time datetime="">{{ "" | yesterday |  govukDate }}</time>
                <div>&nbsp;</div>
              </td>
            </tr>
            {% else %}
              <tr class="govuk-table__row clickable-row message unread govuk-!-font-weight-bold">
                <!-- status -->
                <td class="govuk-table__cell messages--govuk-table__cell messages--marker-column">
                  <span class="messages--marker-column__marker messages--message-status-marker">Unread</span>
                  <div>&nbsp;</div>
                </td>
                <!-- sender -->
                <td class="govuk-table__cell messages--govuk-table__cell">
                  <div class="message unread message-subject govuk-body govuk-!-margin-bottom-1">
                    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
                      <a href="/message-outcome" class="govuk-!-font-weight-bold no--underline message-subject govuk-link" data-sso="false" lang="en">
                        Application outcome
                      </a>
                    </h2>
                  </div>
                </td>
                <!-- date -->
                <td valign="top" class="messages--govuk-table__cell_last bold">
                  <time datetime="">{{ "" | yesterday |  govukDate }}</time>
                  <div>&nbsp;</div>
                </td>
              </tr>
            {% endif %} 
          {% endif %} 
          
          {% if data.applicationStatus != "Awaiting decision" %} 
            {% if data.accountMessageMakingJudgements == "Read" %}
              <tr class="govuk-table__row clickable-row message read">
                <!-- status -->
                <td valign="top" class="govuk-table__cell messages--govuk-table__cell messages--marker-column">
                  <div>&nbsp;</div>
                </td>
                <!-- sender -->
                <td class="govuk-table__cell messages--govuk-table__cell">
                  {% if data.subjectEvidenceReply == "replied" %}
                    <div class="message read message-subject govuk-body govuk-!-margin-bottom-1">
                      <p class="govuk-body-s govuk-!-margin-bottom-1">You replied <time datetime="">{{ "" | today |  govukDate }}</time></p>
                    </div>
                    {% else %}
                  {% endif %}
                  <div class="message read message-subject govuk-body govuk-!-margin-bottom-1">
                    <h2 class="govuk-heading-s govuk-!-font-weight-regular govuk-!-margin-bottom-1">
                      <a href="/message-further-evidence" class="no--underline message-subject govuk-link" data-sso="false" lang="en">
                        Further evidence needed for your experience in making assessment judgements
                      </a>
                    </h2>
                  </div>
                </td>
                <!-- date -->
                <td valign="top" class="messages--govuk-table__cell_last bold">
                  <time datetime="">{{ "" | yesterday |  govukDate }}</time>
                  <div>&nbsp;</div>
                </td>
              </tr>
              {% else %}
                <tr class="govuk-table__row clickable-row message unread govuk-!-font-weight-bold">
                  <!-- status -->
                  <td class="govuk-table__cell messages--govuk-table__cell messages--marker-column">
                    <span class="messages--marker-column__marker messages--message-status-marker">Unread</span>
                    <div>&nbsp;</div>
                  </td>
                  <!-- sender -->
                  <td class="govuk-table__cell messages--govuk-table__cell">
                    <div class="message unread message-subject govuk-body govuk-!-margin-bottom-1">
                      <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
                        <a href="/message-further-evidence" class="govuk-!-font-weight-bold no--underline message-subject govuk-link" data-sso="false" lang="en">
                          Further evidence needed for your experience in making assessment judgements
                        </a>
                      </h2>
                    </div>
                  </td>
                <!-- date -->
                <td valign="top" class="messages--govuk-table__cell_last bold">
                  <time datetime="">{{ "" | yesterday |  govukDate }}</time>
                  <div>&nbsp;</div>
                </td>
              </tr>
            {% endif %}

            {% if data.accountMessageTeacherTraining == "Read" %}
              <tr class="govuk-table__row clickable-row message read">
                <!-- status -->
                <td valign="top" class="govuk-table__cell messages--govuk-table__cell messages--marker-column">
                  <div>&nbsp;</div>
                </td>
                <!-- sender -->
                <td class="govuk-table__cell messages--govuk-table__cell">
                  {% if data.teachingEvidenceReply == "replied" %}
                    <div class="message read message-subject govuk-body govuk-!-margin-bottom-1">
                      <p class="govuk-body-s govuk-!-margin-bottom-1">You replied <time datetime="">{{ "" | today |  govukDate }}</time></p>
                    </div>
                    {% else %}                
                  {% endif %}
                  <div class="message read message-subject govuk-body govuk-!-margin-bottom-1">
                    <h2 class="govuk-heading-s govuk-!-font-weight-regular govuk-!-margin-bottom-1">
                      <a href="/message-further-evidence-ttraining" class="no--underline message-subject govuk-link" data-sso="false" lang="en">
                        Further evidence needed for your experience in teacher training
                      </a>
                    </h2>
                  </div>
                </td>
                <!-- date -->
                <td valign="top" class="messages--govuk-table__cell_last bold">
                  <time datetime="">{{ "" | yesterday |  govukDate }}</time>
                  <div>&nbsp;</div>
                </td>
              </tr>
            {% else %}
                <tr class="govuk-table__row clickable-row message unread govuk-!-font-weight-bold">
                  <!-- status -->
                  <td class="govuk-table__cell messages--govuk-table__cell messages--marker-column">
                    <span class="messages--marker-column__marker messages--message-status-marker">Unread</span>
                    <div>&nbsp;</div>
                  </td>
                  <!-- sender -->
                  <td class="govuk-table__cell messages--govuk-table__cell">
                    <div class="message unread message-subject govuk-body govuk-!-margin-bottom-1">
                      <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
                        <a href="/message-further-evidence-ttraining" class="govuk-!-font-weight-bold no--underline message-subject govuk-link" data-sso="false" lang="en">
                          Further evidence needed for your experience in teacher training
                        </a>
                      </h2>
                    </div>
                  </td>
                <!-- date -->
                <td valign="top" class="messages--govuk-table__cell_last bold">
                  <time datetime="">{{ "" | yesterday |  govukDate }}</time>
                  <div>&nbsp;</div>
                </td>
              </tr>
            {% endif %}
            {% else %}
          {% endif %}

          {% if data.accountMessageIdentity == "Read" %}
          <tr class="govuk-table__row clickable-row message read">
            <!-- status -->
            <td valign="top" class="govuk-table__cell messages--govuk-table__cell messages--marker-column">
              <div>&nbsp;</div>
            </td>
            <!-- sender -->
            <td class="govuk-table__cell messages--govuk-table__cell">
              {% if data.identityCheckReply == "replied" %}
                <div class="message read message-subject govuk-body govuk-!-margin-bottom-1">
                  <p class="govuk-body-s govuk-!-margin-bottom-1">You replied <time datetime="">{{ "" | today |  govukDate }}</time></p>
                </div>
                {% else %}                
              {% endif %}
              <div class="message read message-subject govuk-body govuk-!-margin-bottom-1">
                <h2 class="govuk-heading-s govuk-!-font-weight-regular govuk-!-margin-bottom-1">
                  <a href="/message-identity" class="no--underline message-subject govuk-link" data-sso="false" lang="en">
                    Verify your identity 
                  </a>
                </h2>
              </div>
            </td>
            <!-- date -->
            <td valign="top" class="messages--govuk-table__cell_last bold">
              <time datetime="">{{ "" | threedaysago |  govukDate }}</time>
              <div>&nbsp;</div>
            </td>
          </tr>
          {% else %}
            <tr class="govuk-table__row clickable-row message unread govuk-!-font-weight-bold">
              <!-- status -->
              <td class="govuk-table__cell messages--govuk-table__cell messages--marker-column">
                <span class="messages--marker-column__marker messages--message-status-marker">Unread</span>
                <div>&nbsp;</div>
              </td>
              <!-- sender -->
              <td class="govuk-table__cell messages--govuk-table__cell">
                <div class="message unread message-subject govuk-body govuk-!-margin-bottom-1">
                  <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
                    <a href="/message-identity" class="govuk-!-font-weight-bold no--underline message-subject govuk-link" data-sso="false" lang="en">
                      Verify your identity 
                    </a>
                  </h2>
                </div>
              </td>
               <!-- date -->
              <td valign="top" class="messages--govuk-table__cell_last bold">
                <time datetime="">{{ "" | threedaysago |  govukDate }}</time>
                <div>&nbsp;</div>
              </td>
            </tr>
          {% endif %}

          <tr class="govuk-table__row clickable-row message read">
            <!-- status -->
            <td valign="top" class="govuk-table__cell messages--govuk-table__cell messages--marker-column">
              <div>&nbsp;</div>
            </td>
            <!-- sender -->
            <td class="govuk-table__cell messages--govuk-table__cell">
              <div class="message read message-subject govuk-body govuk-!-margin-bottom-1">
                {% if data.proofNameChangeReply == "replied" %}
                  <p class="govuk-body-s govuk-!-margin-bottom-1">You replied <time datetime="">{{ "" | today |  govukDate }}</time></p>
                {% else %}
                  <p class="govuk-body-s govuk-!-margin-bottom-1 ">You replied <time datetime="">{{ "" | threedaysago |  govukDate }}</time></p>
                {% endif %}
              </div>
              <div class="message read message-subject govuk-body govuk-!-margin-bottom-1">
                <h2 class="govuk-heading-s govuk-!-font-weight-regular govuk-!-margin-top-1">
                  <a href="/account/messages/name-change-proof?referrer=" class="no--underline message-subject govuk-link" data-sso="false" lang="en">
                    Proof of name change required
                  </a>
                </h2>
              </div>
            </td>
            <!-- date -->
            <td valign="top" class="messages--govuk-table__cell_last ">
              <time datetime="">{{ "" | fivedaysago |  govukDate }}</time>
              <div>&nbsp;</div>
            </td>
          </tr>
          <tr class="govuk-table__row clickable-row message read">
              <!-- status -->
              <td class="govuk-table__cell messages--govuk-table__cell messages--marker-column">
                <div>&nbsp;</div>
              </td>
              <!-- sender -->
              <td class="govuk-table__cell messages--govuk-table__cell">
                <div class="message read message-subject govuk-body govuk-!-margin-bottom-1">
                  <h2 class="govuk-heading-s govuk-!-font-weight-regular govuk-!-margin-bottom-1s">
                    <a href="/account/messages/application-received?referrer=" class="black-text no--underline message-subject govuk-link" data-sso="false" lang="en">
                      Application received
                    </a>
                  </h2>
                </div>
              </td>
              <!-- date -->
              <td valign="top" class="messages--govuk-table__cell_last ">
                <time datetime="">{{ "" | twoweeksago |  govukDate }}</time>
                <div>&nbsp;</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
{% endblock %}