{% extends "_templates/page-template.html" %}

{% set pageHeading %}
  {{ data.accountMessageSubject }}
{% endset %}

{% set primaryNavActive = "Messages" %}
{% set pageType = "Account" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-l"><time datetime="">{{ "" | today |  govukDate }}</time></span>
      <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
      <p class="govuk-body">{{ data.accountMessage }}</p>
      <p><a href="#">{{ data.accountMessageUpload }}</a></p>
    </div>
  </div>  

{% endblock %}